strong {
  font-family: "Lato-Bold";
}

.content-block {
  padding-bottom: 50px;
}
.content-block .block-title {
  margin-bottom: 20px;
}
.content-block .block-desc {
  margin-bottom: 10px;
}
.content-block .block-content {
  padding: 0 15px;
}
.content-block .block-content img {
  max-width: 100%;
  margin: 40px 0;
}
.content-block .block-content p {
  text-align: left;
  font-family: "Lato-Light";
  line-height: 26px;
  font-size: 18px;
}

.delight {
  background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
.delight .block-title, .delight .block-desc, .delight .block-content p {
  color: #fff;
  text-align: center;
}
.delight .values {
  margin: 30px 0;
}
.delight .values .value {
  width: 220px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 30px 0;
  padding: 0 20px;
  box-sizing: border-box;
}
.delight .values .icon {
  width: 92px;
  height: 90px;
  background-image: url(//www.tinypulse.com/hubfs/redesign_2016/about/delight.png);
  background-repeat: no-repeat;
}
.delight .values .icon.icon-2 {
  background-position: -126px 0;
}
.delight .values .icon.icon-3 {
  background-position: -230px 0;
}
.delight .values .icon.icon-4 {
  background-position: -332px 0;
}
.delight .values .icon.icon-5 {
  background-position: -432px 0;
}
.delight .values .icon.icon-6 {
  background-position: -522px 0;
}
.delight .values .icon.icon-7 {
  background-position: -622px 0;
}
.delight .values .text {
  color: #fff;
  font-family: "Lato-Light";
  font-size: 16px;
  line-height: 24px;
}
.delight .values .text:first-letter {
  font-family: "Lato-Semibold";
}
.delight .values span {
  display: inline-block;
}

.donation .activities .activity {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-bottom: 20px;
}
.donation .activities .activity .icon {
  display: inline-block;
}
.donation .activities .activity .icon img {
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}
.donation .activities .activity .text {
  display: block;
  font-size: 16px;
  line-height: normal;
}

.behind-the-curtain {
  background: -moz-linear-gradient(0deg, #1C94EE 0%, #00C26B 98%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(0deg, #1C94EE 0%, #00C26B 98%);
  /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(0deg, #1C94EE 0%, #00C26B 98%);
  padding-bottom: 80px;
}
.behind-the-curtain .block-title, .behind-the-curtain .block-desc, .behind-the-curtain p {
  color: #fff;
}
.behind-the-curtain .block-title {
  margin-bottom: 50px;
}
