.content-block {
  padding: 0 0 30px 0;
}

.cover {
  height: 350px;
  text-align: center;
  background-size: cover;
}

.company-logo {
  max-width: 300px;
  margin-top: 130px;
}

.company-info {
  padding: 30px 0 0;
  text-align: center;
  border-bottom: 1px solid #DADADA;
  margin-bottom: 30px;
}
.company-info .info-group {
  width: 32%;
  display: inline-block;
  vertical-align: top;
}
.company-info .info-group img {
  max-height: 39px;
}
.company-info .info-group .info-title {
  font-family: Lato-Light;
  font-size: 9px;
  line-height: 18px;
}
.company-info .info-group .info-content {
  font-family: Lato-Regular;
  margin-bottom: 50px;
  font-size: 12px;
  line-height: 19px;
}

.company-stats {
  padding-bottom: 50px;
}
.company-stats .recognition, .company-stats .response-feedback {
  max-width: 85%;
  padding-top: 50px;
  text-align: center;
  margin: auto;
}
.company-stats .recognition .title, .company-stats .response-feedback .title {
  font-size: 23px;
  font-weight: 400;
}
.company-stats .recognition .label, .company-stats .response-feedback .label {
  font-size: 14px;
  margin-top: 30px;
}
.company-stats .response-feedback {
  font-size: 0;
  vertical-align: top;
}
.company-stats .response-feedback .response {
  width: 50% !important;
  display: inline-block;
  text-align: center;
}
.company-stats .response-feedback .feedback {
  width: 50% !important;
  display: inline-block;
  text-align: center;
}
.company-stats #recognition, .company-stats #response, .company-stats #feedback {
  margin-top: 40px;
}

.cs-quote {
  background-image: linear-gradient(0deg, #1C94EE 0%, #00C26B 100%);
  border: 1px solid #DADADA;
}
.cs-quote .container {
  max-width: 85% !important;
  margin: 100px auto !important;
  font-size: 30px;
  color: #f37122;
  font-style: italic;
  line-height: 40px;
  text-align: center;
  font-family: Lato-LightItalic;
  font-size: 24px;
  color: #FFFFFF;
}

.ceo {
  background-color: #F2F2F2;
  padding: 30px 5%;
  text-align: center;
}
.ceo .avatar {
  max-width: 175px;
  margin-bottom: 40px;
}
.ceo .info {
  text-align: left;
}
.ceo .info .name, .ceo .info .position {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.ceo .info .description {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
  margin-top: 20px;
}

.specification {
  padding: 20px 5% 40px;
}
.specification .spec .title {
  font-size: 18px;
  line-height: 25px;
  margin: 30px 0 10px;
  text-align: center;
  font-weight: 700;
  line-height: 24px;
}
.specification .spec p {
  font-size: 20px;
  line-height: 28px;
  margin-top: 30px;
  font-family: Lato-Light;
}

svg path.color0 {
  fill: #65adc7;
}
svg path.color1 {
  fill: #dae5e8;
}
svg text {
  font-size: 25px;
  font-weight: 300;
  line-height: 38px;
  fill: #25292a;
}

hr {
  width: 126px;
  margin: 40px auto;
}

.video {
  position: relative;
  padding-top: 56%;
  margin-bottom: 50px;
}
.video iframe {
  width: 100%;
  height: 100%;
  max-width: 720px;
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 960px) {
  .content-block {
    padding: 0 0 50px 0;
  }

  .company-info {
    padding: 50px 0 0;
    margin-bottom: 40px;
  }
  .company-info img {
    max-height: 70px;
  }
  .company-info .info-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .company-info .info-content {
    margin-bottom: 50px;
    font-size: 21px;
    font-weight: bold;
  }

  .cs-quote .container {
    max-width: 960px !important;
  }

  .company-stats .recognition {
    width: 33%;
    display: inline-block;
  }
  .company-stats .response-feedback {
    width: 66%;
    display: inline-block;
    font-size: 0;
    vertical-align: top;
  }
  .company-stats .response-feedback .response {
    width: calc(50% - 1px) !important;
    border-left: 1px solid #dad9db;
    display: inline-block;
    text-align: center;
  }
  .company-stats .response-feedback .feedback {
    width: 50% !important;
    display: inline-block;
    text-align: center;
  }

  .ceo {
    font-size: 0;
  }
  .ceo .container .avatar {
    max-width: 175px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .ceo .container .info {
    width: calc(100% - 330px);
    display: inline-block;
    text-align: left;
    padding-left: 155px;
    vertical-align: top;
  }
  .ceo .container .info .name {
    font-size: 20px;
    font-weight: bold;
  }
  .ceo .container .info .position {
    font-size: 20px;
  }
  .ceo .container .info .description {
    font-size: 16px;
  }

  .specification {
    padding-left: 0;
    padding-right: 0;
  }

  .insight-result {
    font-size: 0;
  }
  .insight-result .spec {
    width: calc(50% - 35px);
    display: inline-block;
    vertical-align: top;
  }
  .insight-result .insight {
    margin-right: 35px;
  }
  .insight-result .result {
    margin-left: 35px;
  }
  .insight-result hr {
    display: none;
  }

  .video {
    padding: 0;
  }
  .video iframe {
    position: static;
    width: 720px;
    height: 405px;
  }
}
