.company-stats .recognition {
  width: 1% !important;
}
.company-stats .response-feedback {
  width: 99% !important;
  padding-top: 0 !important;
}
.company-stats .response-feedback .response {
  border-left: 0 !important;
  width: 100% !important;
  display: block;
}
.company-stats .response-feedback .feedback {
  width: 100% !important;
}

@media screen and (min-width: 960px) {
  .company-stats .recognition {
    width: 1% !important;
  }
  .company-stats .response-feedback {
    width: 99% !important;
    margin-top: 45px;
  }
  .company-stats .response-feedback .response {
    border-left: 0 !important;
    width: 50% !important;
    display: inline-block;
  }
  .company-stats .response-feedback .feedback {
    width: 50% !important;
    display: inline-block;
  }
}
