/* line 7, ../sass/contact.scss */
.contact-header-graphics h2 {
  font-size: 24px;
  color: #FFF;
  font-family: "Lato-Bold";
  line-height: 29px;
  text-align: center;
}

/* line 16, ../sass/contact.scss */
.contact-form .block-desc {
  margin: 0;
}
/* line 19, ../sass/contact.scss */
.contact-form .alert-error {
  font-size: 14px;
  font-family: "Lato-Bold";
  color: #b94a48;
  padding: 15px;
  opacity: 0;
}
/* line 26, ../sass/contact.scss */
.contact-form .error {
  border: 1px solid #b94a48;
}
/* line 29, ../sass/contact.scss */
.contact-form label, .contact-form ul {
  display: none !important;
}
/* line 32, ../sass/contact.scss */
.contact-form fieldset {
  margin: 0 auto !important;
  -webkit-appearance: none;
}
/* line 36, ../sass/contact.scss */
.contact-form form {
  padding: 0 15px;
}
/* line 39, ../sass/contact.scss */
.contact-form input.hs-input, .contact-form textarea, .contact-form select {
  width: 100% !important;
}
/* line 42, ../sass/contact.scss */
.contact-form input, .contact-form textarea, .contact-form select {
  border: 1px solid #DADADA;
  border-radius: 2px;
  margin-bottom: 20px;
  color: #9B9B9B;
  font-size: 14px;
  font-family: "Lato-Semibold";
  box-sizing: border-box;
}
/* line 51, ../sass/contact.scss */
.contact-form input {
  height: 45px;
  padding: 0 15px;
}
/* line 55, ../sass/contact.scss */
.contact-form select {
  height: 45px;
  padding: 0 15px;
  background: transparent;
  -webkit-appearance: none;
}
/* line 61, ../sass/contact.scss */
.contact-form .hs_type {
  position: relative;
}
/* line 63, ../sass/contact.scss */
.contact-form .hs_type .input:after {
  content: "\f078";
  position: absolute;
  right: 24px;
  top: 16px;
  font: normal normal normal 14px/1 FontAwesome;
  -webkit-font-smoothing: antialiased;
  color: #9B9B9B;
}
/* line 73, ../sass/contact.scss */
.contact-form .actions input {
  color: #FFF;
  background-color: #00C26B;
  font-size: 18px;
  font-family: "Lato-Bold";
  padding: 10px 15px;
  border: none;
  width: auto;
  margin-bottom: 0px;
}
/* line 83, ../sass/contact.scss */
.contact-form textarea {
  height: 153px;
  resize: none;
  padding: 15px;
}

/* line 90, ../sass/contact.scss */
.social-share hr {
  color: #DADADA;
  width: 30%;
  margin: 0 auto;
}
/* line 95, ../sass/contact.scss */
.social-share .block-title {
  font-size: 16px;
  color: #4A4A4A;
  font-family: "Lato-Semibold";
  line-height: 19px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 103, ../sass/contact.scss */
.social-share .icons {
  width: 100%;
  text-align: center;
}
/* line 107, ../sass/contact.scss */
.social-share .social-share-icon {
  display: inline-block;
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/social-share-sprite.png);
  background-repeat: no-repeat;
  margin-right: 15px;
  margin-bottom: 50px;
}
/* line 113, ../sass/contact.scss */
.social-share .social-share-icon:hover {
  background-position-y: -35px;
}
/* line 117, ../sass/contact.scss */
.social-share .fb {
  width: 30px;
  height: 30px;
  background-position: 0 0;
  background-size: 133px 65px;
}
/* line 123, ../sass/contact.scss */
.social-share .tw {
  width: 32px;
  height: 30px;
  background-position: -34px 0;
  background-size: 133px 65px;
}
/* line 129, ../sass/contact.scss */
.social-share .in {
  width: 32px;
  height: 30px;
  background-position: -67px 0;
  background-size: 133px 65px;
}
/* line 135, ../sass/contact.scss */
.social-share .gg {
  width: 35px;
  height: 30px;
  background-position: -100px 0;
  background-size: 133px 65px;
  margin-right: 0px;
}

/* line 144, ../sass/contact.scss */
.map {
  width: 100%;
  height: 500px;
  position: relative;
  padding-top: 0;
}
/* line 149, ../sass/contact.scss */
.map:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* line 159, ../sass/contact.scss */
.map.map-clicked:before {
  display: none;
}
/* line 163, ../sass/contact.scss */
.map .container {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}
/* line 170, ../sass/contact.scss */
.map .contact-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 30px 15px 15px;
  box-sizing: border-box;
  margin: 0 auto;
  left: 0;
  right: 0;
}
/* line 181, ../sass/contact.scss */
.map .contact-info p {
  margin: 0;
  font-size: 14px;
  font-family: "Lato-Light";
  margin-bottom: 12px;
}
/* line 186, ../sass/contact.scss */
.map .contact-info p i {
  margin-right: 10px;
  margin-left: 3px;
}
/* line 191, ../sass/contact.scss */
.map .contact-info .title {
  font-size: 22px;
  position: relative;
  padding-top: 10px;
  font-family: "Lato-Regular";
  margin-bottom: 15px;
}
/* line 197, ../sass/contact.scss */
.map .contact-info .title:before {
  content: "";
  background: #F37122;
  height: 2px;
  top: 0;
  left: 0;
  width: 30px;
  position: absolute;
}

@media screen and (min-width: 960px) {
  /* line 210, ../sass/contact.scss */
  .header-graphics {
    height: 400px;
  }
  /* line 212, ../sass/contact.scss */
  .header-graphics .content {
    top: 0px;
  }
  /* line 214, ../sass/contact.scss */
  .header-graphics .content h1 {
    margin-bottom: 0px;
  }

  /* line 219, ../sass/contact.scss */
  .hs-form fieldset {
    max-width: none !important;
  }

  /* line 222, ../sass/contact.scss */
  .social-share {
    margin-left: 30px;
    margin-right: 30px;
  }
  /* line 225, ../sass/contact.scss */
  .social-share .container {
    padding: 0 15px;
  }
  /* line 228, ../sass/contact.scss */
  .social-share hr {
    margin-left: 0px;
  }
  /* line 231, ../sass/contact.scss */
  .social-share .block-title {
    text-align: left;
    padding: 0;
  }
  /* line 235, ../sass/contact.scss */
  .social-share .icons {
    text-align: left;
  }

  /* line 241, ../sass/contact.scss */
  .map .container {
    top: 0;
  }
  /* line 244, ../sass/contact.scss */
  .map .contact-info {
    left: 0;
    right: auto;
    top: 200px;
    width: 375px;
    bottom: auto;
  }
}
