.contact-header-graphics h2 {
  font-size: 24px;
  color: #FFF;
  font-family: "Lato-Bold";
  line-height: 29px;
  text-align: center;
}

.field > label {
  display: none;
}

.field {
  margin-bottom: 20px;
}

.input {
  margin-right: 0px !important;
}

.form-columns-2 .field {
  width: 100% !important;
}

.hs-error-msgs {
  margin: 0px;
  padding: 0px;
}
.hs-error-msgs li {
  list-style: none;
  text-align: left;
}
.hs-error-msgs li label {
  color: #fe2851;
  padding-top: 0;
}

.contact-form h2 {
  text-align: center;
  font-size: 24px;
  letter-spacing: 1.12px;
}
.contact-form .block-desc {
  margin: 0;
}
.contact-form .alert-error {
  font-size: 14px;
  font-family: "Lato-Bold";
  color: #b94a48;
  padding: 15px;
  opacity: 0;
}
.contact-form .error {
  border: 1px solid #b94a48;
}
.contact-form fieldset {
  margin: 0 auto !important;
  -webkit-appearance: none;
}
.contact-form form {
  padding: 0 15px;
}
.contact-form input.hs-input, .contact-form textarea, .contact-form select {
  width: 100% !important;
}
.contact-form input, .contact-form textarea, .contact-form select {
  border: 1px solid #DADADA;
  border-radius: 2px;
  /*margin-bottom: 20px;*/
  font-size: 14px;
  font-family: "Lato-Regular";
  box-sizing: border-box;
  color: #9B9B9B;
}
.contact-form input {
  height: 45px;
  padding: 0 15px;
}
.contact-form select {
  height: 45px;
  padding: 0 15px;
  background: transparent;
  -webkit-appearance: none;
}
.contact-form .hs_type {
  position: relative;
}
.contact-form .hs_type .input:after {
  content: "\f078";
  position: absolute;
  right: 24px;
  top: 16px;
  font: normal normal normal 14px/1 FontAwesome;
  -webkit-font-smoothing: antialiased;
  color: #9B9B9B;
  z-index: -1;
}
.contact-form .actions input {
  color: #FFF;
  background-color: #00C26B;
  font-size: 18px;
  font-family: "Lato-Bold";
  padding: 10px 15px;
  border: none;
  width: auto;
  margin-bottom: 0px;
}
.contact-form textarea {
  height: 153px;
  resize: none;
  padding: 15px;
}

.social-share hr {
  color: #DADADA;
  width: 30%;
  margin: 0 auto;
}
.social-share .block-title {
  font-size: 16px;
  color: #4A4A4A;
  font-family: "Lato-Semibold";
  line-height: 19px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.social-share .icons {
  width: 100%;
  text-align: center;
}
.social-share .social-share-icon {
  display: inline-block;
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/social-share-sprite.png);
  background-repeat: no-repeat;
  margin-right: 15px;
  margin-bottom: 50px;
}
.social-share .social-share-icon:hover {
  background-position-y: -35px;
}
.social-share .fb {
  width: 30px;
  height: 30px;
  background-position: 0 0;
  background-size: 133px 65px;
}
.social-share .tw {
  width: 32px;
  height: 30px;
  background-position: -34px 0;
  background-size: 133px 65px;
}
.social-share .in {
  width: 32px;
  height: 30px;
  background-position: -67px 0;
  background-size: 133px 65px;
}
.social-share .gg {
  width: 35px;
  height: 30px;
  background-position: -100px 0;
  background-size: 133px 65px;
  margin-right: 0px;
}

.map {
  width: 100%;
  height: 500px;
  position: relative;
  padding-top: 0;
}
.map:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.map.map-clicked:before {
  display: none;
}
.map .container {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}
.map .contact-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 30px 15px 15px;
  box-sizing: border-box;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.map .contact-info p {
  margin: 0;
  font-size: 14px;
  font-family: "Lato-Light";
  margin-bottom: 12px;
}
.map .contact-info p i {
  margin-right: 10px;
  margin-left: 3px;
}
.map .contact-info .title {
  font-size: 22px;
  position: relative;
  padding-top: 10px;
  font-family: "Lato-Regular";
  margin-bottom: 15px;
}
.map .contact-info .title:before {
  content: "";
  background: #F37122;
  height: 2px;
  top: 0;
  left: 0;
  width: 30px;
  position: absolute;
}

@media screen and (min-width: 960px) {
  .header-graphics {
    height: 400px;
  }
  .header-graphics .content {
    top: 0px;
  }

  .contact-form h2 {
    font-size: 36px;
  }

  .hs-form fieldset {
    max-width: none !important;
  }

  .hs_name .input, .hs_firstname .input, .hs_phone .input {
    margin-right: 20px !important;
  }

  .form-columns-2 .field {
    width: 50% !important;
  }

  .social-share {
    margin-left: 30px;
    margin-right: 30px;
  }
  .social-share .container {
    padding: 0 15px;
  }
  .social-share hr {
    margin-left: 0px;
  }
  .social-share .block-title {
    text-align: left;
    padding: 0;
  }
  .social-share .icons {
    text-align: left;
  }

  .map .container {
    top: 0;
  }
  .map .contact-info {
    left: 0;
    right: auto;
    top: 160px;
    width: 375px;
    bottom: auto;
  }
}
