@font-face {
  font-family: 'Lato-Regular';
  src: url("fonts/Lato-Regular.eot");
  src: url("fonts/Lato-Regular.woff2") format("woff2"), url("fonts/Lato-Regular.woff") format("woff"), url("fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Light';
  src: url("fonts/Lato-Light.eot");
  src: url("fonts/Lato-Light.woff2") format("woff2"), url("fonts/Lato-Light.woff") format("woff"), url("fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Semibold';
  src: url("fonts/Lato-Semibold.eot");
  src: url("fonts/Lato-Semibold.woff2") format("woff2"), url("fonts/Lato-Semibold.woff") format("woff"), url("fonts/Lato-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Bold';
  src: url("fonts/Lato-Bold.eot");
  src: url("fonts/Lato-Bold.woff2") format("woff2"), url("fonts/Lato-Bold.woff") format("woff"), url("fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Thin';
  src: url("fonts/Lato-Thin.eot");
  src: url("fonts/Lato-Thin.woff2") format("woff2"), url("fonts/Lato-Thin.woff") format("woff"), url("fonts/Lato-Thin.ttf") format("truetype");
}
/* line 1, ../sass/_header.scss */
.banner {
  width: 100%;
  font-family: "Lato-Semibold";
  letter-spacing: 4px;
  line-height: 23px;
  vertical-align: text-bottom;
  text-align: center;
  background: -moz-linear-gradient(45deg, #ff5c5c 0, rgba(152, 44, 129, 0.86) 100%);
  background: -webkit-linear-gradient(45deg, #ff5c5c 0, rgba(152, 44, 129, 0.86) 100%);
  background: linear-gradient(45deg, #ff5c5c 0, rgba(152, 44, 129, 0.86) 100%);
  box-sizing: border-box;
  position: fixed;
  display: none;
}
/* line 14, ../sass/_header.scss */
.banner a {
  color: #FFF;
}
/* line 16, ../sass/_header.scss */
.banner a:hover {
  text-decoration: underline;
}

/* line 21, ../sass/_header.scss */
.close-button {
  position: absolute;
  top: 0;
  right: 8px;
}

/* line 27, ../sass/_header.scss */
header .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  background-size: cover;
  z-index: 0;
  opacity: 0;
}

/* line 36, ../sass/_header.scss */
.main-nav-container {
  display: none;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transform: translate3d(0, 0, 0);
}
/* line 49, ../sass/_header.scss */
.main-nav-container.sticked {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #DADADA;
}
/* line 57, ../sass/_header.scss */
.main-nav-container.sticked .main-nav nav ul li:hover, .main-nav-container.sticked .main-nav nav ul li.active {
  background: rgba(115, 115, 115, 0.3);
}
/* line 60, ../sass/_header.scss */
.main-nav-container.sticked .main-nav nav ul li a {
  color: #4A4A4A;
}
/* line 65, ../sass/_header.scss */
.main-nav-container.sticked .main-nav nav .sub {
  background: #fff;
  border-color: #DADADA;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 3px 3px;
  top: 52px;
}

/* line 78, ../sass/_header.scss */
.main-nav {
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px 10px 0;
  position: relative;
}
/* line 84, ../sass/_header.scss */
.main-nav:after {
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
}
/* line 90, ../sass/_header.scss */
.main-nav .logo {
  display: inline-block;
  width: 99px;
}
/* line 93, ../sass/_header.scss */
.main-nav .logo img {
  width: 100%;
  height: auto;
}
/* line 98, ../sass/_header.scss */
.main-nav nav {
  float: right;
}
/* line 100, ../sass/_header.scss */
.main-nav nav ul {
  margin: 0;
  padding: 0;
}
/* line 103, ../sass/_header.scss */
.main-nav nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  transition: all 0.3s;
  border-radius: 3px;
}
/* line 110, ../sass/_header.scss */
.main-nav nav ul li:hover, .main-nav nav ul li.active {
  background: rgba(0, 0, 0, 0.5);
}
/* line 112, ../sass/_header.scss */
.main-nav nav ul li:hover .sub, .main-nav nav ul li.active .sub {
  height: inherit;
  opacity: 1;
}
/* line 118, ../sass/_header.scss */
.main-nav nav ul li.has-sub:before {
  content: "";
  height: 70px;
  width: 100%;
  display: none;
  position: absolute;
  z-index: 0;
}
/* line 126, ../sass/_header.scss */
.main-nav nav ul li.has-sub:hover:before {
  display: block;
}
/* line 130, ../sass/_header.scss */
.main-nav nav ul li.contact-sales {
  position: relative;
  top: 3px;
}
/* line 133, ../sass/_header.scss */
.main-nav nav ul li.contact-sales a {
  font-size: 24px;
  padding: 0 10px;
}
/* line 138, ../sass/_header.scss */
.main-nav nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 4px 10px 6px;
  font-size: 16px;
  font-family: "Lato-Semibold";
  transition: all 0.3s;
  position: relative;
}
/* line 147, ../sass/_header.scss */
.main-nav nav ul li a.signup {
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 6px 20px 8px;
  line-height: normal;
}
/* line 152, ../sass/_header.scss */
.main-nav nav ul li a.signup:hover {
  background: #fff;
  color: #000;
}
/* line 160, ../sass/_header.scss */
.main-nav nav .sub {
  transition: opacity 0.3s;
  opacity: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  top: 45px;
  left: 0;
}
/* line 171, ../sass/_header.scss */
.main-nav nav .sub li {
  border-radius: 0;
  margin-left: 0;
  display: inline-block;
  width: 100%;
  min-width: 150px;
}
/* line 177, ../sass/_header.scss */
.main-nav nav .sub li a {
  padding: 8px 10px 10px;
}

/* line 185, ../sass/_header.scss */
.main-mobile-nav-container {
  transition: all 0.3s;
}
/* line 188, ../sass/_header.scss */
.main-mobile-nav-container.sticked .triggers {
  background: white;
  box-shadow: 0 0 5px #333;
}
/* line 192, ../sass/_header.scss */
.main-mobile-nav-container.sticked .triggers .hamburger span {
  background: #000;
}
/* line 198, ../sass/_header.scss */
.main-mobile-nav-container.sticked .logo .color {
  opacity: 1;
}
/* line 201, ../sass/_header.scss */
.main-mobile-nav-container.sticked .logo .white {
  opacity: 0;
}
/* line 206, ../sass/_header.scss */
.main-mobile-nav-container .triggers {
  padding: 10px 15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  transition: all 0.3s;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
/* line 220, ../sass/_header.scss */
.main-mobile-nav-container .banner {
  top: 43px;
  z-index: 8;
  font-size: 15px;
  padding: 0 15px;
}
/* line 226, ../sass/_header.scss */
.main-mobile-nav-container .logo {
  display: inline-block;
  width: 120px;
  height: 20px;
  z-index: 10;
  position: relative;
}
/* line 232, ../sass/_header.scss */
.main-mobile-nav-container .logo img {
  transition: all 0.3s;
  width: 100%;
  height: auto;
  position: absolute;
  top: 2px;
}
/* line 239, ../sass/_header.scss */
.main-mobile-nav-container .logo .color {
  opacity: 0;
}
/* line 243, ../sass/_header.scss */
.main-mobile-nav-container .hamburger {
  position: absolute;
  right: 15px;
  top: 13px;
}
/* line 247, ../sass/_header.scss */
.main-mobile-nav-container .hamburger span {
  width: 25px;
  height: 3px;
  margin-bottom: 4px;
  background: #fff;
  display: block;
  transition: all 0.3s;
}
/* line 256, ../sass/_header.scss */
.main-mobile-nav-container .cross {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 5px 15px 0px;
  color: #FFF;
  border: 0;
  font-size: 3em;
  line-height: 40px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10;
  display: none;
  margin: 0;
}
/* line 273, ../sass/_header.scss */
.main-mobile-nav-container nav {
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 60px 10px 40px;
  width: 100%;
  max-width: 375px;
  box-sizing: border-box;
  transform: translateX(400px);
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.5);
}
/* line 286, ../sass/_header.scss */
.main-mobile-nav-container nav:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(https://www.tinypulse.com/hubfs/redesign_2016/engage-bg-small.png);
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  filter: blur(15px);
}
/* line 298, ../sass/_header.scss */
.main-mobile-nav-container nav:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
/* line 307, ../sass/_header.scss */
.main-mobile-nav-container nav ul {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  overflow: auto;
  height: 100%;
}
/* line 315, ../sass/_header.scss */
.main-mobile-nav-container nav ul li {
  list-style-type: none;
  display: inline-block;
  width: 100%;
  position: relative;
  transition: all 0.3s;
  border-radius: 3px;
  margin-bottom: 15px;
}
/* line 324, ../sass/_header.scss */
.main-mobile-nav-container nav ul li.has-sub:before {
  content: "\f078";
  color: #fff;
  position: absolute;
  right: 8px;
  top: 9px;
  font-size: 30px;
  font: normal normal normal 14px/1 FontAwesome;
  -webkit-font-smoothing: antialiased;
  transition: all 0.3s;
}
/* line 336, ../sass/_header.scss */
.main-mobile-nav-container nav ul li.has-sub.expanded > a {
  font-family: "Lato-Bold";
}
/* line 339, ../sass/_header.scss */
.main-mobile-nav-container nav ul li.has-sub.expanded .sub {
  max-height: 300px;
}
/* line 342, ../sass/_header.scss */
.main-mobile-nav-container nav ul li.has-sub.expanded:before {
  transform: rotate(180deg);
}
/* line 347, ../sass/_header.scss */
.main-mobile-nav-container nav ul li.contact-sales {
  position: relative;
  top: 3px;
}
/* line 350, ../sass/_header.scss */
.main-mobile-nav-container nav ul li.contact-sales a {
  font-size: 24px;
  padding: 0 10px;
}
/* line 355, ../sass/_header.scss */
.main-mobile-nav-container nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 4px 10px 6px;
  font-size: 20px;
  font-family: "Lato-Light";
  transition: all 0.3s;
  position: relative;
}
/* line 364, ../sass/_header.scss */
.main-mobile-nav-container nav ul li a.signup {
  border-radius: 3px;
  padding: 6px 20px 8px;
  line-height: normal;
  background: #00C26B;
  text-align: center;
  margin-top: 20px;
}
/* line 371, ../sass/_header.scss */
.main-mobile-nav-container nav ul li a.signup:hover {
  background: #fff;
  color: #00C26B;
}
/* line 379, ../sass/_header.scss */
.main-mobile-nav-container nav .sub {
  transition: max-height 0.3s;
  overflow: hidden;
  max-height: 0;
}
/* line 383, ../sass/_header.scss */
.main-mobile-nav-container nav .sub li {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 20px;
}
/* line 387, ../sass/_header.scss */
.main-mobile-nav-container nav .sub li a {
  font-size: 18px;
}

/* line 400, ../sass/_header.scss */
.mobile-nav-opened .main-mobile-nav-container .triggers .hamburger span:first-child {
  transform: rotate(39deg) translateY(5px) translateX(3px);
}
/* line 402, ../sass/_header.scss */
.mobile-nav-opened .main-mobile-nav-container .triggers .hamburger span:first-child + span {
  transform: scale(0);
}
/* line 406, ../sass/_header.scss */
.mobile-nav-opened .main-mobile-nav-container .triggers .hamburger span:last-child {
  transform: rotate(-39deg) translateY(-7px) translateX(5px);
}
/* line 415, ../sass/_header.scss */
.mobile-nav-opened .main-mobile-nav-container.sticked .triggers .hamburger span {
  background: #000;
}
/* line 421, ../sass/_header.scss */
.mobile-nav-opened .main-mobile-nav-container nav {
  transform: translateX(0);
}

/* line 427, ../sass/_header.scss */
.header-graphics {
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  position: relative;
  display: inline-block;
  width: 100%;
}
/* line 436, ../sass/_header.scss */
.header-graphics .content {
  position: relative;
  display: block;
  padding: 10px;
  margin: 0 auto;
  margin-top: 30px;
}
/* line 442, ../sass/_header.scss */
.header-graphics .content h1 {
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-family: "Lato-Bold";
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 1.5px;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
  text-align: center;
}
/* line 455, ../sass/_header.scss */
.header-graphics .content .sub-headline {
  font-family: "Lato-Regular";
  font-size: 16px;
  color: #FFFFFF;
  margin-top: -10px;
  text-align: center;
}
/* line 462, ../sass/_header.scss */
.header-graphics .content .hbspt-form {
  height: 0;
  overflow: hidden;
}
/* line 466, ../sass/_header.scss */
.header-graphics .content .try-it-form {
  background: rgba(0, 0, 0, 0.6);
  padding: 25px;
  margin: 70px 0 50px 0;
  font-size: 0;
  border-radius: 5px;
}
/* line 472, ../sass/_header.scss */
.header-graphics .content .try-it-form input, .header-graphics .content .try-it-form button {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  border-radius: 4px;
  margin: 0;
  border: 0;
  transition: width 0.3s;
  box-sizing: border-box;
  height: 45px;
  padding: 0 10px;
  min-height: inherit;
  text-transform: none;
}
/* line 486, ../sass/_header.scss */
.header-graphics .content .try-it-form input {
  width: 100%;
  color: #9b9b9b;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Lato-Regular";
  font-size: 15px;
}
/* line 494, ../sass/_header.scss */
.header-graphics .content .try-it-form button {
  width: 100%;
  background: #00C26B;
  color: #fff;
  font-family: "Lato-Semibold";
  font-size: 16px;
}
/* line 500, ../sass/_header.scss */
.header-graphics .content .try-it-form button:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* line 509, ../sass/_header.scss */
.subnav {
  text-align: left;
  height: 40px;
  position: relative;
}
/* line 513, ../sass/_header.scss */
.subnav .container {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c5c+0,982c81+100&1+0,0.86+100
background: -moz-linear-gradient(45deg,  rgba(255,92,92,1) 0%, rgba(152,44,129,0.86) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
/* line 520, ../sass/_header.scss */
.subnav ul {
  margin: 0;
  padding: 0;
  position: relative;
  max-height: 40px;
  overflow: hidden;
  transition: max-height 0.75s;
}
/* line 527, ../sass/_header.scss */
.subnav ul.expanded {
  max-height: 300px;
}
/* line 529, ../sass/_header.scss */
.subnav ul.expanded li {
  display: inline-block;
}
/* line 531, ../sass/_header.scss */
.subnav ul.expanded li:first-child {
  height: 0;
}
/* line 533, ../sass/_header.scss */
.subnav ul.expanded li:first-child a:after {
  content: "\f077";
}
/* line 540, ../sass/_header.scss */
.subnav li {
  list-style: none;
  display: none;
  width: 100%;
}
/* line 544, ../sass/_header.scss */
.subnav li:first-child {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
}
/* line 549, ../sass/_header.scss */
.subnav li:first-child a {
  display: block;
  padding: 0;
  height: 100%;
}
/* line 553, ../sass/_header.scss */
.subnav li:first-child a:after {
  content: "\f078";
  position: absolute;
  right: 15px;
  top: 12px;
  font: normal normal normal 14px/1 FontAwesome;
  -webkit-font-smoothing: antialiased;
}
/* line 563, ../sass/_header.scss */
.subnav li.active {
  display: inline-block;
  font-family: "Lato-Bold";
}
/* line 568, ../sass/_header.scss */
.subnav a {
  display: block;
  font-size: 16px;
  color: #FFF;
  font-family: "Lato-Regular";
  padding: 8px 15px 13px;
}

/* line 577, ../sass/_header.scss */
.subnav-sticked .main-mobile-nav-container {
  transform: translateY(-50px);
}
/* line 581, ../sass/_header.scss */
.subnav-sticked .subnav .container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

@media screen and (min-width: 960px) {
  /* line 591, ../sass/_header.scss */
  .banner {
    z-index: 8;
    font-size: 24px;
    line-height: 31px;
    padding: 10px 15px;
    position: static;
  }

  /* line 598, ../sass/_header.scss */
  .close-button {
    right: 15px;
  }

  /* line 601, ../sass/_header.scss */
  .main-nav-container {
    height: 76px;
    display: block;
  }
  /* line 604, ../sass/_header.scss */
  .main-nav-container.sticked {
    background: #fff;
    height: auto;
  }
  /* line 610, ../sass/_header.scss */
  .main-nav-container.sticked nav ul li a {
    color: #000;
  }
  /* line 612, ../sass/_header.scss */
  .main-nav-container.sticked nav ul li a.signup {
    border-color: #00C26B;
    color: #00C26B;
  }
  /* line 615, ../sass/_header.scss */
  .main-nav-container.sticked nav ul li a.signup:hover {
    background: #00C26B;
    color: #fff;
  }
  /* line 626, ../sass/_header.scss */
  .main-nav-container.sticked .main-nav .logo .color {
    opacity: 1;
  }
  /* line 629, ../sass/_header.scss */
  .main-nav-container.sticked .main-nav .logo .white {
    opacity: 0;
  }

  /* line 637, ../sass/_header.scss */
  .main-nav .logo {
    width: 150px;
    height: 28px;
    margin-top: 0;
    position: relative;
  }
  /* line 642, ../sass/_header.scss */
  .main-nav .logo img {
    transition: all 0.3s;
    position: absolute;
  }
  /* line 646, ../sass/_header.scss */
  .main-nav .logo .color {
    opacity: 0;
  }
  /* line 650, ../sass/_header.scss */
  .main-nav nav {
    display: block;
    margin-top: -5px;
  }

  /* line 656, ../sass/_header.scss */
  .main-mobile-nav-container {
    display: none;
  }

  /* line 660, ../sass/_header.scss */
  .header-graphics {
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/large/header-bg.png);
    height: 620px;
  }
  /* line 663, ../sass/_header.scss */
  .header-graphics .content {
    position: relative;
    top: 5%;
    margin-top: 110px;
    max-width: 600px;
  }
  /* line 668, ../sass/_header.scss */
  .header-graphics .content h1 {
    font-size: 48px;
    margin-bottom: 50px;
  }
  /* line 672, ../sass/_header.scss */
  .header-graphics .content .sub-headline {
    font-size: 22px;
    letter-spacing: 1px;
  }
  /* line 676, ../sass/_header.scss */
  .header-graphics .content .try-it-form {
    max-width: 450px;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 0;
    margin-top: 40px;
  }
  /* line 682, ../sass/_header.scss */
  .header-graphics .content .try-it-form input {
    width: 68%;
    border-radius: 4px 0 0 4px;
    margin: 0;
    text-align: left;
  }
  /* line 688, ../sass/_header.scss */
  .header-graphics .content .try-it-form button {
    width: 32%;
    border-radius: 0 4px 4px 0;
    font-size: 18px;
  }
  /* line 694, ../sass/_header.scss */
  .header-graphics .content .meet-consultant {
    padding-top: 120px;
  }
  /* line 696, ../sass/_header.scss */
  .header-graphics .content .meet-consultant a {
    font-size: 24px;
  }

  /* line 702, ../sass/_header.scss */
  .subnav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c5c+0,982c81+100&1+0,0.86+100 */
    background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    height: 50px;
  }
  /* line 709, ../sass/_header.scss */
  .subnav .container {
    max-width: 960px;
    margin: 0 auto;
    background: none;
  }
  /* line 714, ../sass/_header.scss */
  .subnav ul {
    text-align: center;
    max-height: inherit;
  }
  /* line 717, ../sass/_header.scss */
  .subnav ul li {
    display: inline-block;
    width: 200px;
    position: relative;
  }
  /* line 721, ../sass/_header.scss */
  .subnav ul li:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    left: 0;
    right: 0;
    transition: all 0.3s;
    background: #fff;
    transform: scaleX(0);
  }
  /* line 732, ../sass/_header.scss */
  .subnav ul li:first-child {
    display: none;
  }
  /* line 736, ../sass/_header.scss */
  .subnav ul li.active:before, .subnav ul li:hover:before {
    transform: scaleX(1);
  }
  /* line 739, ../sass/_header.scss */
  .subnav ul li.active a, .subnav ul li:hover a {
    font-family: "Lato-Bold";
  }
  /* line 743, ../sass/_header.scss */
  .subnav ul li a {
    font-size: 16px;
    padding: 14px 15px 17px;
  }

  /* line 752, ../sass/_header.scss */
  .subnav-sticked .subnav .container {
    background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    top: 72px;
    max-width: inherit;
  }
}
/* line 2, ../sass/_footer.scss */
footer .container {
  padding: 20px 30px;
}
/* line 5, ../sass/_footer.scss */
footer ul {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #f1f2f2;
}
/* line 12, ../sass/_footer.scss */
footer ul:last-child {
  border-bottom: 0;
  margin: 0;
}
/* line 16, ../sass/_footer.scss */
footer ul li {
  font-size: 18px;
  list-style-type: none;
  margin-bottom: 6px;
  display: none;
  cursor: pointer;
  line-height: normal;
}
/* line 24, ../sass/_footer.scss */
footer ul li:first-child {
  display: block;
  position: relative;
  width: 100%;
}
/* line 28, ../sass/_footer.scss */
footer ul li:first-child:focus {
  outline: none;
}
/* line 31, ../sass/_footer.scss */
footer ul li:first-child:after {
  content: "+";
  color: #9B9B9B;
  position: absolute;
  right: 0;
  top: -7px;
  font-size: 30px;
  font-family: "Lato-Light";
}
/* line 41, ../sass/_footer.scss */
footer ul li strong {
  font-family: "Lato-Bold";
  margin-bottom: 5px;
  display: inline-block;
}
/* line 46, ../sass/_footer.scss */
footer ul li a {
  color: #000000;
  text-decoration: none;
}
/* line 52, ../sass/_footer.scss */
footer ul.expanded li:first-child:after {
  content: "-";
  font-size: 50px;
  top: -22px;
}
/* line 57, ../sass/_footer.scss */
footer ul.expanded li {
  display: block;
}
/* line 62, ../sass/_footer.scss */
footer .copyright {
  background: #F1F2F1;
  text-align: center;
  line-height: 30px;
}
/* line 66, ../sass/_footer.scss */
footer .copyright .container {
  padding: 10px;
  box-sizing: border-box;
}
/* line 70, ../sass/_footer.scss */
footer .copyright span {
  display: block;
  font-size: 14px;
}

@media screen and (min-width: 960px) {
  /* line 79, ../sass/_footer.scss */
  footer {
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate3d(0, 0, 0);
  }
  /* line 86, ../sass/_footer.scss */
  footer .container {
    max-width: 960px;
    margin: 0 auto;
  }
  /* line 90, ../sass/_footer.scss */
  footer ul {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border: 0;
  }
  /* line 95, ../sass/_footer.scss */
  footer ul:nth-child(1) {
    width: 25%;
  }
  /* line 98, ../sass/_footer.scss */
  footer ul:nth-child(2) {
    width: 35%;
  }
  /* line 101, ../sass/_footer.scss */
  footer ul:nth-child(3) {
    width: 24%;
  }
  /* line 104, ../sass/_footer.scss */
  footer ul:nth-child(4) {
    width: 13%;
  }
  /* line 107, ../sass/_footer.scss */
  footer ul li {
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
  }
  /* line 112, ../sass/_footer.scss */
  footer ul li:first-child:after {
    display: none;
  }
  /* line 116, ../sass/_footer.scss */
  footer ul li a {
    font-family: "Lato-Light";
  }
  /* line 121, ../sass/_footer.scss */
  footer .copyright {
    display: inline-block;
    width: 100%;
    clear: both;
    text-align: center;
    font-size: 0;
    line-height: normal;
  }
  /* line 128, ../sass/_footer.scss */
  footer .copyright .container {
    padding: 20px 0;
  }
  /* line 131, ../sass/_footer.scss */
  footer .copyright span {
    display: inline-block;
  }
  /* line 133, ../sass/_footer.scss */
  footer .copyright span:first-child {
    width: 25%;
    text-align: left;
  }
  /* line 137, ../sass/_footer.scss */
  footer .copyright span:first-child + span {
    width: 50%;
    text-align: center;
  }
  /* line 141, ../sass/_footer.scss */
  footer .copyright span:first-child + span + span {
    width: 25%;
  }
}
/* line 5, ../sass/engage.scss */
.clearfix {
  clear: both;
}

/* line 8, ../sass/engage.scss */
.engage-header-graphics {
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/engage-header-mobile-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  position: relative;
  display: inline-block;
  width: 100%;
}
/* line 17, ../sass/engage.scss */
.engage-header-graphics:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 20%, rgba(246, 107, 28, 0.15) 100%);
}
/* line 26, ../sass/engage.scss */
.engage-header-graphics .content {
  position: relative;
  display: block;
  padding: 10px;
  margin: 0 auto;
  margin-top: 50px;
}
/* line 32, ../sass/engage.scss */
.engage-header-graphics .content h1 {
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-family: "Lato-Bold";
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 1.12px;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
  text-align: center;
}
/* line 46, ../sass/engage.scss */
.engage-header-graphics .content .try-it-form {
  background: rgba(0, 0, 0, 0.6);
  padding: 25px;
  margin: 70px 0 50px 0;
  font-size: 0;
  border-radius: 5px;
}
/* line 52, ../sass/engage.scss */
.engage-header-graphics .content .try-it-form input, .engage-header-graphics .content .try-it-form button {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  border-radius: 4px;
  margin: 0;
  border: 0;
  transition: width 0.3s;
  box-sizing: border-box;
  height: 45px;
  padding: 0 10px;
  min-height: inherit;
  text-transform: none;
}
/* line 66, ../sass/engage.scss */
.engage-header-graphics .content .try-it-form input {
  width: 100%;
  color: #9b9b9b;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Lato-Regular";
  font-size: 15px;
}
/* line 74, ../sass/engage.scss */
.engage-header-graphics .content .try-it-form button {
  width: 100%;
  background: #00C26B;
  color: #fff;
  font-family: "Lato-Semibold";
  font-size: 16px;
}
/* line 80, ../sass/engage.scss */
.engage-header-graphics .content .try-it-form button:hover {
  opacity: 0.9;
  cursor: pointer;
}
/* line 86, ../sass/engage.scss */
.engage-header-graphics .content .meet-consultant {
  text-align: center;
  padding-top: 30px;
}
/* line 89, ../sass/engage.scss */
.engage-header-graphics .content .meet-consultant a {
  font-size: 14px;
  color: #fff;
  font-family: "Lato-Semibold";
  text-decoration: underline;
}

/* line 98, ../sass/engage.scss */
.active {
  display: block;
}

/* line 101, ../sass/engage.scss */
.overview-desktop {
  display: none;
}

/* line 105, ../sass/engage.scss */
.overview .title {
  color: #1C94EE;
  font-size: 20px;
  font-family: "Lato-Regular";
  text-align: left;
  padding: 0 15px;
}
/* line 112, ../sass/engage.scss */
.overview .content-desc {
  font-size: 18px;
  color: #000;
  font-family: "Lato-Light";
  margin: 15px 0px;
  text-align: left;
  line-height: 25px;
  padding: 0 15px;
}
/* line 122, ../sass/engage.scss */
.overview .slide-icon img {
  width: 85px;
  margin: 30px;
}
/* line 128, ../sass/engage.scss */
.overview .overview-img img {
  width: 100%;
  border-bottom: 1px solid #DADADA;
}
/* line 133, ../sass/engage.scss */
.overview .block-content {
  display: none;
}
/* line 136, ../sass/engage.scss */
.overview .active {
  display: block !important;
}

/* line 141, ../sass/engage.scss */
.features .feature {
  text-align: left;
  font-size: 16px;
  font-family: "Lato-Light";
  line-height: 24px;
  padding-bottom: 30px;
  display: block;
}
/* line 149, ../sass/engage.scss */
.features .content-title {
  font-size: 20px;
  font-family: "Lato-Regular";
  padding: 0 15px;
}
/* line 154, ../sass/engage.scss */
.features p {
  padding: 0 15px;
}
/* line 157, ../sass/engage.scss */
.features .icon {
  text-align: center;
}
/* line 160, ../sass/engage.scss */
.features img {
  width: 100%;
  margin-bottom: 30px;
}
/* line 164, ../sass/engage.scss */
.features .feature-1 img {
  max-width: 450px;
}
/* line 167, ../sass/engage.scss */
.features .feature-2 img {
  max-width: 298px;
}
/* line 170, ../sass/engage.scss */
.features .feature-2, .features .feature-3 {
  border-top: 1px solid #DADADA;
}
/* line 173, ../sass/engage.scss */
.features .feature-3 img {
  margin-top: 20px;
  max-width: 395px;
}
/* line 177, ../sass/engage.scss */
.features .feature-desc {
  max-width: 570px;
  margin: 0 auto;
}
/* line 181, ../sass/engage.scss */
.features strong {
  font-family: "Lato-Bold";
}
/* line 184, ../sass/engage.scss */
.features .mobile-download {
  display: none;
}

/* line 188, ../sass/engage.scss */
.how-it-works-desktop {
  display: none;
}

/* line 192, ../sass/engage.scss */
.how-it-works .block-content {
  line-height: 24px;
  font-size: 16px;
  font-family: "Lato-Light";
  display: none;
  height: 570px;
  position: relative;
  max-width: 570px;
  margin: 0 auto;
}
/* line 202, ../sass/engage.scss */
.how-it-works img {
  width: 70px;
  margin-bottom: 30px;
  margin-top: 15px;
}
/* line 207, ../sass/engage.scss */
.how-it-works .content-title {
  font-size: 20px;
  color: #1C94EE;
  font-family: "Lato-Regular";
  text-align: left;
  padding: 0 15px;
}
/* line 214, ../sass/engage.scss */
.how-it-works p {
  text-align: left;
  padding: 0 15px;
}
/* line 218, ../sass/engage.scss */
.how-it-works .slide-icon {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
/* line 222, ../sass/engage.scss */
.how-it-works .slide-icon img {
  width: 135px;
}
/* line 226, ../sass/engage.scss */
.how-it-works .active {
  display: block !important;
}

/* line 230, ../sass/engage.scss */
.why {
  color: #FFF;
  font-family: "Lato-Light";
  background: -moz-linear-gradient(0deg, #1C94EE 0%, #00C26B 98%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(0deg, #1C94EE 0%, #00C26B 98%);
  /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(0deg, #1C94EE 0%, #00C26B 98%);
  padding-bottom: 40px;
}
/* line 237, ../sass/engage.scss */
.why .block-desc, .why .block-title {
  color: #FFF;
}
/* line 240, ../sass/engage.scss */
.why .content-title {
  font-size: 16px;
  font-family: "Lato-Semibold";
  line-height: 19px;
}
/* line 245, ../sass/engage.scss */
.why .icon img {
  width: 60px;
  margin: 20px 0px;
}
/* line 249, ../sass/engage.scss */
.why .content-desc {
  max-width: 200px;
  margin: 0 auto 40px;
  font-size: 14px;
}
/* line 254, ../sass/engage.scss */
.why .speaker {
  margin: 0 15px;
  line-height: 20px;
  font-family: "Lato-Light";
  display: none;
}
/* line 259, ../sass/engage.scss */
.why .speaker .speaker-content {
  background-color: rgba(255, 255, 255, 0.2);
  height: 500px;
  max-width: 300px;
  margin: 0 auto;
}
/* line 265, ../sass/engage.scss */
.why .speaker .speaker-desc {
  font-size: 14px;
}
/* line 268, ../sass/engage.scss */
.why .speaker img {
  width: 100%;
  display: block;
  max-width: 300px;
}
/* line 273, ../sass/engage.scss */
.why .speaker p {
  padding: 5px 15px;
}
/* line 276, ../sass/engage.scss */
.why .speaker .slide-icon {
  text-align: center;
  margin: 30px 0px;
}
/* line 279, ../sass/engage.scss */
.why .speaker .slide-icon img {
  width: 85px;
  margin: 0 auto;
}
/* line 284, ../sass/engage.scss */
.why .speaker .speaker-name {
  font-family: "Lato-Regular";
  line-height: 22px;
}
/* line 289, ../sass/engage.scss */
.why .prev-speaker, .why .next-speaker {
  display: none;
}
/* line 292, ../sass/engage.scss */
.why .read-more-section {
  margin: 0 15px;
}
/* line 295, ../sass/engage.scss */
.why .read-more {
  width: 100%;
  max-width: 300px;
  border: 2px solid #FFF;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 2px;
  font-size: 20px;
  font-family: "Lato-Bold";
  color: #FFF;
  box-sizing: border-box;
}
/* line 307, ../sass/engage.scss */
.why .read-more:hover {
  background: #fff;
  color: #333;
}
/* line 312, ../sass/engage.scss */
.why .active {
  display: block !important;
}

/* line 316, ../sass/engage.scss */
.clients {
  background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  font-size: 0;
  padding: 30px 10px 20px 10px;
  /*.client {*/
  /*display: inline-block;*/
  /*width: 50%;*/
  /*text-align: center;*/
  /*img {*/
  /*width: 80%;*/
  /*max-width: 180px;*/
  /*}*/
  /*}*/
}
/* line 323, ../sass/engage.scss */
.clients .container {
  max-width: 100%;
}
/* line 326, ../sass/engage.scss */
.clients .block-title {
  color: #FFF;
  font-size: 30px;
  font-family: "Lato-Regular";
  line-height: 36px;
  width: 80%;
  margin-bottom: 7px;
}
/* line 334, ../sass/engage.scss */
.clients .client-logos {
  padding: 30px 15px;
}
/* line 337, ../sass/engage.scss */
.clients img {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-top: 0;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}
/* line 355, ../sass/engage.scss */
.clients .try-it-form {
  padding: 17px 20px 50px;
  margin: 70px 0 50px 0;
  font-size: 0;
  border-radius: 5px;
}
/* line 360, ../sass/engage.scss */
.clients .try-it-form input, .clients .try-it-form button {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  border-radius: 4px;
  margin: 0;
  border: 0;
  transition: width 0.3s;
  box-sizing: border-box;
  height: 45px;
  padding: 0 10px;
  min-height: inherit;
  text-transform: none;
}
/* line 374, ../sass/engage.scss */
.clients .try-it-form input {
  width: 100%;
  color: #9b9b9b;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Lato-Regular";
  font-size: 15px;
}
/* line 382, ../sass/engage.scss */
.clients .try-it-form button {
  width: 100%;
  background: #00C26B;
  color: #fff;
  font-family: "Lato-Semibold";
  font-size: 16px;
}
/* line 388, ../sass/engage.scss */
.clients .try-it-form button:hover {
  opacity: 0.9;
  cursor: pointer;
}

@media screen and (min-width: 960px) {
  /* line 396, ../sass/engage.scss */
  .engage-header-graphics {
    background-image: url(http://www.tinypulse.com/hubfs/redesign_2016/large/engage-header-bg-1.png);
    height: 650px;
  }
  /* line 399, ../sass/engage.scss */
  .engage-header-graphics:before {
    display: none;
  }
  /* line 402, ../sass/engage.scss */
  .engage-header-graphics .content {
    position: relative;
    top: 50%;
    max-width: 600px;
    margin-top: -200px;
  }
  /* line 407, ../sass/engage.scss */
  .engage-header-graphics .content h1 {
    font-size: 48px;
    margin-bottom: 50px;
  }
  /* line 411, ../sass/engage.scss */
  .engage-header-graphics .content .try-it-form {
    max-width: 450px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  /* line 415, ../sass/engage.scss */
  .engage-header-graphics .content .try-it-form input {
    font-size: 18px;
    padding: 7px;
    width: 72%;
    border-radius: 4px 0 0 4px;
    text-align: left;
  }
  /* line 422, ../sass/engage.scss */
  .engage-header-graphics .content .try-it-form button {
    font-size: 18px;
    line-height: 19px;
    padding: 8px;
    width: 28%;
    border-radius: 0 4px 4px 0;
  }

  /* line 432, ../sass/engage.scss */
  .overview {
    display: none;
  }

  /* line 435, ../sass/engage.scss */
  .overview-desktop {
    display: block;
    font-size: 0px;
  }
  /* line 438, ../sass/engage.scss */
  .overview-desktop .overview-content {
    position: relative;
    height: 495px;
    border-bottom: 1px solid #DADADA;
  }
  /* line 443, ../sass/engage.scss */
  .overview-desktop .block-content {
    text-align: left;
    padding: 15px;
    width: 45%;
    display: inline-block;
    vertical-align: top;
  }
  /* line 450, ../sass/engage.scss */
  .overview-desktop .content-desc {
    font-size: 16px;
    font-family: "Lato-Light";
    line-height: 24px;
  }
  /* line 455, ../sass/engage.scss */
  .overview-desktop .title {
    font-size: 24px;
    font-family: "Lato-Regular";
    line-height: 29px;
    color: #1C94EE;
    margin-bottom: 15px;
  }
  /* line 462, ../sass/engage.scss */
  .overview-desktop .right-side {
    width: 48%;
    display: inline-block;
    float: right;
    right: 0;
    position: absolute;
    top: 0;
  }
  /* line 469, ../sass/engage.scss */
  .overview-desktop .right-side .overview-img {
    height: 495px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
  }
  /* line 476, ../sass/engage.scss */
  .overview-desktop .right-side .img-1 {
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/engage/overview/engage-insight.png);
  }
  /* line 479, ../sass/engage.scss */
  .overview-desktop .right-side .img-2 {
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/engage/overview/engage-actionable.png);
  }
  /* line 482, ../sass/engage.scss */
  .overview-desktop .right-side .img-3 {
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/engage/overview/engage-empowered.png);
  }
  /* line 486, ../sass/engage.scss */
  .overview-desktop .overview-default .block-content {
    margin-top: 30px;
  }
  /* line 490, ../sass/engage.scss */
  .overview-desktop .overview-content:hover .overview-block:hover .overview-img, .overview-desktop .overview-content .overview-default .overview-img {
    display: block;
    transition: all ease .5s;
  }
  /* line 494, ../sass/engage.scss */
  .overview-desktop .overview-content:hover .overview-block:hover .block-content, .overview-desktop .overview-content .overview-default .block-content {
    background-color: rgba(28, 148, 238, 0.1);
    transition: all .3s;
  }
  /* line 499, ../sass/engage.scss */
  .overview-desktop .overview-img, .overview-desktop .overview-content:hover .overview-img {
    display: none;
    transition: all ease .5s;
  }
  /* line 503, ../sass/engage.scss */
  .overview-desktop .block-content, .overview-desktop .overview-content:hover .block-content {
    background-color: #FFF;
    transition: all .3s;
  }

  /* line 508, ../sass/engage.scss */
  .features {
    font-size: 0;
  }
  /* line 510, ../sass/engage.scss */
  .features .icon {
    display: inline-block;
    width: 50%;
  }
  /* line 514, ../sass/engage.scss */
  .features .feature-desc {
    display: inline-block;
    width: 50%;
  }
  /* line 518, ../sass/engage.scss */
  .features .feature-2 {
    float: right;
    text-align: center;
  }
  /* line 522, ../sass/engage.scss */
  .features .feature-desc-1 {
    float: right;
    margin-top: 20px;
  }
  /* line 526, ../sass/engage.scss */
  .features .feature-desc-2 {
    border-top: 1px solid #DADADA;
  }
  /* line 528, ../sass/engage.scss */
  .features .feature-desc-2 .content-title {
    margin-top: 90px;
  }
  /* line 532, ../sass/engage.scss */
  .features .feature-3 img {
    margin-top: 100px;
  }
  /* line 535, ../sass/engage.scss */
  .features .feature-desc-3 {
    float: right;
    border-top: 1px solid #DADADA;
  }
  /* line 538, ../sass/engage.scss */
  .features .feature-desc-3 .content-title {
    margin-top: 120px;
  }
  /* line 542, ../sass/engage.scss */
  .features p {
    padding: 10px 15px;
  }
  /* line 545, ../sass/engage.scss */
  .features .mobile-download {
    display: block;
    font-size: 18px;
    font-family: "Lato-Regular";
    line-height: 22px;
    color: #9B9B9B;
    padding: 0px 15px;
  }
  /* line 552, ../sass/engage.scss */
  .features .mobile-download span {
    vertical-align: middle;
    margin-right: 20px;
  }
  /* line 556, ../sass/engage.scss */
  .features .mobile-download img {
    max-width: 100px;
    margin-bottom: 0;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }

  /* line 566, ../sass/engage.scss */
  .why .block-content {
    display: inline-block;
    width: 33%;
    text-align: center;
    font-size: 0;
  }
  /* line 572, ../sass/engage.scss */
  .why .speakers {
    text-align: center;
  }
  /* line 575, ../sass/engage.scss */
  .why .speakers .speaker .slide-icon {
    display: none;
  }
  /* line 578, ../sass/engage.scss */
  .why .speakers .speaker .speaker-img {
    display: inline-block;
  }
  /* line 581, ../sass/engage.scss */
  .why .speakers .speaker .speaker-desc {
    max-width: 500px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    position: relative;
    text-align: left;
  }
  /* line 588, ../sass/engage.scss */
  .why .speakers .speaker .speaker-desc .speaker-name {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  /* line 594, ../sass/engage.scss */
  .why .speakers .speaker .speaker-content {
    max-width: 800px;
    font-size: 0;
    height: 200px;
    display: inline-block;
  }
  /* line 599, ../sass/engage.scss */
  .why .speakers .speaker .speaker-content p {
    padding: 0 15px;
  }
  /* line 605, ../sass/engage.scss */
  .why .prev-speaker, .why .next-speaker {
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: 200px;
    top: 50%;
    transform: translate(0, 35%);
  }
  /* line 613, ../sass/engage.scss */
  .why .prev-speaker {
    margin-right: 15px;
  }
  /* line 616, ../sass/engage.scss */
  .why .next-speaker {
    margin-left: 15px;
  }
  /* line 619, ../sass/engage.scss */
  .why .read-more {
    margin-top: 50px;
  }
  /* line 622, ../sass/engage.scss */
  .why .control-button img {
    display: inline-block;
    max-width: 30px;
  }

  /* line 627, ../sass/engage.scss */
  .how-it-works {
    display: none;
  }

  /* line 630, ../sass/engage.scss */
  .how-it-works-desktop {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    height: 500px;
  }
  /* line 635, ../sass/engage.scss */
  .how-it-works-desktop .block-content {
    margin-bottom: 100px;
    margin-top: 60px;
    width: 900px;
    position: absolute;
    left: 0;
  }
  /* line 641, ../sass/engage.scss */
  .how-it-works-desktop .block-content .content-title {
    font-size: 20px;
    color: #1C94EE;
    font-family: "Lato-Regular";
    text-align: left;
    padding: 0 15px;
  }
  /* line 648, ../sass/engage.scss */
  .how-it-works-desktop .block-content p {
    text-align: left;
    padding: 0 15px;
    font-size: 16px;
    font-family: "Lato-Light";
    line-height: 24px;
  }
  /* line 656, ../sass/engage.scss */
  .how-it-works-desktop .hiw-icons {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 0px;
    position: relative;
  }
  /* line 662, ../sass/engage.scss */
  .how-it-works-desktop .hiw-icons .hiw-content {
    display: inline-block;
    width: 20%;
    vertical-align: top;
  }
  /* line 667, ../sass/engage.scss */
  .how-it-works-desktop .hiw-icons .hiw-icon {
    text-align: center;
    position: relative;
  }
  /* line 671, ../sass/engage.scss */
  .how-it-works-desktop .hiw-icons .icon {
    width: 63px;
    height: 94px;
    display: inline-block;
    background-image: url(http://www.tinypulse.com/hubfs/redesign_2016/engage/how-it-works/hiw-small-sprite.png);
    background-repeat: no-repeat;
  }
  /* line 678, ../sass/engage.scss */
  .how-it-works-desktop .hiw-icons .hiw-1 {
    background-position: 0 0;
  }
  /* line 681, ../sass/engage.scss */
  .how-it-works-desktop .hiw-icons .hiw-2 {
    background-position: -85px 0;
  }
  /* line 684, ../sass/engage.scss */
  .how-it-works-desktop .hiw-icons .hiw-3 {
    background-position: -168px 0;
  }
  /* line 687, ../sass/engage.scss */
  .how-it-works-desktop .hiw-icons .hiw-4 {
    background-position: -253px 0;
  }
  /* line 690, ../sass/engage.scss */
  .how-it-works-desktop .hiw-icons .hiw-5 {
    background-position: -338px 0;
  }
  /* line 694, ../sass/engage.scss */
  .how-it-works-desktop .hiw-wrapper {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 18px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  /* line 705, ../sass/engage.scss */
  .how-it-works-desktop .hiw-icons:hover .hiw-content:hover .icon, .how-it-works-desktop .hiw-icons:focus .hiw-content:focus .icon, .how-it-works-desktop .hiw-icons .hiw-default .icon {
    background-position-y: -117px;
  }
  /* line 708, ../sass/engage.scss */
  .how-it-works-desktop .hiw-icons:hover .hiw-content:hover .block-content, .how-it-works-desktop .hiw-icons:focus .hiw-content:focus .block-content, .how-it-works-desktop .hiw-icons .hiw-default .block-content {
    display: block;
    transition: all .3s;
  }
  /* line 712, ../sass/engage.scss */
  .how-it-works-desktop .hiw-icons:hover .hiw-content:hover .hiw-wrapper, .how-it-works-desktop .hiw-icons:focus .hiw-content:focus .hiw-wrapper, .how-it-works-desktop .hiw-icons .hiw-default .hiw-wrapper {
    background-color: rgba(28, 148, 238, 0.1);
  }
  /* line 717, ../sass/engage.scss */
  .how-it-works-desktop .hiw-icon .icon, .how-it-works-desktop .hiw-icons:hover .hiw-icon .icon, .how-it-works-desktop .hiw-icons:focus .hiw-icon .icon {
    background-position-y: 0px;
  }
  /* line 720, ../sass/engage.scss */
  .how-it-works-desktop .hiw-icon .hiw-wrapper, .how-it-works-desktop .hiw-icons:hover .hiw-icon .hiw-wrapper, .how-it-works-desktop .hiw-icons:focus .hiw-icon .hiw-wrapper {
    background-color: transparent;
  }
  /* line 724, ../sass/engage.scss */
  .how-it-works-desktop .block-content, .how-it-works-desktop .hiw-icons:hover .block-content {
    display: none;
    transition: all .3s;
  }

  /* line 730, ../sass/engage.scss */
  .clients .client {
    width: 15%;
    text-align: center;
  }
  /* line 734, ../sass/engage.scss */
  .clients .client-logos {
    text-align: center;
  }
  /* line 737, ../sass/engage.scss */
  .clients .block-title {
    width: 100%;
    margin-top: 20px;
  }
  /* line 741, ../sass/engage.scss */
  .clients img {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    width: 100px;
    display: inline-block;
  }
  /* line 749, ../sass/engage.scss */
  .clients .try-it-form {
    max-width: 450px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  /* line 753, ../sass/engage.scss */
  .clients .try-it-form input {
    font-size: 14px;
    padding: 7px 17px;
    width: 67%;
    border-radius: 4px 0 0 4px;
    text-align: left;
  }
  /* line 760, ../sass/engage.scss */
  .clients .try-it-form button {
    font-size: 14px;
    line-height: 19px;
    padding: 8px;
    width: 33%;
    border-radius: 0 4px 4px 0;
  }
}
