@font-face {
  font-family: 'Lato-Regular';
  src: url("fonts/Lato-Regular.eot");
  src: url("fonts/Lato-Regular.woff2") format("woff2"), url("fonts/Lato-Regular.woff") format("woff"), url("fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Light';
  src: url("fonts/Lato-Light.eot");
  src: url("fonts/Lato-Light.woff2") format("woff2"), url("fonts/Lato-Light.woff") format("woff"), url("fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Semibold';
  src: url("fonts/Lato-Semibold.eot");
  src: url("fonts/Lato-Semibold.woff2") format("woff2"), url("fonts/Lato-Semibold.woff") format("woff"), url("fonts/Lato-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Bold';
  src: url("fonts/Lato-Bold.eot");
  src: url("fonts/Lato-Bold.woff2") format("woff2"), url("fonts/Lato-Bold.woff") format("woff"), url("fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Thin';
  src: url("fonts/Lato-Thin.eot");
  src: url("fonts/Lato-Thin.woff2") format("woff2"), url("fonts/Lato-Thin.woff") format("woff"), url("fonts/Lato-Thin.ttf") format("truetype");
}
/* line 1, ../sass/_header.scss */
.banner {
  width: 100%;
  font-family: "Lato-Semibold";
  letter-spacing: 4px;
  line-height: 23px;
  vertical-align: text-bottom;
  text-align: center;
  background: -moz-linear-gradient(45deg, #ff5c5c 0, rgba(152, 44, 129, 0.86) 100%);
  background: -webkit-linear-gradient(45deg, #ff5c5c 0, rgba(152, 44, 129, 0.86) 100%);
  background: linear-gradient(45deg, #ff5c5c 0, rgba(152, 44, 129, 0.86) 100%);
  box-sizing: border-box;
  position: fixed;
  display: none;
}
/* line 14, ../sass/_header.scss */
.banner a {
  color: #FFF;
}
/* line 16, ../sass/_header.scss */
.banner a:hover {
  text-decoration: underline;
}

/* line 21, ../sass/_header.scss */
.close-button {
  position: absolute;
  top: 0;
  right: 8px;
}

/* line 27, ../sass/_header.scss */
header .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  background-size: cover;
  z-index: 0;
  opacity: 0;
  display: none;
}

/* line 37, ../sass/_header.scss */
.main-nav-container {
  display: none;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transform: translate3d(0, 0, 0);
}
/* line 50, ../sass/_header.scss */
.main-nav-container.sticked {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #DADADA;
}
/* line 58, ../sass/_header.scss */
.main-nav-container.sticked .main-nav nav ul li:hover, .main-nav-container.sticked .main-nav nav ul li.active {
  background: rgba(115, 115, 115, 0.3);
}
/* line 61, ../sass/_header.scss */
.main-nav-container.sticked .main-nav nav ul li a {
  color: #4A4A4A;
}
/* line 66, ../sass/_header.scss */
.main-nav-container.sticked .main-nav nav .sub {
  background: #fff;
  border-color: #DADADA;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 3px 3px;
  top: 52px;
}

/* line 79, ../sass/_header.scss */
.main-nav {
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px 10px 0;
  position: relative;
}
/* line 85, ../sass/_header.scss */
.main-nav:after {
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
}
/* line 91, ../sass/_header.scss */
.main-nav .logo {
  display: inline-block;
  width: 99px;
}
/* line 94, ../sass/_header.scss */
.main-nav .logo img {
  width: 100%;
  height: auto;
}
/* line 99, ../sass/_header.scss */
.main-nav nav {
  float: right;
}
/* line 101, ../sass/_header.scss */
.main-nav nav ul {
  margin: 0;
  padding: 0;
}
/* line 104, ../sass/_header.scss */
.main-nav nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  transition: all 0.3s;
  border-radius: 3px;
}
/* line 111, ../sass/_header.scss */
.main-nav nav ul li:hover, .main-nav nav ul li.active {
  background: rgba(0, 0, 0, 0.5);
}
/* line 113, ../sass/_header.scss */
.main-nav nav ul li:hover .sub, .main-nav nav ul li.active .sub {
  height: inherit;
  opacity: 1;
}
/* line 119, ../sass/_header.scss */
.main-nav nav ul li.has-sub:before {
  content: "";
  height: 70px;
  width: 100%;
  display: none;
  position: absolute;
  z-index: 0;
}
/* line 127, ../sass/_header.scss */
.main-nav nav ul li.has-sub:hover:before {
  display: block;
}
/* line 131, ../sass/_header.scss */
.main-nav nav ul li.contact-sales {
  position: relative;
  top: 3px;
}
/* line 134, ../sass/_header.scss */
.main-nav nav ul li.contact-sales a {
  font-size: 24px;
  padding: 0 10px;
}
/* line 139, ../sass/_header.scss */
.main-nav nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 4px 10px 6px;
  font-size: 16px;
  font-family: "Lato-Semibold";
  transition: all 0.3s;
  position: relative;
}
/* line 148, ../sass/_header.scss */
.main-nav nav ul li a.signup {
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 6px 20px 8px;
  line-height: normal;
}
/* line 153, ../sass/_header.scss */
.main-nav nav ul li a.signup:hover {
  background: #fff;
  color: #000;
}
/* line 161, ../sass/_header.scss */
.main-nav nav .sub {
  transition: opacity 0.3s;
  opacity: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  top: 45px;
  left: 0;
}
/* line 172, ../sass/_header.scss */
.main-nav nav .sub li {
  border-radius: 0;
  margin-left: 0;
  display: inline-block;
  width: 100%;
  min-width: 150px;
}
/* line 178, ../sass/_header.scss */
.main-nav nav .sub li a {
  padding: 8px 10px 10px;
}

/* line 186, ../sass/_header.scss */
.main-mobile-nav-container {
  transition: all 0.3s;
}
/* line 189, ../sass/_header.scss */
.main-mobile-nav-container.sticked .triggers {
  background: white;
  box-shadow: 0 0 5px #333;
}
/* line 193, ../sass/_header.scss */
.main-mobile-nav-container.sticked .triggers .hamburger span {
  background: #000;
}
/* line 199, ../sass/_header.scss */
.main-mobile-nav-container.sticked .logo .color {
  opacity: 1;
}
/* line 202, ../sass/_header.scss */
.main-mobile-nav-container.sticked .logo .white {
  opacity: 0;
}
/* line 207, ../sass/_header.scss */
.main-mobile-nav-container .triggers {
  padding: 10px 15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  transition: all 0.3s;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
/* line 221, ../sass/_header.scss */
.main-mobile-nav-container .banner {
  top: 43px;
  z-index: 8;
  font-size: 15px;
  padding: 0 15px;
}
/* line 227, ../sass/_header.scss */
.main-mobile-nav-container .logo {
  display: inline-block;
  width: 120px;
  height: 20px;
  z-index: 10;
  position: relative;
}
/* line 233, ../sass/_header.scss */
.main-mobile-nav-container .logo img {
  transition: all 0.3s;
  width: 100%;
  height: auto;
  position: absolute;
  top: 2px;
}
/* line 240, ../sass/_header.scss */
.main-mobile-nav-container .logo .color {
  opacity: 0;
}
/* line 244, ../sass/_header.scss */
.main-mobile-nav-container .hamburger {
  position: absolute;
  right: 15px;
  top: 13px;
}
/* line 248, ../sass/_header.scss */
.main-mobile-nav-container .hamburger span {
  width: 25px;
  height: 3px;
  margin-bottom: 4px;
  background: #fff;
  display: block;
  transition: all 0.3s;
}
/* line 257, ../sass/_header.scss */
.main-mobile-nav-container .cross {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 5px 15px 0px;
  color: #FFF;
  border: 0;
  font-size: 3em;
  line-height: 40px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10;
  display: none;
  margin: 0;
}
/* line 274, ../sass/_header.scss */
.main-mobile-nav-container nav {
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 60px 10px 40px;
  width: 100%;
  max-width: 375px;
  box-sizing: border-box;
  transform: translateX(400px);
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.5);
}
/* line 287, ../sass/_header.scss */
.main-mobile-nav-container nav:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(https://www.tinypulse.com/hubfs/redesign_2016/engage-bg-small.png);
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  filter: blur(15px);
}
/* line 299, ../sass/_header.scss */
.main-mobile-nav-container nav:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
/* line 308, ../sass/_header.scss */
.main-mobile-nav-container nav ul {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  overflow: auto;
  height: 100%;
}
/* line 316, ../sass/_header.scss */
.main-mobile-nav-container nav ul li {
  list-style-type: none;
  display: inline-block;
  width: 100%;
  position: relative;
  transition: all 0.3s;
  border-radius: 3px;
  margin-bottom: 15px;
}
/* line 325, ../sass/_header.scss */
.main-mobile-nav-container nav ul li.has-sub:before {
  content: "\f078";
  color: #fff;
  position: absolute;
  right: 8px;
  top: 9px;
  font-size: 30px;
  font: normal normal normal 14px/1 FontAwesome;
  -webkit-font-smoothing: antialiased;
  transition: all 0.3s;
}
/* line 337, ../sass/_header.scss */
.main-mobile-nav-container nav ul li.has-sub.expanded > a {
  font-family: "Lato-Bold";
}
/* line 340, ../sass/_header.scss */
.main-mobile-nav-container nav ul li.has-sub.expanded .sub {
  max-height: 300px;
}
/* line 343, ../sass/_header.scss */
.main-mobile-nav-container nav ul li.has-sub.expanded:before {
  transform: rotate(180deg);
}
/* line 348, ../sass/_header.scss */
.main-mobile-nav-container nav ul li.contact-sales {
  position: relative;
  top: 3px;
}
/* line 351, ../sass/_header.scss */
.main-mobile-nav-container nav ul li.contact-sales a {
  font-size: 24px;
  padding: 0 10px;
}
/* line 356, ../sass/_header.scss */
.main-mobile-nav-container nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 4px 10px 6px;
  font-size: 20px;
  font-family: "Lato-Light";
  transition: all 0.3s;
  position: relative;
}
/* line 365, ../sass/_header.scss */
.main-mobile-nav-container nav ul li a.signup {
  border-radius: 3px;
  padding: 6px 20px 8px;
  line-height: normal;
  background: #00C26B;
  text-align: center;
  margin-top: 20px;
}
/* line 372, ../sass/_header.scss */
.main-mobile-nav-container nav ul li a.signup:hover {
  background: #fff;
  color: #00C26B;
}
/* line 380, ../sass/_header.scss */
.main-mobile-nav-container nav .sub {
  transition: max-height 0.3s;
  overflow: hidden;
  max-height: 0;
}
/* line 384, ../sass/_header.scss */
.main-mobile-nav-container nav .sub li {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 20px;
}
/* line 388, ../sass/_header.scss */
.main-mobile-nav-container nav .sub li a {
  font-size: 18px;
}

/* line 401, ../sass/_header.scss */
.mobile-nav-opened .main-mobile-nav-container .triggers .hamburger span:first-child {
  transform: rotate(39deg) translateY(5px) translateX(3px);
}
/* line 403, ../sass/_header.scss */
.mobile-nav-opened .main-mobile-nav-container .triggers .hamburger span:first-child + span {
  transform: scale(0);
}
/* line 407, ../sass/_header.scss */
.mobile-nav-opened .main-mobile-nav-container .triggers .hamburger span:last-child {
  transform: rotate(-39deg) translateY(-7px) translateX(5px);
}
/* line 416, ../sass/_header.scss */
.mobile-nav-opened .main-mobile-nav-container.sticked .triggers .hamburger span {
  background: #000;
}
/* line 422, ../sass/_header.scss */
.mobile-nav-opened .main-mobile-nav-container nav {
  transform: translateX(0);
}

/* line 428, ../sass/_header.scss */
.header-graphics {
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  position: relative;
  display: inline-block;
  width: 100%;
}
/* line 437, ../sass/_header.scss */
.header-graphics .content {
  position: relative;
  display: block;
  padding: 10px;
  margin: 0 auto;
  margin-top: 30px;
}
/* line 443, ../sass/_header.scss */
.header-graphics .content h1 {
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-family: "Lato-Bold";
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 1.5px;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
  text-align: center;
}
/* line 456, ../sass/_header.scss */
.header-graphics .content .sub-headline {
  font-family: "Lato-Regular";
  font-size: 16px;
  color: #FFFFFF;
  margin-top: -10px;
  text-align: center;
}
/* line 463, ../sass/_header.scss */
.header-graphics .content .hbspt-form {
  height: 0;
  overflow: hidden;
}
/* line 467, ../sass/_header.scss */
.header-graphics .content .try-it-form {
  background: rgba(0, 0, 0, 0.6);
  padding: 25px;
  margin: 70px 0 50px 0;
  font-size: 0;
  border-radius: 5px;
}
/* line 473, ../sass/_header.scss */
.header-graphics .content .try-it-form input, .header-graphics .content .try-it-form button {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  border-radius: 4px;
  margin: 0;
  border: 0;
  transition: width 0.3s;
  box-sizing: border-box;
  height: 45px;
  padding: 0 10px;
  min-height: inherit;
  text-transform: none;
}
/* line 487, ../sass/_header.scss */
.header-graphics .content .try-it-form input {
  width: 100%;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Lato-Regular";
  font-size: 15px;
}
/* line 495, ../sass/_header.scss */
.header-graphics .content .try-it-form button {
  width: 100%;
  background: #00C26B;
  color: #fff;
  font-family: "Lato-Semibold";
  font-size: 16px;
}
/* line 501, ../sass/_header.scss */
.header-graphics .content .try-it-form button:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* line 510, ../sass/_header.scss */
.subnav {
  text-align: left;
  height: 40px;
  position: relative;
}
/* line 514, ../sass/_header.scss */
.subnav .container {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c5c+0,982c81+100&1+0,0.86+100
background: -moz-linear-gradient(45deg,  rgba(255,92,92,1) 0%, rgba(152,44,129,0.86) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
/* line 521, ../sass/_header.scss */
.subnav ul {
  margin: 0;
  padding: 0;
  position: relative;
  max-height: 40px;
  overflow: hidden;
  transition: max-height 0.75s;
}
/* line 528, ../sass/_header.scss */
.subnav ul.expanded {
  max-height: 300px;
}
/* line 530, ../sass/_header.scss */
.subnav ul.expanded li {
  display: inline-block;
}
/* line 532, ../sass/_header.scss */
.subnav ul.expanded li:first-child {
  height: 0;
}
/* line 534, ../sass/_header.scss */
.subnav ul.expanded li:first-child a:after {
  content: "\f077";
}
/* line 541, ../sass/_header.scss */
.subnav li {
  list-style: none;
  display: none;
  width: 100%;
}
/* line 545, ../sass/_header.scss */
.subnav li:first-child {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
}
/* line 550, ../sass/_header.scss */
.subnav li:first-child a {
  display: block;
  padding: 0;
  height: 100%;
}
/* line 554, ../sass/_header.scss */
.subnav li:first-child a:after {
  content: "\f078";
  position: absolute;
  right: 15px;
  top: 12px;
  font: normal normal normal 14px/1 FontAwesome;
  -webkit-font-smoothing: antialiased;
}
/* line 564, ../sass/_header.scss */
.subnav li.active {
  display: inline-block;
  font-family: "Lato-Bold";
}
/* line 569, ../sass/_header.scss */
.subnav a {
  display: block;
  font-size: 16px;
  color: #FFF;
  font-family: "Lato-Regular";
  padding: 8px 15px 13px;
}

/* line 578, ../sass/_header.scss */
.subnav-sticked .main-mobile-nav-container {
  transform: translateY(-50px);
}
/* line 582, ../sass/_header.scss */
.subnav-sticked .subnav .container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

@media screen and (min-width: 960px) {
  /* line 593, ../sass/_header.scss */
  header .overlay {
    display: block;
  }

  /* line 597, ../sass/_header.scss */
  .banner {
    z-index: 8;
    font-size: 24px;
    line-height: 31px;
    padding: 10px 15px;
    position: static;
  }

  /* line 604, ../sass/_header.scss */
  .close-button {
    right: 15px;
  }

  /* line 607, ../sass/_header.scss */
  .main-nav-container {
    height: 76px;
    display: block;
  }
  /* line 610, ../sass/_header.scss */
  .main-nav-container.sticked {
    background: #fff;
    height: auto;
  }
  /* line 616, ../sass/_header.scss */
  .main-nav-container.sticked nav ul li a {
    color: #000;
  }
  /* line 618, ../sass/_header.scss */
  .main-nav-container.sticked nav ul li a.signup {
    border-color: #00C26B;
    color: #00C26B;
  }
  /* line 621, ../sass/_header.scss */
  .main-nav-container.sticked nav ul li a.signup:hover {
    background: #00C26B;
    color: #fff;
  }
  /* line 632, ../sass/_header.scss */
  .main-nav-container.sticked .main-nav .logo .color {
    opacity: 1;
  }
  /* line 635, ../sass/_header.scss */
  .main-nav-container.sticked .main-nav .logo .white {
    opacity: 0;
  }

  /* line 643, ../sass/_header.scss */
  .main-nav .logo {
    width: 150px;
    height: 28px;
    margin-top: 0;
    position: relative;
  }
  /* line 648, ../sass/_header.scss */
  .main-nav .logo img {
    transition: all 0.3s;
    position: absolute;
  }
  /* line 652, ../sass/_header.scss */
  .main-nav .logo .color {
    opacity: 0;
  }
  /* line 656, ../sass/_header.scss */
  .main-nav nav {
    display: block;
    margin-top: -5px;
  }

  /* line 662, ../sass/_header.scss */
  .main-mobile-nav-container {
    display: none;
  }

  /* line 666, ../sass/_header.scss */
  .header-graphics {
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/large/header-bg.png);
    height: 620px;
  }
  /* line 669, ../sass/_header.scss */
  .header-graphics .content {
    position: relative;
    top: 5%;
    margin-top: 110px;
    max-width: 600px;
  }
  /* line 674, ../sass/_header.scss */
  .header-graphics .content h1 {
    font-size: 48px;
    margin-bottom: 50px;
  }
  /* line 678, ../sass/_header.scss */
  .header-graphics .content .sub-headline {
    font-size: 22px;
    letter-spacing: 1px;
  }
  /* line 682, ../sass/_header.scss */
  .header-graphics .content .try-it-form {
    max-width: 450px;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 0;
    margin-top: 40px;
  }
  /* line 688, ../sass/_header.scss */
  .header-graphics .content .try-it-form input {
    width: 68%;
    border-radius: 4px 0 0 4px;
    margin: 0;
    text-align: left;
  }
  /* line 694, ../sass/_header.scss */
  .header-graphics .content .try-it-form button {
    width: 32%;
    border-radius: 0 4px 4px 0;
    font-size: 18px;
  }
  /* line 700, ../sass/_header.scss */
  .header-graphics .content .meet-consultant {
    padding-top: 120px;
  }
  /* line 702, ../sass/_header.scss */
  .header-graphics .content .meet-consultant a {
    font-size: 24px;
  }

  /* line 708, ../sass/_header.scss */
  .subnav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c5c+0,982c81+100&1+0,0.86+100 */
    background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    height: 50px;
  }
  /* line 715, ../sass/_header.scss */
  .subnav .container {
    max-width: 960px;
    margin: 0 auto;
    background: none;
  }
  /* line 720, ../sass/_header.scss */
  .subnav ul {
    text-align: center;
    max-height: inherit;
  }
  /* line 723, ../sass/_header.scss */
  .subnav ul li {
    display: inline-block;
    width: 200px;
    position: relative;
  }
  /* line 727, ../sass/_header.scss */
  .subnav ul li:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    left: 0;
    right: 0;
    transition: all 0.3s;
    background: #fff;
    transform: scaleX(0);
  }
  /* line 738, ../sass/_header.scss */
  .subnav ul li:first-child {
    display: none;
  }
  /* line 742, ../sass/_header.scss */
  .subnav ul li.active:before, .subnav ul li:hover:before {
    transform: scaleX(1);
  }
  /* line 745, ../sass/_header.scss */
  .subnav ul li.active a, .subnav ul li:hover a {
    font-family: "Lato-Bold";
  }
  /* line 749, ../sass/_header.scss */
  .subnav ul li a {
    font-size: 16px;
    padding: 14px 15px 17px;
  }

  /* line 758, ../sass/_header.scss */
  .subnav-sticked .subnav .container {
    background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    top: 72px;
    max-width: inherit;
  }
}
/* line 1, ../sass/_content.scss */
body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: "Lato-Regular";
}

/* line 7, ../sass/_content.scss */
.row-fluid [class*="span"] {
  min-height: inherit;
}

/* line 10, ../sass/_content.scss */
a {
  text-decoration: none;
}

/* line 13, ../sass/_content.scss */
.body-container-wrapper {
  position: relative;
  z-index: 2;
  background: transparent;
}

/* line 18, ../sass/_content.scss */
.footer-container-wrapper {
  position: relative;
  z-index: 0;
}

/* line 22, ../sass/_content.scss */
.main-wrapper {
  transition: all 0.5s;
}

/* line 25, ../sass/_content.scss */
.main-content {
  background: #fff;
  box-shadow: 0 0 10px #666;
  margin-bottom: 10px;
}

/* line 30, ../sass/_content.scss */
.brands {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c5c+0,982c81+100&1+0,0.86+100 */
  background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding: 30px 10px 20px 10px;
  text-align: center;
}
/* line 38, ../sass/_content.scss */
.brands img {
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  height: auto;
  margin: 10px;
}

/* line 47, ../sass/_content.scss */
.content-block {
  padding-top: 30px;
}
/* line 49, ../sass/_content.scss */
.content-block .container {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}
/* line 54, ../sass/_content.scss */
.content-block .block-title {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0 30px;
  font-weight: normal;
  font-family: "Lato-Regular";
  font-size: 24px;
  color: #000000;
  letter-spacing: 0.75px;
  text-align: center;
  font-weight: normal;
}
/* line 66, ../sass/_content.scss */
.content-block .block-desc {
  margin: 0 0 40px 0;
  padding: 0 30px;
  font-family: "Lato-Regular";
  font-size: 18px;
  font-weight: normal;
  color: #9b9b9b;
  letter-spacing: 0px;
  text-align: center;
}
/* line 76, ../sass/_content.scss */
.content-block .block-content {
  text-align: center;
}

/* line 82, ../sass/_content.scss */
.features .tile {
  display: inline-block;
  max-width: 320px;
  text-align: center;
  margin-bottom: 30px;
}
/* line 87, ../sass/_content.scss */
.features .tile a {
  display: block;
  cursor: default;
  transition: all 0.3s;
  padding: 0 15px;
}
/* line 93, ../sass/_content.scss */
.features .tile .title {
  font-family: "Lato-Regular";
  color: #000;
  margin-bottom: 20px;
}
/* line 98, ../sass/_content.scss */
.features .tile .icon {
  width: 59px;
  height: 65px;
  display: inline-block;
  background-image: url(http://cdn2.hubspot.net/hubfs/443262/redesign_2016/feature-icons-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 106, ../sass/_content.scss */
.features .tile .feature-2 {
  background-position: -99px 0;
}
/* line 109, ../sass/_content.scss */
.features .tile .feature-3 {
  background-position: -198px 0;
}
/* line 112, ../sass/_content.scss */
.features .tile .feature-4 {
  background-position: -297px 0;
}
/* line 115, ../sass/_content.scss */
.features .tile .feature-5 {
  background-position: -396px 0;
}
/* line 118, ../sass/_content.scss */
.features .tile .feature-6 {
  background-position: -495px 0;
}
/* line 121, ../sass/_content.scss */
.features .tile p {
  font-family: "Lato-Thin";
  font-size: 18px;
  color: #9b9b9b;
  letter-spacing: 0px;
  text-align: center;
}

/* line 131, ../sass/_content.scss */
.products-desktop {
  display: none;
}

/* line 135, ../sass/_content.scss */
.products-mobile {
  display: block;
}
/* line 137, ../sass/_content.scss */
.products-mobile .content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  padding: 0px 15px;
  position: relative;
}
/* line 145, ../sass/_content.scss */
.products-mobile .mask-1 {
  padding: 30px 15px;
  background-image: url(//www.tinypulse.com/hubfs/redesign_2016/engage-bg-small.png);
}
/* line 149, ../sass/_content.scss */
.products-mobile .mask-2 {
  padding: 30px 15px;
  background-image: url(//www.tinypulse.com/hubfs/redesign_2016/Perform_mobile.png);
}
/* line 153, ../sass/_content.scss */
.products-mobile .text {
  color: #FFF;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
}
/* line 159, ../sass/_content.scss */
.products-mobile .text .title {
  font-size: 24px;
  line-height: 32px;
  width: 300px;
  text-shadow: 0 2px 10px #333;
  letter-spacing: 0.75px;
  margin: 0;
}
/* line 167, ../sass/_content.scss */
.products-mobile .text .desc {
  font-size: 17px;
  text-shadow: 0 2px 10px #333;
  width: 290px;
  font-family: 'Lato-Light';
}
/* line 173, ../sass/_content.scss */
.products-mobile .text a {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  transition: all .3s;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  max-width: 300px;
}
/* line 188, ../sass/_content.scss */
.products-mobile .text a:hover {
  background: #fff;
  color: #333;
}

/* line 198, ../sass/_content.scss */
.success-stories .story {
  display: inline-block;
  max-width: 320px;
  text-align: center;
  margin-bottom: 50px;
  vertical-align: top;
  padding: 0 20px;
}
/* line 205, ../sass/_content.scss */
.success-stories .story p, .success-stories .story span {
  font-size: 14px;
  color: #9B9B9B;
  display: block;
  text-align: left;
  font-family: "Lato-Regular";
}
/* line 212, ../sass/_content.scss */
.success-stories .story p {
  color: #000;
  font-size: 20px;
  line-height: 30px;
}
/* line 217, ../sass/_content.scss */
.success-stories .story span {
  font-size: 18px;
  color: #9b9b9b;
  line-height: 24px;
  text-align: left;
}
/* line 223, ../sass/_content.scss */
.success-stories .story strong {
  display: block;
  font-family: "Lato-Bold";
}
/* line 228, ../sass/_content.scss */
.success-stories .story .icon img {
  width: 180px;
  height: 180px;
}
/* line 234, ../sass/_content.scss */
.success-stories .more-stories {
  text-align: center;
  margin: 40px 0 80px;
}
/* line 237, ../sass/_content.scss */
.success-stories .more-stories a {
  padding: 5px 20px 7px;
  border: 1px solid #dadada;
  border-radius: 2px;
  display: inline-block;
  color: #9B9B9B;
  transition: all 0.3s;
}
/* line 244, ../sass/_content.scss */
.success-stories .more-stories a:hover {
  background: #dadada;
  color: #fff;
}

/* line 252, ../sass/_content.scss */
.ctas {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c5c+0,982c81+100&1+0,0.86+100 */
  background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding: 30px 10px;
}
/* line 259, ../sass/_content.scss */
.ctas .block-title {
  color: #fff;
  padding: 0 20px;
}
/* line 263, ../sass/_content.scss */
.ctas div {
  text-align: center;
  padding: 0 15px;
  margin: 50px 0 30px 0;
}
/* line 268, ../sass/_content.scss */
.ctas a {
  display: inline-block;
  color: #fff;
  padding: 10px 0;
  border: 1px solid #fff;
  border-radius: 2px;
  transition: all 0.3s;
  margin: 10px 0;
  width: 100%;
  font-family: "Lato-Semibold";
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 0.14px;
  text-align: center;
}
/* line 284, ../sass/_content.scss */
.ctas a:hover {
  background: #fff;
  color: #333;
}

/* line 291, ../sass/_content.scss */
.quote {
  padding: 20px 0;
  background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
/* line 297, ../sass/_content.scss */
.quote .block-title {
  font-family: "Lato-Regular";
  color: #fff;
  font-size: 20px;
  padding: 0 10px;
}
/* line 303, ../sass/_content.scss */
.quote .block-desc {
  font-family: "Lato-Regular";
  color: #fff;
  margin: 0;
  font-size: 16px;
}

/* line 310, ../sass/_content.scss */
.press {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c5c+0,982c81+100&1+0,0.86+100 */
  background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding: 30px 10px 20px 10px;
  text-align: center;
}
/* line 318, ../sass/_content.scss */
.press .title {
  font-family: "Lato-Regular";
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0px;
  line-height: 30px;
  text-align: center;
}
/* line 326, ../sass/_content.scss */
.press img {
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  height: auto;
  margin: 10px;
}

@media screen and (min-width: 960px) {
  /* line 337, ../sass/_content.scss */
  .header-graphics, .main-content {
    position: relative;
    z-index: 1;
  }

  /* line 341, ../sass/_content.scss */
  .main-wrapper {
    padding-bottom: 266px;
  }

  /* line 345, ../sass/_content.scss */
  .brands img {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    width: 100px;
    display: inline-block;
  }

  /* line 354, ../sass/_content.scss */
  .content-block {
    padding-top: 50px;
  }
  /* line 356, ../sass/_content.scss */
  .content-block .block-title {
    font-size: 36px;
  }

  /* line 361, ../sass/_content.scss */
  .features .tile {
    max-width: 300px;
  }
  /* line 363, ../sass/_content.scss */
  .features .tile a {
    padding: 30px 15px;
    cursor: pointer;
  }
  /* line 366, ../sass/_content.scss */
  .features .tile a:hover {
    background: #E8F4FD;
  }
  /* line 368, ../sass/_content.scss */
  .features .tile a:hover .icon {
    background-position-y: -90px;
  }
  /* line 373, ../sass/_content.scss */
  .features .tile p {
    font-size: 14px;
  }

  /* line 378, ../sass/_content.scss */
  .products-mobile {
    display: none;
  }

  /* line 381, ../sass/_content.scss */
  .products-desktop {
    display: block;
    height: 1620px;
    background-color: #A39D66;
    overflow: hidden;
    position: relative;
    transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  /* line 388, ../sass/_content.scss */
  .products-desktop .content {
    height: 810px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
  }
  /* line 394, ../sass/_content.scss */
  .products-desktop .content .container {
    max-width: 920px;
    margin: 0 auto;
    height: 100%;
    position: relative;
  }
  /* line 400, ../sass/_content.scss */
  .products-desktop .content .text {
    top: 0;
    left: 0;
    color: #fff;
    position: absolute;
    width: 400px;
    top: 50%;
    margin-top: -150px;
  }
  /* line 408, ../sass/_content.scss */
  .products-desktop .content .text .title {
    font-size: 36px;
    line-height: 48px;
    text-shadow: 0 2px 10px #333;
  }
  /* line 413, ../sass/_content.scss */
  .products-desktop .content .text .desc {
    font-size: 20px;
    text-shadow: 0 0 10px #333;
  }
  /* line 417, ../sass/_content.scss */
  .products-desktop .content .text a {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    transition: all 0.3s;
  }
  /* line 425, ../sass/_content.scss */
  .products-desktop .content .text a:hover {
    background: #fff;
    color: #333;
  }
  /* line 431, ../sass/_content.scss */
  .products-desktop .content .text-1 {
    left: 0;
  }
  /* line 435, ../sass/_content.scss */
  .products-desktop .masked-images {
    position: absolute;
    top: 0;
    left: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);
    width: 100%;
  }
  /* line 441, ../sass/_content.scss */
  .products-desktop .masked-images .masked-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 810px;
  }
  /* line 448, ../sass/_content.scss */
  .products-desktop .masked-images .masked-image div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 810px;
  }
  /* line 464, ../sass/_content.scss */
  .products-desktop .masked-images .masked-image-1 div {
    background-image: url(//www.tinypulse.com/hubfs/Client_logo/Perform.png);
  }
  /* line 469, ../sass/_content.scss */
  .products-desktop .masked-images .masked-image-2 div {
    background-image: url(//www.tinypulse.com/hubfs/redesign_2016/engage-bg.png);
  }

  /* line 476, ../sass/_content.scss */
  .success-stories .story {
    max-width: 300px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  /* line 480, ../sass/_content.scss */
  .success-stories .story .icon {
    margin: 10px 0 50px 0;
  }
  /* line 483, ../sass/_content.scss */
  .success-stories .story p, .success-stories .story span {
    text-align: left;
    display: block;
    font-size: 14px;
    line-height: 20px;
  }

  /* line 492, ../sass/_content.scss */
  .ctas .block-title {
    font-size: 30px;
    color: #fff;
  }
  /* line 496, ../sass/_content.scss */
  .ctas a {
    padding: 7px 30px;
    font-size: 14px;
    width: auto;
  }
  /* line 500, ../sass/_content.scss */
  .ctas a:nth-child(2) {
    margin-left: 50px;
    margin-right: 50px;
  }
  /* line 505, ../sass/_content.scss */
  .ctas div {
    margin: 0;
    padding: 0;
  }

  /* line 510, ../sass/_content.scss */
  .quote {
    padding: 30px;
  }
  /* line 512, ../sass/_content.scss */
  .quote .block-title {
    font-size: 26px;
  }

  /* line 516, ../sass/_content.scss */
  .press img {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    width: 100px;
    display: inline-block;
  }
}
/* line 2, ../sass/_footer.scss */
footer .container {
  padding: 20px 30px;
}
/* line 5, ../sass/_footer.scss */
footer ul {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #f1f2f2;
}
/* line 12, ../sass/_footer.scss */
footer ul:last-child {
  border-bottom: 0;
  margin: 0;
}
/* line 16, ../sass/_footer.scss */
footer ul li {
  font-size: 18px;
  list-style-type: none;
  margin-bottom: 6px;
  display: none;
  cursor: pointer;
  line-height: normal;
}
/* line 24, ../sass/_footer.scss */
footer ul li:first-child {
  display: block;
  position: relative;
  width: 100%;
}
/* line 28, ../sass/_footer.scss */
footer ul li:first-child:focus {
  outline: none;
}
/* line 31, ../sass/_footer.scss */
footer ul li:first-child:after {
  content: "+";
  color: #9B9B9B;
  position: absolute;
  right: 0;
  top: -7px;
  font-size: 30px;
  font-family: "Lato-Light";
}
/* line 41, ../sass/_footer.scss */
footer ul li strong {
  font-family: "Lato-Bold";
  margin-bottom: 5px;
  display: inline-block;
}
/* line 46, ../sass/_footer.scss */
footer ul li a {
  color: #000000;
  text-decoration: none;
}
/* line 52, ../sass/_footer.scss */
footer ul.expanded li:first-child:after {
  content: "-";
  font-size: 50px;
  top: -22px;
}
/* line 57, ../sass/_footer.scss */
footer ul.expanded li {
  display: block;
}
/* line 62, ../sass/_footer.scss */
footer .copyright {
  background: #F1F2F1;
  text-align: center;
  line-height: 30px;
}
/* line 66, ../sass/_footer.scss */
footer .copyright .container {
  padding: 10px;
  box-sizing: border-box;
}
/* line 70, ../sass/_footer.scss */
footer .copyright span {
  display: block;
  font-size: 14px;
}

@media screen and (min-width: 960px) {
  /* line 79, ../sass/_footer.scss */
  footer {
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate3d(0, 0, 0);
  }
  /* line 86, ../sass/_footer.scss */
  footer .container {
    max-width: 960px;
    margin: 0 auto;
  }
  /* line 90, ../sass/_footer.scss */
  footer ul {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border: 0;
  }
  /* line 95, ../sass/_footer.scss */
  footer ul:nth-child(1) {
    width: 25%;
  }
  /* line 98, ../sass/_footer.scss */
  footer ul:nth-child(2) {
    width: 35%;
  }
  /* line 101, ../sass/_footer.scss */
  footer ul:nth-child(3) {
    width: 24%;
  }
  /* line 104, ../sass/_footer.scss */
  footer ul:nth-child(4) {
    width: 13%;
  }
  /* line 107, ../sass/_footer.scss */
  footer ul li {
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
  }
  /* line 112, ../sass/_footer.scss */
  footer ul li:first-child:after {
    display: none;
  }
  /* line 116, ../sass/_footer.scss */
  footer ul li a {
    font-family: "Lato-Light";
  }
  /* line 121, ../sass/_footer.scss */
  footer .copyright {
    display: inline-block;
    width: 100%;
    clear: both;
    text-align: center;
    font-size: 0;
    line-height: normal;
  }
  /* line 128, ../sass/_footer.scss */
  footer .copyright .container {
    padding: 20px 0;
  }
  /* line 131, ../sass/_footer.scss */
  footer .copyright span {
    display: inline-block;
  }
  /* line 133, ../sass/_footer.scss */
  footer .copyright span:first-child {
    width: 25%;
    text-align: left;
  }
  /* line 137, ../sass/_footer.scss */
  footer .copyright span:first-child + span {
    width: 50%;
    text-align: center;
  }
  /* line 141, ../sass/_footer.scss */
  footer .copyright span:first-child + span + span {
    width: 25%;
  }
}
/* line 6, ../sass/global.scss */
body {
  font-family: "Lato-Regular";
  padding: 0;
  margin: 0;
}

/* line 12, ../sass/global.scss */
a {
  text-decoration: none;
}
