@font-face {
  font-family: 'Lato-Regular';
  src: url("fonts/Lato-Regular.eot");
  src: url("fonts/Lato-Regular.woff2") format("woff2"), url("fonts/Lato-Regular.woff") format("woff"), url("fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Light';
  src: url("fonts/Lato-Light.eot");
  src: url("fonts/Lato-Light.woff2") format("woff2"), url("fonts/Lato-Light.woff") format("woff"), url("fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Semibold';
  src: url("fonts/Lato-Semibold.eot");
  src: url("fonts/Lato-Semibold.woff2") format("woff2"), url("fonts/Lato-Semibold.woff") format("woff"), url("fonts/Lato-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Bold';
  src: url("fonts/Lato-Bold.eot");
  src: url("fonts/Lato-Bold.woff2") format("woff2"), url("fonts/Lato-Bold.woff") format("woff"), url("fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Thin';
  src: url("fonts/Lato-Thin.eot");
  src: url("fonts/Lato-Thin.woff2") format("woff2"), url("fonts/Lato-Thin.woff") format("woff"), url("fonts/Lato-Thin.ttf") format("truetype");
}
.banner {
  width: 100%;
  font-family: "Lato-Semibold", Arial;
  letter-spacing: 4px;
  line-height: 23px;
  vertical-align: text-bottom;
  text-align: center;
  background: -moz-linear-gradient(45deg, #ff5c5c 0, rgba(152, 44, 129, 0.86) 100%);
  background: -webkit-linear-gradient(45deg, #ff5c5c 0, rgba(152, 44, 129, 0.86) 100%);
  background: linear-gradient(45deg, #ff5c5c 0, rgba(152, 44, 129, 0.86) 100%);
  box-sizing: border-box;
  position: fixed;
  display: none;
}
.banner a {
  color: #FFF;
}
.banner a:hover {
  text-decoration: underline;
}

.close-button {
  position: absolute;
  top: 0;
  right: 8px;
}

header .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  background-size: cover;
  z-index: 0;
  opacity: 0;
  display: none;
}

.main-nav-container {
  display: none;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transform: translate3d(0, 0, 0);
}
.main-nav-container.sticked {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #DADADA;
}
.main-nav-container.sticked .main-nav nav ul li:hover, .main-nav-container.sticked .main-nav nav ul li.active {
  background: rgba(115, 115, 115, 0.3);
}
.main-nav-container.sticked .main-nav nav ul li a {
  color: #4A4A4A;
}
.main-nav-container.sticked .main-nav nav .sub {
  background: #fff;
  border-color: #DADADA;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 3px 3px;
  top: 52px;
}

.main-nav {
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px 10px 0;
  position: relative;
}
.main-nav:after {
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
}
.main-nav .logo {
  display: inline-block;
  width: 99px;
}
.main-nav .logo img {
  width: 100%;
  height: auto;
}
.main-nav nav {
  float: right;
}
.main-nav nav ul {
  margin: 0;
  padding: 0;
}
.main-nav nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  transition: all 0.3s;
  border-radius: 3px;
}
.main-nav nav ul li:hover, .main-nav nav ul li.active {
  background: rgba(0, 0, 0, 0.5);
}
.main-nav nav ul li:hover .sub, .main-nav nav ul li.active .sub {
  height: inherit;
  opacity: 1;
}
.main-nav nav ul li.has-sub:before {
  content: "";
  height: 70px;
  width: 100%;
  display: none;
  position: absolute;
  z-index: 0;
}
.main-nav nav ul li.has-sub:hover:before {
  display: block;
}
.main-nav nav ul li.contact-sales {
  position: relative;
  top: 3px;
}
.main-nav nav ul li.contact-sales a {
  font-size: 24px;
  padding: 0 10px;
}
.main-nav nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 4px 10px 6px;
  font-size: 16px;
  font-family: "Lato-Semibold", Arial;
  transition: all 0.3s;
  position: relative;
}
.main-nav nav ul li a.signup {
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 6px 20px 8px;
  line-height: normal;
}
.main-nav nav ul li a.signup:hover {
  background: #fff;
  color: #000;
}
.main-nav nav .sub {
  transition: opacity 0.3s;
  opacity: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  top: 45px;
  left: 0;
}
.main-nav nav .sub li {
  border-radius: 0;
  margin-left: 0;
  display: inline-block;
  width: 100%;
  min-width: 150px;
}
.main-nav nav .sub li a {
  padding: 8px 10px 10px;
}

.main-mobile-nav-container {
  transition: all 0.3s;
}
.main-mobile-nav-container.sticked .triggers {
  background: white;
  box-shadow: 0 0 5px #333;
}
.main-mobile-nav-container.sticked .triggers .hamburger span {
  background: #000;
}
.main-mobile-nav-container.sticked .logo .color {
  opacity: 1;
}
.main-mobile-nav-container.sticked .logo .white {
  opacity: 0;
}
.main-mobile-nav-container .triggers {
  padding: 10px 15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  transition: all 0.3s;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.main-mobile-nav-container .banner {
  top: 43px;
  z-index: 8;
  font-size: 15px;
  padding: 0 15px;
}
.main-mobile-nav-container .logo {
  display: inline-block;
  width: 120px;
  height: 20px;
  z-index: 10;
  position: relative;
}
.main-mobile-nav-container .logo img {
  transition: all 0.3s;
  width: 100%;
  height: auto;
  position: absolute;
  top: 2px;
}
.main-mobile-nav-container .logo .color {
  opacity: 0;
}
.main-mobile-nav-container .hamburger {
  position: absolute;
  right: 15px;
  top: 13px;
}
.main-mobile-nav-container .hamburger span {
  width: 25px;
  height: 3px;
  margin-bottom: 4px;
  background: #fff;
  display: block;
  transition: all 0.3s;
}
.main-mobile-nav-container .cross {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  padding: 5px 15px 0px;
  color: #FFF;
  border: 0;
  font-size: 3em;
  line-height: 40px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10;
  display: none;
  margin: 0;
}
.main-mobile-nav-container nav {
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 60px 10px 40px;
  width: 100%;
  max-width: 375px;
  box-sizing: border-box;
  transform: translateX(400px);
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.5);
}
.main-mobile-nav-container nav:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(https://www.tinypulse.com/hubfs/redesign_2016/engage-bg-small.png);
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  filter: blur(15px);
}
.main-mobile-nav-container nav:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
.main-mobile-nav-container nav ul {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  overflow: auto;
  height: 100%;
}
.main-mobile-nav-container nav ul li {
  list-style-type: none;
  display: inline-block;
  width: 100%;
  position: relative;
  transition: all 0.3s;
  border-radius: 3px;
  margin-bottom: 15px;
}
.main-mobile-nav-container nav ul li.has-sub:before {
  content: "\f078";
  color: #fff;
  position: absolute;
  right: 8px;
  top: 9px;
  font-size: 30px;
  font: normal normal normal 14px/1 FontAwesome;
  -webkit-font-smoothing: antialiased;
  transition: all 0.3s;
}
.main-mobile-nav-container nav ul li.has-sub.expanded > a {
  font-family: "Lato-Bold", Arial;
}
.main-mobile-nav-container nav ul li.has-sub.expanded .sub {
  max-height: 300px;
}
.main-mobile-nav-container nav ul li.has-sub.expanded:before {
  transform: rotate(180deg);
}
.main-mobile-nav-container nav ul li.contact-sales {
  position: relative;
  top: 3px;
}
.main-mobile-nav-container nav ul li.contact-sales a {
  font-size: 24px;
  padding: 0 10px;
}
.main-mobile-nav-container nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 4px 10px 6px;
  font-size: 20px;
  font-family: "Lato-Light", Arial;
  transition: all 0.3s;
  position: relative;
}
.main-mobile-nav-container nav ul li a.signup {
  border-radius: 3px;
  padding: 6px 20px 8px;
  line-height: normal;
  background: #00C26B;
  text-align: center;
  margin-top: 20px;
}
.main-mobile-nav-container nav ul li a.signup:hover {
  background: #fff;
  color: #00C26B;
}
.main-mobile-nav-container nav .sub {
  transition: max-height 0.3s;
  overflow: hidden;
  max-height: 0;
}
.main-mobile-nav-container nav .sub li {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 20px;
}
.main-mobile-nav-container nav .sub li a {
  font-size: 18px;
}

.mobile-nav-opened .main-mobile-nav-container .triggers .hamburger span:first-child {
  transform: rotate(39deg) translateY(5px) translateX(3px);
}
.mobile-nav-opened .main-mobile-nav-container .triggers .hamburger span:first-child + span {
  transform: scale(0);
}
.mobile-nav-opened .main-mobile-nav-container .triggers .hamburger span:last-child {
  transform: rotate(-39deg) translateY(-7px) translateX(5px);
}
.mobile-nav-opened .main-mobile-nav-container.sticked .triggers .hamburger span {
  background: #000;
}
.mobile-nav-opened .main-mobile-nav-container nav {
  transform: translateX(0);
}

.header-graphics {
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  position: relative;
  display: inline-block;
  width: 100%;
}
.header-graphics .content {
  position: relative;
  display: block;
  padding: 10px;
  margin: 0 auto;
  margin-top: 30px;
}
.header-graphics .content h1 {
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-family: "Lato-Bold", Arial;
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 1.5px;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
  text-align: center;
}
.header-graphics .content .sub-headline {
  font-family: "Lato-Regular", Arial;
  font-size: 16px;
  color: #FFFFFF;
  margin-top: -10px;
  text-align: center;
}
.header-graphics .content .hbspt-form {
  height: 0;
  overflow: hidden;
}
.header-graphics .content .try-it-form {
  background: rgba(0, 0, 0, 0.6);
  padding: 25px;
  font-size: 0;
  border-radius: 5px;
  max-width: 325px;
  margin: 70px auto 50px;
}
.header-graphics .content .try-it-form input, .header-graphics .content .try-it-form button {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  border-radius: 4px;
  margin: 0;
  border: 0;
  transition: width 0.3s;
  box-sizing: border-box;
  height: 45px;
  padding: 0 10px;
  min-height: inherit;
  text-transform: none;
}
.header-graphics .content .try-it-form input {
  width: 100%;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Lato-Regular", Arial;
  font-size: 15px;
}
.header-graphics .content .try-it-form button {
  width: 100%;
  background: #00C26B;
  color: #fff;
  font-family: "Lato-Semibold", Arial;
  font-size: 16px;
}
.header-graphics .content .try-it-form button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.subnav {
  text-align: left;
  height: 40px;
  position: relative;
}
.subnav .container {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c5c+0,982c81+100&1+0,0.86+100
background: -moz-linear-gradient(45deg,  rgba(255,92,92,1) 0%, rgba(152,44,129,0.86) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
.subnav ul {
  margin: 0;
  padding: 0;
  position: relative;
  max-height: 40px;
  overflow: hidden;
  transition: max-height 0.75s;
}
.subnav ul.expanded {
  max-height: 300px;
}
.subnav ul.expanded li {
  display: inline-block;
}
.subnav ul.expanded li:first-child {
  height: 0;
}
.subnav ul.expanded li:first-child a:after {
  content: "\f077";
}
.subnav li {
  list-style: none;
  display: none;
  width: 100%;
}
.subnav li:first-child {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
}
.subnav li:first-child a {
  display: block;
  padding: 0;
  height: 100%;
}
.subnav li:first-child a:after {
  content: "\f078";
  position: absolute;
  right: 15px;
  top: 12px;
  font: normal normal normal 14px/1 FontAwesome;
  -webkit-font-smoothing: antialiased;
}
.subnav li.active {
  display: inline-block;
  font-family: "Lato-Bold", Arial;
}
.subnav a {
  display: block;
  font-size: 16px;
  color: #FFF;
  font-family: "Lato-Regular", Arial;
  padding: 8px 15px 13px;
}

.subnav-sticked .main-mobile-nav-container {
  transform: translateY(-50px);
}
.subnav-sticked .subnav .container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

@media screen and (min-width: 960px) {
  header .overlay {
    display: block;
  }

  .banner {
    z-index: 8;
    font-size: 24px;
    line-height: 31px;
    padding: 10px 15px;
    position: static;
  }

  .close-button {
    right: 15px;
  }

  .main-nav-container {
    height: 76px;
    display: block;
  }
  .main-nav-container.sticked {
    background: #fff;
    height: auto;
  }
  .main-nav-container.sticked nav ul li a {
    color: #000;
  }
  .main-nav-container.sticked nav ul li a.signup {
    border-color: #00C26B;
    color: #00C26B;
  }
  .main-nav-container.sticked nav ul li a.signup:hover {
    background: #00C26B;
    color: #fff;
  }
  .main-nav-container.sticked .main-nav .logo .color {
    opacity: 1;
  }
  .main-nav-container.sticked .main-nav .logo .white {
    opacity: 0;
  }

  .main-nav .logo {
    width: 150px;
    height: 28px;
    margin-top: 0;
    position: relative;
  }
  .main-nav .logo img {
    transition: all 0.3s;
    position: absolute;
  }
  .main-nav .logo .color {
    opacity: 0;
  }
  .main-nav nav {
    display: block;
    margin-top: -5px;
  }

  .main-mobile-nav-container {
    display: none;
  }

  .header-graphics {
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/large/header-bg.png);
    height: 620px;
  }
  .header-graphics .content {
    position: relative;
    top: 5%;
    margin-top: 110px;
    max-width: 600px;
  }
  .header-graphics .content h1 {
    font-size: 48px;
    margin-bottom: 50px;
  }
  .header-graphics .content .sub-headline {
    font-size: 22px;
    letter-spacing: 1px;
  }
  .header-graphics .content .try-it-form {
    max-width: 450px;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 0;
    margin-top: 40px;
  }
  .header-graphics .content .try-it-form input {
    width: 68%;
    border-radius: 4px 0 0 4px;
    margin: 0;
    text-align: left;
  }
  .header-graphics .content .try-it-form button {
    width: 32%;
    border-radius: 0 4px 4px 0;
    font-size: 18px;
  }
  .header-graphics .content .meet-consultant {
    padding-top: 120px;
  }
  .header-graphics .content .meet-consultant a {
    font-size: 24px;
  }

  .subnav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c5c+0,982c81+100&1+0,0.86+100 */
    background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    height: 50px;
  }
  .subnav .container {
    max-width: 960px;
    margin: 0 auto;
    background: none;
  }
  .subnav ul {
    text-align: center;
    max-height: inherit;
  }
  .subnav ul li {
    display: inline-block;
    width: 200px;
    position: relative;
  }
  .subnav ul li:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    left: 0;
    right: 0;
    transition: all 0.3s;
    background: #fff;
    transform: scaleX(0);
  }
  .subnav ul li:first-child {
    display: none;
  }
  .subnav ul li.active:before, .subnav ul li:hover:before {
    transform: scaleX(1);
  }
  .subnav ul li.active a, .subnav ul li:hover a {
    font-family: "Lato-Bold", Arial;
  }
  .subnav ul li a {
    font-size: 16px;
    padding: 14px 15px 17px;
  }

  .subnav-sticked .subnav .container {
    background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    top: 72px;
    max-width: inherit;
  }
}
body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: "Lato-Regular", Arial;
}

.row-fluid [class*="span"] {
  min-height: inherit;
}

a {
  text-decoration: none;
}

.clearfix {
  clear: both;
}

.body-container-wrapper {
  position: relative;
  z-index: 2;
  background: transparent;
}

.footer-container-wrapper {
  position: relative;
  z-index: 0;
}

.main-wrapper {
  transition: all 0.5s;
}

.main-content {
  background: #fff;
  box-shadow: 0 0 10px #666;
  margin-bottom: 10px;
}

.brands {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c5c+0,982c81+100&1+0,0.86+100 */
  background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding: 30px 10px 20px 10px;
  text-align: center;
}
.brands img {
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  height: auto;
  margin: 10px;
}

.content-block {
  padding-top: 30px;
}
.content-block .container {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}
.content-block .block-title {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0 30px;
  font-weight: normal;
  font-family: "Lato-Regular", Arial;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0.75px;
  text-align: center;
  font-weight: normal;
}
.content-block .block-desc {
  margin: 0 0 40px 0;
  padding: 0 30px;
  font-family: "Lato-Regular", Arial;
  font-size: 18px;
  font-weight: normal;
  color: #9b9b9b;
  letter-spacing: 0px;
  text-align: center;
}
.content-block .block-content {
  text-align: center;
}

.content-block-no-hero {
  padding-top: 70px;
}

.features .tile {
  display: inline-block;
  max-width: 320px;
  text-align: center;
  margin-bottom: 30px;
}
.features .tile a {
  display: block;
  cursor: default;
  transition: all 0.3s;
  padding: 0 15px;
}
.features .tile .title {
  font-family: "Lato-Regular", Arial;
  color: #000;
  margin-bottom: 20px;
}
.features .tile .icon {
  width: 59px;
  height: 65px;
  display: inline-block;
  background-image: url(http://www.tinypulse.com/hubfs/feature-icons-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 554px;
}
.features .tile .feature-2 {
  background-position: -99px 0;
}
.features .tile .feature-3 {
  background-position: -198px 0;
}
.features .tile .feature-4 {
  background-position: -297px 0;
}
.features .tile .feature-5 {
  background-position: -396px 0;
}
.features .tile .feature-6 {
  background-position: -495px 0;
}
.features .tile p {
  font-family: "Lato-Thin", Arial;
  font-size: 18px;
  color: #9b9b9b;
  letter-spacing: 0px;
  text-align: center;
}

.products-desktop {
  display: none;
}

.products-mobile {
  display: block;
}
.products-mobile .content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  padding: 0px 15px;
  position: relative;
}
.products-mobile .mask-1 {
  padding: 30px 15px;
  background-image: url(//www.tinypulse.com/hubfs/redesign_2016/engage-bg-small.png);
}
.products-mobile .mask-2 {
  padding: 30px 15px;
  background-image: url(//www.tinypulse.com/hubfs/redesign_2016/Perform_mobile.png);
}
.products-mobile .text {
  color: #FFF;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative;
}
.products-mobile .text .title {
  font-size: 24px;
  line-height: 32px;
  width: 300px;
  text-shadow: 0 2px 10px #333;
  letter-spacing: 0.75px;
  margin: 0;
}
.products-mobile .text .desc {
  font-size: 17px;
  text-shadow: 0 2px 10px #333;
  width: 290px;
  font-family: 'Lato-Light';
}
.products-mobile .text a {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  transition: all .3s;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  max-width: 300px;
}
.products-mobile .text a:hover {
  background: #fff;
  color: #333;
}

.success-stories .story {
  display: inline-block;
  max-width: 320px;
  text-align: center;
  margin-bottom: 50px;
  vertical-align: top;
  padding: 0 20px;
}
.success-stories .story p, .success-stories .story span {
  font-size: 14px;
  color: #9B9B9B;
  display: block;
  text-align: left;
  font-family: "Lato-Regular", Arial;
}
.success-stories .story p {
  color: #000;
  font-size: 20px;
  line-height: 30px;
}
.success-stories .story span {
  font-size: 18px;
  color: #9b9b9b;
  line-height: 24px;
  text-align: left;
}
.success-stories .story strong {
  display: block;
  font-family: "Lato-Bold", Arial;
}
.success-stories .story .icon img {
  width: 180px;
  height: 180px;
}
.success-stories .more-stories {
  text-align: center;
  margin: 40px 0 80px;
}
.success-stories .more-stories a {
  padding: 5px 20px 7px;
  border: 1px solid #dadada;
  border-radius: 2px;
  display: inline-block;
  color: #9B9B9B;
  transition: all 0.3s;
}
.success-stories .more-stories a:hover {
  background: #dadada;
  color: #fff;
}

.ctas {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c5c+0,982c81+100&1+0,0.86+100 */
  background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding: 30px 10px;
}
.ctas .block-title {
  color: #fff;
  padding: 0 20px;
}
.ctas div {
  text-align: center;
  padding: 0 15px;
  margin: 50px 0 30px 0;
}
.ctas a {
  display: inline-block;
  color: #fff;
  padding: 10px 0;
  border: 1px solid #fff;
  border-radius: 2px;
  transition: all 0.3s;
  margin: 10px 0;
  width: 100%;
  font-family: "Lato-Semibold", Arial;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 0.14px;
  text-align: center;
}
.ctas a:hover {
  background: #fff;
  color: #333;
}

.quote {
  padding: 20px 0;
  background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}
.quote .block-title {
  font-family: "Lato-Regular", Arial;
  color: #fff;
  font-size: 20px;
  padding: 0 10px;
}
.quote .block-desc {
  font-family: "Lato-Regular", Arial;
  color: #fff;
  margin: 0;
  font-size: 16px;
}

.press {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c5c+0,982c81+100&1+0,0.86+100 */
  background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding: 30px 10px 20px 10px;
  text-align: center;
}
.press .title {
  font-family: "Lato-Regular", Arial;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0px;
  line-height: 30px;
  text-align: center;
}
.press img {
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  height: auto;
  margin: 10px;
}

.new-features-page {
  margin-top: 40px;
}
.new-features-page .content-block {
  padding-bottom: 50px;
  border-bottom: 1px solid #DADADA;
}
.new-features-page .content-block .block-title {
  margin-bottom: 20px;
}
.new-features-page .content-block .block-title .super {
  font-family: "Lato-Light", Arial;
  color: #FE2851;
  font-size: 12px;
  position: relative;
  top: -13px;
  left: 3px;
}
.new-features-page .content-block .block-desc {
  margin-bottom: 10px;
}
.new-features-page .content-block .block-content {
  padding: 0 15px;
}
.new-features-page .content-block .block-content img {
  max-width: 100%;
  margin: 40px 0;
}
.new-features-page .content-block .block-content p {
  text-align: left;
  font-family: "Lato-Light", Arial;
  line-height: 26px;
  font-size: 18px;
}
.new-features-page .tp-engage img {
  width: 496px;
  max-width: 496px;
}
.new-features-page .download {
  text-align: center;
  margin-top: 30px;
}
.new-features-page .download span {
  display: block;
  margin-bottom: 10px;
  color: #9B9B9B;
}
.new-features-page .download a {
  display: inline-block;
  clear: both;
  vertical-align: middle;
}
.new-features-page .download a img {
  max-width: 150px !important;
  margin: 10px 0 !important;
}
.new-features-page .download a.apple-store {
  margin-right: 20px;
}
.new-features-page .download .store {
  width: 100px;
  height: 34px;
  font-size: 0;
  margin-right: 8px;
  background: url(http://www.tinypulse.com/hubfs/redesign_2016/stores.png) no-repeat;
}
.new-features-page .download .google-store {
  background-position: -110px 0;
}
.new-features-page .try-it-now {
  border: 1px solid #dadada;
  margin: 30px 0;
  padding: 20px;
}
.new-features-page .try-it-now p {
  margin: 0 0 20px 0;
}
.new-features-page .try-it-now a {
  background: #00C26B;
  border-radius: 3px;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  display: block;
  color: #fff;
  font-size: 16px;
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 960px) {
  .header-graphics, .main-content {
    position: relative;
    z-index: 1;
  }

  .main-wrapper {
    padding-bottom: 266px;
  }

  .brands img {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    width: 100px;
    display: inline-block;
  }

  .content-block {
    padding-top: 50px;
  }
  .content-block .block-title {
    font-size: 36px;
  }

  .content-block-no-hero {
    padding-top: 90px;
  }

  .features .tile {
    max-width: 300px;
  }
  .features .tile a {
    padding: 30px 15px;
    cursor: pointer;
  }
  .features .tile a:hover {
    background: #E8F4FD;
  }
  .features .tile a:hover .icon {
    background-position-y: -90px;
  }
  .features .tile p {
    font-size: 14px;
  }

  .products-mobile {
    display: none;
  }

  .products-desktop {
    display: block;
    height: 1620px;
    background-color: #A39D66;
    overflow: hidden;
    position: relative;
    transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .products-desktop .content {
    height: 810px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
  }
  .products-desktop .content .container {
    max-width: 920px;
    margin: 0 auto;
    height: 100%;
    position: relative;
  }
  .products-desktop .content .text {
    top: 0;
    left: 0;
    color: #fff;
    position: absolute;
    width: 400px;
    top: 50%;
    margin-top: -150px;
  }
  .products-desktop .content .text .title {
    font-size: 36px;
    line-height: 48px;
    text-shadow: 0 2px 10px #333;
  }
  .products-desktop .content .text .desc {
    font-size: 20px;
    text-shadow: 0 0 10px #333;
  }
  .products-desktop .content .text a {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    transition: all 0.3s;
  }
  .products-desktop .content .text a:hover {
    background: #fff;
    color: #333;
  }
  .products-desktop .content .text-1 {
    left: 0;
  }
  .products-desktop .masked-images {
    position: absolute;
    top: 0;
    left: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);
    width: 100%;
  }
  .products-desktop .masked-images .masked-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 810px;
  }
  .products-desktop .masked-images .masked-image div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 810px;
  }
  .products-desktop .masked-images .masked-image-1 div {
    background-image: url(//www.tinypulse.com/hubfs/Client_logo/Perform.png);
  }
  .products-desktop .masked-images .masked-image-2 div {
    background-image: url(//www.tinypulse.com/hubfs/redesign_2016/engage-bg.png);
  }

  .success-stories .story {
    max-width: 300px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .success-stories .story .icon {
    margin: 10px 0 50px 0;
  }
  .success-stories .story p, .success-stories .story span {
    text-align: left;
    display: block;
    font-size: 14px;
    line-height: 20px;
  }

  .ctas .block-title {
    font-size: 30px;
    color: #fff;
  }
  .ctas a {
    padding: 7px 30px;
    font-size: 14px;
    width: auto;
  }
  .ctas a:nth-child(2) {
    margin-left: 50px;
    margin-right: 50px;
  }
  .ctas div {
    margin: 0;
    padding: 0;
  }

  .quote {
    padding: 30px;
  }
  .quote .block-title {
    font-size: 26px;
  }

  .press img {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    width: 100px;
    display: inline-block;
  }

  .new-features-page {
    margin-top: 70px;
  }
  .new-features-page .content-block .block-content {
    padding: 0;
  }
  .new-features-page .content-block .block-content.image-right {
    direction: rtl;
  }
  .new-features-page .content-block .block-content .column {
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    vertical-align: top img;
    vertical-align-margin-top: 0px;
  }
  .new-features-page .content-block .block-content p {
    direction: ltr;
    font-size: 16px;
    line-height: 24px;
  }
  .new-features-page .left-side {
    text-align: left;
    float: left;
    padding-right: 5px;
  }
  .new-features-page .right-side {
    float: right;
    padding-left: 5px;
  }
  .new-features-page .livepulse-content {
    margin-top: 18px;
  }
  .new-features-page .admin-dashboard {
    margin-top: 15%;
  }
  .new-features-page .smartpulse {
    margin-top: 10%;
  }
  .new-features-page .try-it-now {
    display: inline-block;
    width: 100%;
    direction: ltr;
    padding: 30px 15px;
    box-sizing: border-box;
  }
  .new-features-page .try-it-now p {
    vertical-align: middle;
    width: 720px;
    display: inline-block;
    margin: 0 20px 0 0;
    line-height: 24px;
  }
  .new-features-page .try-it-now p span {
    display: block;
  }
  .new-features-page .try-it-now a {
    vertical-align: middle;
    width: 152px;
    display: inline-block;
  }
  .new-features-page .download {
    text-align: left;
  }
  .new-features-page .download span {
    display: inline-block;
    margin-right: 15px;
  }
}
footer .container {
  padding: 20px 30px;
}
footer ul {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #f1f2f2;
}
footer ul:last-child {
  border-bottom: 0;
  margin: 0;
}
footer ul li {
  font-size: 18px;
  list-style-type: none;
  margin-bottom: 6px;
  display: none;
  cursor: pointer;
  line-height: normal;
}
footer ul li:first-child {
  display: block;
  position: relative;
  width: 100%;
}
footer ul li:first-child:focus {
  outline: none;
}
footer ul li:first-child:after {
  content: "+";
  color: #9B9B9B;
  position: absolute;
  right: 0;
  top: -7px;
  font-size: 30px;
  font-family: "Lato-Light", Arial;
}
footer ul li strong {
  font-family: "Lato-Bold", Arial;
  margin-bottom: 5px;
  display: inline-block;
}
footer ul li a {
  color: #000000;
  text-decoration: none;
}
footer ul.expanded li:first-child:after {
  content: "-";
  font-size: 50px;
  top: -22px;
}
footer ul.expanded li {
  display: block;
}
footer .copyright {
  background: #F1F2F1;
  text-align: center;
  line-height: 30px;
}
footer .copyright .container {
  padding: 10px;
  box-sizing: border-box;
}
footer .copyright span {
  display: block;
  font-size: 14px;
}

@media screen and (min-width: 960px) {
  footer {
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate3d(0, 0, 0);
  }
  footer .container {
    max-width: 960px;
    margin: 0 auto;
  }
  footer ul {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border: 0;
  }
  footer ul:nth-child(1) {
    width: 25%;
  }
  footer ul:nth-child(2) {
    width: 35%;
  }
  footer ul:nth-child(3) {
    width: 24%;
  }
  footer ul:nth-child(4) {
    width: 13%;
  }
  footer ul li {
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
  }
  footer ul li:first-child:after {
    display: none;
  }
  footer ul li a {
    font-family: "Lato-Light", Arial;
  }
  footer .copyright {
    display: inline-block;
    width: 100%;
    clear: both;
    text-align: center;
    font-size: 0;
    line-height: normal;
  }
  footer .copyright .container {
    padding: 20px 0;
  }
  footer .copyright span {
    display: inline-block;
  }
  footer .copyright span:first-child {
    width: 25%;
    text-align: left;
  }
  footer .copyright span:first-child + span {
    width: 50%;
    text-align: center;
  }
  footer .copyright span:first-child + span + span {
    width: 25%;
  }
}
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  z-index: 999;
  display: none;
}
.popup-container .overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.popup-container .popup {
  width: 320px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -250px;
}
.popup-container .popup .close-btn {
  position: absolute;
  top: -10px;
  right: 5px;
  font-size: 50px;
  color: #fff;
  transform: rotate(45deg);
  font-family: "Lato-Light";
}
.popup-container .popup .popup-content {
  font-size: 0;
  height: 100%;
}
.popup-container .popup .popup-content .column {
  direction: ltr;
  display: inline-block;
  /*height: 100%;*/
  text-align: center;
  background: #fff;
  box-sizing: border-box;
  padding: 0 10px;
}
.popup-container .popup .popup-content .column.image {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c5c+0,982c81+100&1+0,0.86+100 */
  background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding: 40px 30px;
}
.popup-container .popup .popup-content .column img {
  max-width: 100%;
  height: auto;
}
.popup-container .popup .popup-content .column .title {
  font-size: 24px;
  color: #000;
}
.popup-container .popup .popup-content .column .desc {
  font-size: 18px;
  line-height: 24px;
  color: #9b9b9b;
}
.popup-container .popup .popup-content .column .learn-more {
  margin: 36px 10px 30px;
}
.popup-container .popup .popup-content .column a {
  font-size: 22px;
  color: #fff;
  width: 280px;
  text-align: center;
  background: #00C26B;
  border-radius: 3px;
  display: block;
  padding: 10px 0px;
}

/*@media screen and (min-height: 321px) and (orientation: landscape){*/
/*.popup-container{*/
/*.popup{*/
/*top: 20px;*/
/*}*/
/*}*/
/*}*/
/*@media screen and (min-height: 559px) and (orientation: portrait){*/
/*.popup-container{*/
/*.popup{*/
/*top: 20px;*/
/*.popup-content{*/
/*.column{*/
/*height: 280px;*/
/*padding-top: 10px;*/
/*&.image{*/
/*padding: 60px 20px;*/
/*}*/
/*}				*/
/*}*/
/*}*/
/*}*/
/*}*/
/*@media screen and (max-height: 440px) and (orientation: landscape){*/
/*.popup-container{*/
/*.popup{*/
/*height: 320px;*/
/*max-height: inherit;*/
/*width: 568px;*/
/*max-width: inherit;*/
/*.popup-content{*/
/*direction: rtl;*/
/*.column{*/
/*width: 50%;*/
/*vertical-align: top;*/
/*height: 320px;*/
/*padding: 5px 20px;*/
/*text-align: left;*/
/*&.image{*/
/*padding: 80px 20px;*/
/*text-align: center;*/
/*}*/
/*}				*/
/*}*/
/*}*/
/*}*/
/*}*/
/*@media screen and (max-height: 1024px) and (min-height: 1024px) and (min-width: 768px) and (max-width: 768px){*/
/*.popup-container{*/
/*.popup{*/
/*top: 200px;*/
/*.popup-content{*/
/*.column{*/
/*height: 280px;*/
/*padding-top: 10px;*/
/*&.image{*/
/*padding: 60px 20px;*/
/*}*/
/*}				*/
/*}*/
/*}*/
/*}*/
/*}*/
@media screen and (min-width: 960px) {
  .popup-container {
    /*padding-top: 20%;*/
  }
  .popup-container .popup {
    height: 380px;
    max-height: inherit;
    width: 960px;
    max-width: inherit;
    /*top: auto;*/
    top: 50%;
    left: 50%;
    margin-left: -480px;
    margin-top: -190px;
  }
  .popup-container .popup .popup-content {
    direction: rtl;
  }
  .popup-container .popup .popup-content .column {
    width: 480px;
    vertical-align: top;
    height: 380px;
    padding: 70px 50px;
    text-align: left;
  }
  .popup-container .popup .popup-content .column.image {
    padding: 70px 0;
    text-align: center;
  }
  .popup-container .popup .popup-content .column img {
    width: 400px;
  }
  .popup-container .popup .popup-content .column a {
    max-width: 200px;
  }
  .popup-container .popup .popup-content .column a:hover {
    opacity: 0.9;
  }
  .popup-container .popup .popup-content .column .learn-more {
    margin: 55px 0px 0px;
  }
  .popup-container .popup .popup-content .column .title {
    font-size: 36px;
    margin-top: 0px;
  }
}
body {
  font-family: "Lato-Regular";
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
