/* line 7, ../sass/jobs.scss */
strong {
  font-family: "Lato-Bold";
}

/* line 11, ../sass/jobs.scss */
.content-block {
  padding-bottom: 50px;
}
/* line 13, ../sass/jobs.scss */
.content-block .block-title {
  margin-bottom: 50px;
}
/* line 16, ../sass/jobs.scss */
.content-block .block-desc {
  margin-bottom: 10px;
}
/* line 19, ../sass/jobs.scss */
.content-block .block-content {
  padding: 0 15px;
}
/* line 21, ../sass/jobs.scss */
.content-block .block-content img {
  max-width: 100%;
  margin: 40px 0;
}
/* line 25, ../sass/jobs.scss */
.content-block .block-content p {
  text-align: left;
  font-family: "Lato-Light";
  line-height: 26px;
  font-size: 18px;
}
/* line 31, ../sass/jobs.scss */
.content-block .block-content ul {
  padding: 0;
  margin: 0 0 0 18px;
}
/* line 34, ../sass/jobs.scss */
.content-block .block-content ul li {
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  font-family: "Lato-Light";
  margin-bottom: 5px;
}

/* line 45, ../sass/jobs.scss */
.jobs {
  border: 1px solid #DADADA;
  margin-top: 50px;
}
/* line 48, ../sass/jobs.scss */
.jobs .job {
  border-top: 1px solid #dadada;
}
/* line 50, ../sass/jobs.scss */
.jobs .job:first-child {
  border-top: 0;
}
/* line 54, ../sass/jobs.scss */
.jobs .job.expanded .job-title {
  border-color: #dadada;
}
/* line 56, ../sass/jobs.scss */
.jobs .job.expanded .job-title:after {
  transform: rotate(0deg);
}
/* line 60, ../sass/jobs.scss */
.jobs .job.expanded .job-desc {
  max-height: 800px;
}
/* line 64, ../sass/jobs.scss */
.jobs .job .job-title {
  margin: 0;
  font-family: "Lato-Semibold";
  padding: 20px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  transition: all 0.5s;
}
/* line 72, ../sass/jobs.scss */
.jobs .job .job-title:after {
  transition: all 0.3s;
  content: "\f078";
  position: absolute;
  right: 20px;
  top: 25px;
  font: normal normal normal 14px/1 FontAwesome;
  -webkit-font-smoothing: antialiased;
  transform: rotate(-90deg);
}
/* line 83, ../sass/jobs.scss */
.jobs .job .job-desc {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s;
  text-align: left;
  padding: 0 20px;
}
/* line 90, ../sass/jobs.scss */
.jobs .job .job-desc p {
  padding-top: 10px;
}
/* line 93, ../sass/jobs.scss */
.jobs .job .job-desc a {
  color: #1C94EE;
  text-align: left;
  display: inline-block;
  margin-bottom: 30px;
}
