strong {
  font-family: "Lato-Bold";
}

.content-block {
  padding-bottom: 50px;
}
.content-block .block-title {
  margin-bottom: 50px;
}
.content-block .block-desc {
  margin-bottom: 10px;
}
.content-block .block-content {
  padding: 0 15px;
}
.content-block .block-content img {
  max-width: 100%;
  margin: 40px 0;
}
.content-block .block-content p {
  text-align: left;
  font-family: "Lato-Light";
  line-height: 26px;
  font-size: 18px;
}
.content-block .block-content ul {
  padding: 0;
  margin: 0 0 0 18px;
}
.content-block .block-content ul li {
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  font-family: "Lato-Light";
  margin-bottom: 5px;
}

.jobs {
  border: 1px solid #DADADA;
  margin: 50px 0 70px;
  display: inline-block;
}
.jobs .job.expanded {
  border-bottom: 1px solid #DADADA;
}
.jobs .job.expanded .job-title {
  border-color: #dadada;
}
.jobs .job.expanded .job-title:after {
  transform: rotate(0deg);
}
.jobs .job.expanded .job-desc {
  max-height: 800px;
}
.jobs .job .job-title {
  margin: 0;
  font-family: "Lato-Semibold";
  padding: 20px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #dadada;
  transition: all 0.5s;
}
.jobs .job .job-title:after {
  transition: all 0.3s;
  content: "\f078";
  position: absolute;
  right: 20px;
  top: 25px;
  font: normal normal normal 14px/1 FontAwesome;
  -webkit-font-smoothing: antialiased;
  transform: rotate(-90deg);
}
.jobs .job .job-desc {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s;
  text-align: left;
  padding: 0 20px;
}
.jobs .job .job-desc p {
  padding-top: 10px;
}
.jobs .job .job-desc a {
  color: #1C94EE;
  text-align: left;
  display: inline-block;
  margin-bottom: 30px;
}

@media screen and (min-width: 960px) {
  .content-block .block-content {
    padding: 0;
  }
}
