@charset "UTF-8";
/* line 5, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/perform-demo-goals.scss */
.container-fluid {
  max-width: 1280px;
  padding-left: 11px;
  padding-right: 11px;
}

/* line 6, ../sass/perform-demo-goals.scss */
.row {
  margin-left: -11px;
  margin-right: -11px;
}

/* line 10, ../sass/perform-demo-goals.scss */
.pd-lr-11 {
  padding-left: 11px;
  padding-right: 11px;
}

/* line 14, ../sass/perform-demo-goals.scss */
.mg-t-15 {
  margin-top: 15px;
}

/* line 17, ../sass/perform-demo-goals.scss */
.mg-b-15 {
  margin-bottom: 15px;
}

/* line 20, ../sass/perform-demo-goals.scss */
.top-menu {
  position: relative;
  width: 100%;
}
/* line 23, ../sass/perform-demo-goals.scss */
.top-menu .leftside {
  position: relative;
}
/* line 27, ../sass/perform-demo-goals.scss */
.top-menu .btn {
  padding: 6px 28px;
  font-family: "SourceSansPro-Regular";
  font-size: 16px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
}
/* line 36, ../sass/perform-demo-goals.scss */
.top-menu .btn-flat-gray {
  color: #4A4A4A;
  background-color: #DADADA;
  border-color: #DADADA;
}
/* line 40, ../sass/perform-demo-goals.scss */
.top-menu .btn-flat-gray:hover {
  background-color: #C1C1C1;
  border-color: #BBB;
}
/* line 44, ../sass/perform-demo-goals.scss */
.top-menu .btn-flat-gray .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
/* line 56, ../sass/perform-demo-goals.scss */
.top-menu .dropdown-menu {
  position: absolute;
  z-index: 2;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 16px;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  left: initial;
  display: none;
}
/* line 72, ../sass/perform-demo-goals.scss */
.top-menu .dropdown-menu li {
  font-size: 16px;
}
/* line 74, ../sass/perform-demo-goals.scss */
.top-menu .dropdown-menu li:hover {
  background-color: #ebf7fe;
}
/* line 77, ../sass/perform-demo-goals.scss */
.top-menu .dropdown-menu li a {
  text-decoration: none;
  color: #262626;
  padding: 3px 20px;
  line-height: 1.5;
}

/* line 88, ../sass/perform-demo-goals.scss */
.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}
/* line 91, ../sass/perform-demo-goals.scss */
.fade.in {
  opacity: 1;
}

/* line 95, ../sass/perform-demo-goals.scss */
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
/* line 106, ../sass/perform-demo-goals.scss */
.modal.in .modal-dialog {
  transform: translate(0, 0);
}
/* line 109, ../sass/perform-demo-goals.scss */
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
}
/* line 112, ../sass/perform-demo-goals.scss */
.modal .modal-dialog {
  width: 600px;
  margin: 30px auto;
  position: relative;
}

/* line 118, ../sass/perform-demo-goals.scss */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
/* line 126, ../sass/perform-demo-goals.scss */
.modal-backdrop.in {
  opacity: 0.5;
}

/* line 130, ../sass/perform-demo-goals.scss */
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 134, ../sass/perform-demo-goals.scss */
.modal-content {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-clip: padding-box;
  outline: 0;
}

/* line 143, ../sass/perform-demo-goals.scss */
.modal-header {
  padding: 15px 15px 0 25px;
  border-bottom: 0;
}
/* line 146, ../sass/perform-demo-goals.scss */
.modal-header .close {
  margin-top: -2px;
}
/* line 149, ../sass/perform-demo-goals.scss */
.modal-header h4 {
  font-size: 20px;
}
/* line 152, ../sass/perform-demo-goals.scss */
.modal-header button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
}
/* line 165, ../sass/perform-demo-goals.scss */
.modal-header button.close:hover, .modal-header button.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* line 174, ../sass/perform-demo-goals.scss */
.pf-text-stronger {
  font-family: "SourceSansPro-Bold";
}

/* line 177, ../sass/perform-demo-goals.scss */
.modal-title {
  margin: 0;
  line-height: 1.42857;
}

/* line 181, ../sass/perform-demo-goals.scss */
.modal-body {
  padding: 0 25px 10px 25px;
  max-height: 500px;
  overflow: auto;
  position: relative;
}

/* line 187, ../sass/perform-demo-goals.scss */
.card-input {
  width: 100%;
  padding: 20px 0;
  position: relative;
}
/* line 191, ../sass/perform-demo-goals.scss */
.card-input input {
  border: 0;
  width: 100%;
  font-family: "SourceSansPro-Regular";
  font-size: 16px;
  overflow: hidden;
  border-bottom: 1px solid #DADADA;
  padding: 8px 0;
}
/* line 199, ../sass/perform-demo-goals.scss */
.card-input input:focus {
  outline: none;
  border-bottom: 2px solid #1C94EE;
}
/* line 202, ../sass/perform-demo-goals.scss */
.card-input input:focus ~ .card-character-count, .card-input input:focus ~ label {
  color: #1C94EE;
}
/* line 207, ../sass/perform-demo-goals.scss */
.card-input label {
  position: absolute;
  left: 0;
  pointer-events: none;
  transition: 0.2s ease all;
  color: #9B9B9B;
  font-weight: normal;
  margin: 0;
  top: 6px;
  opacity: 1;
  font-size: 12px;
}

/* line 220, ../sass/perform-demo-goals.scss */
.pf-mar-top {
  margin-top: 15px;
}

/* line 223, ../sass/perform-demo-goals.scss */
.card-character-count {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 18px;
  margin: auto;
  color: #9B9B9B;
  font-size: 12px;
}

/* line 232, ../sass/perform-demo-goals.scss */
.modal-footer {
  text-align: center;
  padding: 15px;
  border-top: 1px solid #e5e5e5;
}
/* line 236, ../sass/perform-demo-goals.scss */
.modal-footer .btn-flat-green {
  color: #ffffff;
  background-color: #00C26B;
  border-color: #00C26B;
}
/* line 240, ../sass/perform-demo-goals.scss */
.modal-footer .btn-flat-green:hover {
  background-color: #008f4f;
  border-color: #008549;
}
/* line 245, ../sass/perform-demo-goals.scss */
.modal-footer .btn {
  padding: 6px 28px;
  font-family: "SourceSansPro-Regular";
  -webkit-appearance: button;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 2px;
  user-select: none;
  cursor: pointer;
  font-size: 16px;
}
/* line 255, ../sass/perform-demo-goals.scss */
.modal-footer .btn:focus {
  outline: none;
}

/* line 260, ../sass/perform-demo-goals.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 266, ../sass/perform-demo-goals.scss */
.goal-list img {
  width: 100%;
}

/* line 271, ../sass/perform-demo-goals.scss */
.top-img {
  position: relative;
}
/* line 273, ../sass/perform-demo-goals.scss */
.top-img img {
  width: 100%;
}

/* line 279, ../sass/perform-demo-goals.scss */
.goal-details [class^="icon-"]:before, .goal-details [class*=" icon-"]:before {
  font-family: "perform-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 290, ../sass/perform-demo-goals.scss */
.goal-details .icon-members:before {
  content: "";
}
/* line 293, ../sass/perform-demo-goals.scss */
.goal-details .icon-tick:before {
  content: "";
}
/* line 296, ../sass/perform-demo-goals.scss */
.goal-details .icon-angle-left:before {
  content: '\e80b';
}
/* line 299, ../sass/perform-demo-goals.scss */
.goal-details .icon-angle-right:before {
  content: '\e817';
}
/* line 302, ../sass/perform-demo-goals.scss */
.goal-details .icon-members {
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
/* line 308, ../sass/perform-demo-goals.scss */
.goal-details .icon-tick {
  display: none;
  color: #00C26B;
  font-size: 13px;
  vertical-align: middle;
  height: 13px;
  margin-left: 5px;
}
/* line 315, ../sass/perform-demo-goals.scss */
.goal-details .icon-tick.active {
  display: inline-block;
}
/* line 319, ../sass/perform-demo-goals.scss */
.goal-details .nav-pills li {
  text-align: center;
  margin-left: 11px;
  margin-right: 11px;
}
/* line 323, ../sass/perform-demo-goals.scss */
.goal-details .nav-pills li a {
  border: 1px solid #4861A0;
  font-size: 12px;
  color: #4861A0;
}
/* line 327, ../sass/perform-demo-goals.scss */
.goal-details .nav-pills li a:hover {
  background-color: #4861A0;
  color: #FFFFFF;
}
/* line 332, ../sass/perform-demo-goals.scss */
.goal-details .nav-pills li.active a {
  background-color: #4861A0;
  color: #FFFFFF;
}
/* line 338, ../sass/perform-demo-goals.scss */
.goal-details .row img {
  width: 100%;
}
/* line 342, ../sass/perform-demo-goals.scss */
.goal-details .tab-content {
  margin: 20px 11px 0px 11px;
  position: relative;
}
/* line 346, ../sass/perform-demo-goals.scss */
.goal-details img.rated {
  display: none;
}
/* line 349, ../sass/perform-demo-goals.scss */
.goal-details .wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px;
  height: 40px;
}
/* line 357, ../sass/perform-demo-goals.scss */
.goal-details .list {
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 3000px;
  margin-top: 0px;
}
/* line 365, ../sass/perform-demo-goals.scss */
.goal-details .list li {
  display: table-cell;
  position: relative;
  text-align: center;
  cursor: grab;
  cursor: -webkit-grab;
  color: #efefef;
  vertical-align: middle;
}
/* line 375, ../sass/perform-demo-goals.scss */
.goal-details .scroller {
  text-align: center;
  cursor: pointer;
  display: none;
  padding: 5px;
  padding-top: 11px;
  white-space: no-wrap;
  vertical-align: middle;
}
/* line 385, ../sass/perform-demo-goals.scss */
.goal-details .scroller-right {
  float: right;
}
/* line 389, ../sass/perform-demo-goals.scss */
.goal-details .scroller-left {
  float: left;
}
/* line 392, ../sass/perform-demo-goals.scss */
.goal-details .pf-icon-huge {
  width: 40px;
  height: 40px;
  padding: 7px;
  font-size: 24px;
  color: #4861A0;
  cursor: pointer;
  display: none;
  top: 45px;
}
/* line 401, ../sass/perform-demo-goals.scss */
.goal-details .pf-icon-huge:hover, .goal-details .pf-icon-huge:focus {
  text-decoration: none;
  color: #1C94EE;
}
/* line 406, ../sass/perform-demo-goals.scss */
.goal-details .next-goal {
  position: absolute;
  right: -30px;
}
/* line 411, ../sass/perform-demo-goals.scss */
.goal-details .previous-goal {
  position: absolute;
  left: -26px;
}

@media screen and (min-width: 481px) {
  /* line 418, ../sass/perform-demo-goals.scss */
  .goal-details .tab-content {
    padding: 0 20px;
  }
  /* line 421, ../sass/perform-demo-goals.scss */
  .goal-details .pf-icon-huge {
    top: 200px;
  }
  /* line 424, ../sass/perform-demo-goals.scss */
  .goal-details .next-goal {
    right: -20px;
  }
  /* line 428, ../sass/perform-demo-goals.scss */
  .goal-details .previous-goal {
    left: -20px;
  }
}
@media screen and (min-width: 769px) {
  /* line 435, ../sass/perform-demo-goals.scss */
  .goal-details .tab-content {
    padding: 0 80px;
  }
  /* line 438, ../sass/perform-demo-goals.scss */
  .goal-details .pf-icon-huge {
    top: 200px;
  }
  /* line 441, ../sass/perform-demo-goals.scss */
  .goal-details .next-goal {
    right: -20px;
  }
  /* line 445, ../sass/perform-demo-goals.scss */
  .goal-details .previous-goal {
    left: -20px;
  }
}
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("fonts/SourceSansPro-Regular.eot");
  src: url("fonts/SourceSansPro-Regular.woff2") format("woff2"), url("fonts/SourceSansPro-Regular.woff") format("woff"), url("fonts/SourceSansPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "perform-icon";
  src: url("https://d1i5ulwvtra6uh.cloudfront.net/assets/perform-icon.eot");
  src: url("https://d1i5ulwvtra6uh.cloudfront.net/assets/perform-icon.eot?#iefix") format("embedded-opentype"), url("https://d1i5ulwvtra6uh.cloudfront.net/assets/perform-icon.woff") format("woff"), url("https://d1i5ulwvtra6uh.cloudfront.net/assets/perform-icon.ttf") format("truetype"), url("https://d1i5ulwvtra6uh.cloudfront.net/assets/perform-icon.svg#perform-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 18, ../sass/perform-demo.scss */
html, body, .main-wrapper, .content-wrapper {
  height: 100%;
}

/* line 22, ../sass/perform-demo.scss */
body {
  background: #EEF0F1;
  font-family: "SourceSansPro-Regular";
}

/* line 27, ../sass/perform-demo.scss */
a {
  text-decoration: none;
}

/* line 31, ../sass/perform-demo.scss */
header {
  height: 60px;
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.06);
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 10;
}
/* line 39, ../sass/perform-demo.scss */
header .container {
  padding: 0 10px;
  box-sizing: border-box;
}
/* line 43, ../sass/perform-demo.scss */
header .logo {
  line-height: 80px;
  height: 60px;
}
/* line 46, ../sass/perform-demo.scss */
header .logo img {
  width: 250px;
  height: auto;
}
/* line 51, ../sass/perform-demo.scss */
header .content {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  left: 0;
  right: 0;
  padding: 20px;
}
/* line 60, ../sass/perform-demo.scss */
header .content p {
  font-size: 16px;
  float: left;
}
/* line 64, ../sass/perform-demo.scss */
header .content a {
  float: right;
  background: #00C26B;
  border-radius: 3px;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0px;
  padding: 10px 20px;
  margin-top: -8px;
}

/* line 77, ../sass/perform-demo.scss */
nav {
  box-shadow: none;
  width: 50px;
  background-color: #49629E;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transition: all 0.3s;
}
/* line 89, ../sass/perform-demo.scss */
nav ul {
  margin-top: 60px;
  padding-left: 0;
  list-style: none;
  width: 50px;
}
/* line 94, ../sass/perform-demo.scss */
nav ul li {
  position: relative;
  display: block;
}
/* line 97, ../sass/perform-demo.scss */
nav ul li.active, nav ul li:hover {
  background: #37465C;
}
/* line 100, ../sass/perform-demo.scss */
nav ul li a {
  padding: 15px 0px 15px 15px;
  color: #fff;
  display: block;
  line-height: 23px;
  position: relative;
}
/* line 106, ../sass/perform-demo.scss */
nav ul li a i {
  margin-right: 8px;
  display: inline-block;
  font-size: 24px;
  vertical-align: middle;
}
/* line 112, ../sass/perform-demo.scss */
nav ul li a span {
  display: none;
  vertical-align: middle;
}
/* line 117, ../sass/perform-demo.scss */
nav ul li a:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
/* line 123, ../sass/perform-demo.scss */
nav ul li a.not-viewed:after {
  display: inline-block;
}
/* line 128, ../sass/perform-demo.scss */
nav ul li a.viewed:after {
  display: none;
}
/* line 132, ../sass/perform-demo.scss */
nav ul li a:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background: #bb101c;
  line-height: 0;
  border-radius: 50%;
  vertical-align: top;
  transition: all 0.3s;
  display: none;
}
/* line 145, ../sass/perform-demo.scss */
nav ul li .tooltip {
  font-size: 16px;
  padding: 10px;
  color: #fff;
  background: #4A4A4A;
  border-radius: 3px;
  position: absolute;
  left: 65px;
  top: 3px;
  z-index: 9;
  box-shadow: 2px 2px 3px #333;
  width: 300px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  text-align: left;
}
/* line 161, ../sass/perform-demo.scss */
nav ul li .tooltip:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  border-color: transparent #4A4A4A transparent transparent;
  border-style: solid;
  border-width: 7px;
  top: 15px;
  left: -13px;
}
/* line 176, ../sass/perform-demo.scss */
nav [class^="icon-"]:before, nav [class*=" icon-"]:before {
  font-family: "perform-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 187, ../sass/perform-demo.scss */
nav .icon-add-member:before {
  content: "";
}
/* line 191, ../sass/perform-demo.scss */
nav .icon-archive:before {
  content: "";
}
/* line 195, ../sass/perform-demo.scss */
nav .icon-delete:before {
  content: "";
}
/* line 199, ../sass/perform-demo.scss */
nav .icon-exclamation:before {
  content: "";
}
/* line 203, ../sass/perform-demo.scss */
nav .icon-hamburger:before {
  content: "";
}
/* line 207, ../sass/perform-demo.scss */
nav .icon-share:before {
  content: "";
}
/* line 211, ../sass/perform-demo.scss */
nav .icon-more:before {
  content: "";
}
/* line 215, ../sass/perform-demo.scss */
nav .icon-tick:before {
  content: "";
}
/* line 219, ../sass/perform-demo.scss */
nav .icon-edit-o:before {
  content: "";
}
/* line 223, ../sass/perform-demo.scss */
nav .icon-delete-o:before {
  content: "";
}
/* line 227, ../sass/perform-demo.scss */
nav .icon-x:before {
  content: "";
}
/* line 231, ../sass/perform-demo.scss */
nav .icon-angle-left:before {
  content: "";
}
/* line 235, ../sass/perform-demo.scss */
nav .icon-calendar-o:before {
  content: "";
}
/* line 239, ../sass/perform-demo.scss */
nav .icon-archive-o:before {
  content: "";
}
/* line 243, ../sass/perform-demo.scss */
nav .icon-unarchive-o:before {
  content: "";
}
/* line 247, ../sass/perform-demo.scss */
nav .icon-rate-below-o:before {
  content: "";
}
/* line 251, ../sass/perform-demo.scss */
nav .icon-rate-at-o:before {
  content: "";
}
/* line 255, ../sass/perform-demo.scss */
nav .icon-rate-above-o:before {
  content: "";
}
/* line 259, ../sass/perform-demo.scss */
nav .icon-angle-up:before {
  content: "";
}
/* line 263, ../sass/perform-demo.scss */
nav .icon-angle-down:before {
  content: "";
}
/* line 267, ../sass/perform-demo.scss */
nav .icon-suitcase:before {
  content: "";
}
/* line 271, ../sass/perform-demo.scss */
nav .icon-members:before {
  content: "";
}
/* line 275, ../sass/perform-demo.scss */
nav .icon-paperclip:before {
  content: "";
}
/* line 279, ../sass/perform-demo.scss */
nav .icon-angle-right:before {
  content: "";
}
/* line 283, ../sass/perform-demo.scss */
nav .icon-lightbulb:before {
  content: "";
}
/* line 287, ../sass/perform-demo.scss */
nav .icon-exclamation-triangle:before {
  content: "";
}
/* line 291, ../sass/perform-demo.scss */
nav .icon-chrome:before {
  content: "";
}
/* line 295, ../sass/perform-demo.scss */
nav .icon-snapshot:before {
  content: "";
}
/* line 299, ../sass/perform-demo.scss */
nav .icon-speed:before {
  content: "";
}
/* line 303, ../sass/perform-demo.scss */
nav .icon-arrow-up:before {
  content: "";
}
/* line 307, ../sass/perform-demo.scss */
nav .icon-goal:before {
  content: "";
}
/* line 311, ../sass/perform-demo.scss */
nav .icon-list:before {
  content: "";
}
/* line 315, ../sass/perform-demo.scss */
nav .icon-plus:before {
  content: "";
}
/* line 319, ../sass/perform-demo.scss */
nav .icon-setting:before {
  content: "";
}
/* line 323, ../sass/perform-demo.scss */
nav .icon-help-circled:before {
  content: "";
}
/* line 327, ../sass/perform-demo.scss */
nav .icon-tick2:before {
  content: "";
}
/* line 331, ../sass/perform-demo.scss */
nav .icon-circle-dashed:before {
  content: "";
}
/* line 335, ../sass/perform-demo.scss */
nav .icon-rate-above:before {
  content: "";
}
/* line 339, ../sass/perform-demo.scss */
nav .icon-rate-at:before {
  content: "";
}
/* line 343, ../sass/perform-demo.scss */
nav .icon-rate-below:before {
  content: "";
}
/* line 347, ../sass/perform-demo.scss */
nav .icon-tick-o:before {
  content: "";
}
/* line 351, ../sass/perform-demo.scss */
nav .icon-ic_chat_black:before {
  content: "";
}

/* line 356, ../sass/perform-demo.scss */
.content-wrapper {
  transition: all 0.3s;
  margin-top: 60px;
  margin-left: 50px;
}

/* line 361, ../sass/perform-demo.scss */
.main-content {
  padding: 20px 10px 40px;
}

/* line 371, ../sass/perform-demo.scss */
.cols {
  width: 100%;
}
/* line 373, ../sass/perform-demo.scss */
.cols .col {
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 991px) {
  /* line 380, ../sass/perform-demo.scss */
  .cols {
    width: 100%;
  }
  /* line 382, ../sass/perform-demo.scss */
  .cols .col {
    float: left;
    padding: 10px;
    box-sizing: border-box;
  }
  /* line 387, ../sass/perform-demo.scss */
  .cols .col-40 {
    width: 40%;
  }
  /* line 390, ../sass/perform-demo.scss */
  .cols .col-60 {
    width: 60%;
  }
}
/* line 399, ../sass/perform-demo.scss */
.col img {
  width: 100%;
}

/* line 405, ../sass/perform-demo.scss */
.insight-details {
  padding: 15px;
  min-height: 200px;
}

/* line 409, ../sass/perform-demo.scss */
.flatten-card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 0 #DDDDDE;
  color: #4A4A4A;
  font-family: "SourceSansPro-Regular";
  position: relative;
  margin-top: 15px;
}
/* line 418, ../sass/perform-demo.scss */
.flatten-card [class^="icon-"]:before, .flatten-card [class*=" icon-"]:before {
  font-family: "perform-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 429, ../sass/perform-demo.scss */
.flatten-card .card-title {
  padding: 15px 15px 0 15px;
  margin-bottom: 5px;
  font-family: "SourceSansPro-SemiBold";
  font-size: 18px;
  color: #4A4A4A;
  overflow: hidden;
}
/* line 437, ../sass/perform-demo.scss */
.flatten-card .card-hint {
  color: #9B9B9B;
  font-size: 14px;
  width: auto;
  position: static;
  display: inline-block;
  margin-left: 15px;
  line-height: normal;
}
/* line 446, ../sass/perform-demo.scss */
.flatten-card .card-corner {
  font-size: 14px;
  position: absolute;
  margin-top: 0;
  top: 20px;
  right: 15px;
  width: auto;
  margin-left: 15px;
}
/* line 455, ../sass/perform-demo.scss */
.flatten-card .nav-tabs.fill-horizontal {
  display: table;
  border-bottom: 1px solid #DADADA;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "SourceSansPro-SemiBold";
}
/* line 464, ../sass/perform-demo.scss */
.flatten-card .nav-tabs.fill-horizontal li {
  display: table-cell;
  float: none;
  width: 1000px;
  margin-bottom: -1px;
}
/* line 469, ../sass/perform-demo.scss */
.flatten-card .nav-tabs.fill-horizontal li a {
  border: none;
  color: #9b9b9b;
  transition: color 300ms ease-in-out;
  margin: 0;
  position: relative;
  display: block;
  padding: 10px 15px;
}
/* line 477, ../sass/perform-demo.scss */
.flatten-card .nav-tabs.fill-horizontal li a:hover {
  background-color: #ffffff;
  color: #4861a0;
}
/* line 483, ../sass/perform-demo.scss */
.flatten-card .nav-tabs.fill-horizontal li.active a {
  cursor: default;
  color: #4861a0;
  border: none;
}
/* line 488, ../sass/perform-demo.scss */
.flatten-card .nav-tabs.fill-horizontal li.active:after {
  width: 100%;
  background: #4861a0;
}
/* line 493, ../sass/perform-demo.scss */
.flatten-card .nav-tabs.fill-horizontal li:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .3s ease, background-color .3s ease;
}
/* line 504, ../sass/perform-demo.scss */
.flatten-card .nav {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}
/* line 511, ../sass/perform-demo.scss */
.flatten-card .tab-content .tab-pane {
  display: none;
}
/* line 513, ../sass/perform-demo.scss */
.flatten-card .tab-content .tab-pane.active {
  display: block;
}
/* line 517, ../sass/perform-demo.scss */
.flatten-card .tab-content .fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}
/* line 520, ../sass/perform-demo.scss */
.flatten-card .tab-content .fade.in {
  opacity: 1;
}
/* line 525, ../sass/perform-demo.scss */
.flatten-card .panel {
  margin-bottom: 22px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
/* line 532, ../sass/perform-demo.scss */
.flatten-card .media-item {
  display: table;
  margin: 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
}
/* line 538, ../sass/perform-demo.scss */
.flatten-card .media-item .media-icon {
  display: table-cell;
  vertical-align: top;
  padding: 11px 15px 15px;
  color: #DADADA;
  transition: color 300ms ease-in-out;
}
/* line 544, ../sass/perform-demo.scss */
.flatten-card .media-item .media-icon .icon-2x {
  font-size: 35px;
  line-height: 0.7;
}
/* line 548, ../sass/perform-demo.scss */
.flatten-card .media-item .media-icon .icon-members:before {
  content: '\e815';
}
/* line 552, ../sass/perform-demo.scss */
.flatten-card .media-item .media-header-content {
  display: table-cell;
  vertical-align: top;
  padding: 15px 0;
  width: 40000px;
  border-top: 1px solid #DADADA;
  color: #4A4A4A;
  transition: color 300ms ease-in-out;
}
/* line 561, ../sass/perform-demo.scss */
.flatten-card .media-item:first-child .media-header-content {
  border-top: none;
}
/* line 564, ../sass/perform-demo.scss */
.flatten-card .media-item:hover .media-header-content, .flatten-card .media-item:hover .media-icon {
  color: #4861A0;
}

@media screen and (min-width: 991px) {
  /* line 572, ../sass/perform-demo.scss */
  nav {
    width: 170px;
  }
  /* line 574, ../sass/perform-demo.scss */
  nav ul {
    width: 170px;
  }
  /* line 578, ../sass/perform-demo.scss */
  nav ul li a span {
    display: inline-block;
  }

  /* line 585, ../sass/perform-demo.scss */
  .content-wrapper {
    margin-left: 170px;
  }
}
