/* line 7, ../sass/perform.scss */
.clearfix {
  clear: both;
}

/* line 10, ../sass/perform.scss */
.engage-header-graphics {
  background-image: url(http://www.tinypulse.com/hubfs/redesign_2016/large/engage-header-mobile-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  position: relative;
  display: inline-block;
  width: 100%;
}
/* line 19, ../sass/perform.scss */
.engage-header-graphics:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 20%, rgba(246, 107, 28, 0.15) 100%);
}
/* line 28, ../sass/perform.scss */
.engage-header-graphics .content {
  position: relative;
  display: block;
  padding: 10px;
  margin: 0 auto;
  margin-top: 50px;
}
/* line 34, ../sass/perform.scss */
.engage-header-graphics .content h1 {
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-family: "Lato-Bold";
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 1.12px;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.8);
  text-align: center;
}
/* line 48, ../sass/perform.scss */
.engage-header-graphics .content .try-it-form {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  margin: 70px 0 50px 0;
  font-size: 0;
  border-radius: 5px;
}
/* line 54, ../sass/perform.scss */
.engage-header-graphics .content .try-it-form input {
  font-size: 18px;
  padding: 7px;
  min-height: inherit;
  height: inherit;
  line-height: 21px;
  border-radius: 4px;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-family: "Lato-Semibold";
  font-size: 14px;
  color: #9b9b9b;
  letter-spacing: 0px;
  text-align: left;
}
/* line 71, ../sass/perform.scss */
.engage-header-graphics .content .try-it-form button {
  background: #00C26B;
  border-radius: 4px;
  border: 0;
  padding: 5px;
  color: #fff;
  width: 100%;
  font-family: "Lato-Semibold";
  cursor: pointer;
  font-size: 18px;
  line-height: 19px;
  padding: 8px;
  text-transform: none;
  margin: 0;
  vertical-align: top;
}
/* line 88, ../sass/perform.scss */
.engage-header-graphics .content .meet-consultant {
  text-align: center;
  padding-top: 30px;
}
/* line 91, ../sass/perform.scss */
.engage-header-graphics .content .meet-consultant a {
  font-size: 14px;
  color: #fff;
  font-family: "Lato-Semibold";
  text-decoration: underline;
}

/* line 100, ../sass/perform.scss */
.active {
  display: block;
}

/* line 103, ../sass/perform.scss */
.overview-desktop {
  display: none;
}

/* line 107, ../sass/perform.scss */
.overview .title {
  color: #1C94EE;
  font-size: 20px;
  font-family: "Lato-Regular";
  text-align: left;
  padding: 0 15px;
}
/* line 114, ../sass/perform.scss */
.overview .content-desc {
  font-size: 18px;
  color: #000;
  font-family: "Lato-Light";
  margin: 15px 0px;
  text-align: left;
  line-height: 25px;
  padding: 0 15px;
}
/* line 124, ../sass/perform.scss */
.overview .slide-icon img {
  width: 85px;
  margin: 30px;
}
/* line 130, ../sass/perform.scss */
.overview .overview-img img {
  width: 100%;
  border-bottom: 1px solid #DADADA;
}
/* line 135, ../sass/perform.scss */
.overview .block-content {
  display: none;
}
/* line 137, ../sass/perform.scss */
.overview .block-content.active {
  display: block;
}

/* line 143, ../sass/perform.scss */
.features .feature {
  text-align: left;
  font-size: 16px;
  font-family: "Lato-Light";
  line-height: 24px;
  padding-bottom: 30px;
  display: block;
}
/* line 151, ../sass/perform.scss */
.features .content-title {
  font-size: 20px;
  font-family: "Lato-Regular";
  padding: 0 15px;
}
/* line 156, ../sass/perform.scss */
.features p {
  padding: 0 15px;
}
/* line 159, ../sass/perform.scss */
.features .icon {
  text-align: center;
}
/* line 162, ../sass/perform.scss */
.features img {
  width: 100%;
  margin-bottom: 30px;
}
/* line 166, ../sass/perform.scss */
.features .feature-1 {
  padding-bottom: 0;
  max-height: 398px;
  overflow: hidden;
  margin-bottom: 40px;
}
/* line 171, ../sass/perform.scss */
.features .feature-1 img {
  max-width: 298px;
}
/* line 175, ../sass/perform.scss */
.features .feature-2 img {
  max-width: 260px;
  margin: 70px 0 50px;
}
/* line 179, ../sass/perform.scss */
.features .feature-2, .features .feature-3 {
  border-top: 1px solid #DADADA;
}
/* line 182, ../sass/perform.scss */
.features .feature-3 img {
  margin-top: 20px;
  max-width: 450px;
}
/* line 186, ../sass/perform.scss */
.features .feature-desc {
  max-width: 570px;
  margin: 0 auto;
}
/* line 190, ../sass/perform.scss */
.features strong {
  font-family: "Lato-Bold";
}
/* line 193, ../sass/perform.scss */
.features .download {
  text-align: center;
}
/* line 195, ../sass/perform.scss */
.features .download span {
  display: block;
  margin-bottom: 10px;
}
/* line 199, ../sass/perform.scss */
.features .download a {
  display: inline-block;
  clear: both;
  vertical-align: middle;
}
/* line 204, ../sass/perform.scss */
.features .download .store {
  width: 100px;
  height: 34px;
  font-size: 0;
  margin-right: 8px;
  background: url(http://www.tinypulse.com/hubfs/redesign_2016/stores.png) no-repeat;
}
/* line 211, ../sass/perform.scss */
.features .download .google-store {
  background-position: -110px 0;
}

/* line 216, ../sass/perform.scss */
.how-it-works-desktop {
  display: none;
}

/* line 220, ../sass/perform.scss */
.how-it-works .block-content {
  line-height: 24px;
  font-size: 16px;
  font-family: "Lato-Light";
  display: none;
  height: 570px;
  position: relative;
  max-width: 570px;
  margin: 0 auto;
}
/* line 229, ../sass/perform.scss */
.how-it-works .block-content.active {
  display: block;
}
/* line 233, ../sass/perform.scss */
.how-it-works img {
  width: 70px;
  margin-bottom: 30px;
  margin-top: 15px;
}
/* line 238, ../sass/perform.scss */
.how-it-works .content-title {
  font-size: 20px;
  color: #1C94EE;
  font-family: "Lato-Regular";
  text-align: left;
  padding: 0 15px;
}
/* line 245, ../sass/perform.scss */
.how-it-works p {
  text-align: left;
  padding: 0 15px;
}
/* line 249, ../sass/perform.scss */
.how-it-works .slide-icon {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
/* line 253, ../sass/perform.scss */
.how-it-works .slide-icon img {
  width: 135px;
}

/* line 258, ../sass/perform.scss */
.why {
  color: #FFF;
  font-family: "Lato-Light";
  background: -moz-linear-gradient(0deg, #1C94EE 0%, #00C26B 98%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(0deg, #1C94EE 0%, #00C26B 98%);
  /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(0deg, #1C94EE 0%, #00C26B 98%);
  padding-bottom: 40px;
}
/* line 265, ../sass/perform.scss */
.why .block-desc, .why .block-title {
  color: #FFF;
}
/* line 268, ../sass/perform.scss */
.why .content-title {
  font-size: 16px;
  font-family: "Lato-Semibold";
  line-height: 19px;
}
/* line 273, ../sass/perform.scss */
.why .icon img {
  width: 100px;
  margin: 20px 0px;
}
/* line 277, ../sass/perform.scss */
.why .content-desc {
  max-width: 200px;
  margin: 0 auto 40px;
  font-size: 14px;
}
/* line 282, ../sass/perform.scss */
.why .speaker {
  margin: 0 15px;
  line-height: 20px;
  font-family: "Lato-Light";
  display: none;
}
/* line 287, ../sass/perform.scss */
.why .speaker.active {
  display: block;
}
/* line 290, ../sass/perform.scss */
.why .speaker .speaker-content {
  background-color: rgba(255, 255, 255, 0.2);
  height: 500px;
  max-width: 300px;
  margin: 0 auto;
}
/* line 296, ../sass/perform.scss */
.why .speaker .speaker-desc {
  font-size: 14px;
}
/* line 299, ../sass/perform.scss */
.why .speaker img {
  width: 100%;
  display: block;
  max-width: 300px;
}
/* line 304, ../sass/perform.scss */
.why .speaker p {
  padding: 5px 15px;
}
/* line 307, ../sass/perform.scss */
.why .speaker .slide-icon {
  text-align: center;
  margin: 30px 0px;
}
/* line 310, ../sass/perform.scss */
.why .speaker .slide-icon img {
  width: 85px;
  margin: 0 auto;
}
/* line 315, ../sass/perform.scss */
.why .speaker .speaker-name {
  font-family: "Lato-Regular";
  line-height: 22px;
}
/* line 320, ../sass/perform.scss */
.why .prev-speaker, .why .next-speaker {
  display: none;
}
/* line 323, ../sass/perform.scss */
.why .read-more {
  width: 300px;
  border: 2px solid #FFF;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 2px;
  font-size: 20px;
  font-family: "Lato-Regular";
  display: block;
  color: #fff;
  transition: all 0.3s;
}
/* line 335, ../sass/perform.scss */
.why .read-more:hover {
  background: #fff;
  color: #000;
}

/* line 341, ../sass/perform.scss */
.clients {
  background: -moz-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  font-size: 0;
}
/* line 347, ../sass/perform.scss */
.clients .block-title {
  color: #FFF;
  font-size: 30px;
  font-family: "Lato-Regular";
  line-height: 36px;
  width: 80%;
}
/* line 354, ../sass/perform.scss */
.clients .brands {
  background: none;
}
/* line 356, ../sass/perform.scss */
.clients .brands img {
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  height: auto;
  margin: 10px;
}
/* line 364, ../sass/perform.scss */
.clients .try-it-form {
  padding: 30px 20px 50px;
  font-size: 0;
  border-radius: 5px;
  text-align: center;
}
/* line 369, ../sass/perform.scss */
.clients .try-it-form input {
  font-size: 18px;
  padding: 7px;
  min-height: inherit;
  height: inherit;
  line-height: 21px;
  border-radius: 4px;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-family: "Lato-Semibold";
  font-size: 14px;
  color: #9b9b9b;
  letter-spacing: 0px;
  text-align: left;
  max-width: 500px;
}
/* line 387, ../sass/perform.scss */
.clients .try-it-form button {
  background: #00C26B;
  border-radius: 4px;
  border: 0;
  padding: 5px;
  color: #fff;
  width: 100%;
  font-family: "Lato-Semibold";
  cursor: pointer;
  font-size: 18px;
  line-height: 19px;
  padding: 8px;
  text-transform: none;
  margin: 0;
  vertical-align: top;
  max-width: 500px;
}

@media screen and (min-width: 960px) {
  /* line 407, ../sass/perform.scss */
  .engage-header-graphics {
    background-image: url(http://www.tinypulse.com/hubfs/redesign_2016/large/engage-header-bg-1.png);
    height: 650px;
  }
  /* line 410, ../sass/perform.scss */
  .engage-header-graphics:before {
    display: none;
  }
  /* line 413, ../sass/perform.scss */
  .engage-header-graphics .content {
    position: relative;
    top: 50%;
    max-width: 600px;
    margin-top: -200px;
  }
  /* line 418, ../sass/perform.scss */
  .engage-header-graphics .content h1 {
    font-size: 48px;
    margin-bottom: 50px;
  }
  /* line 422, ../sass/perform.scss */
  .engage-header-graphics .content .try-it-form {
    max-width: 450px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  /* line 426, ../sass/perform.scss */
  .engage-header-graphics .content .try-it-form input {
    font-size: 18px;
    padding: 7px;
    width: 72%;
    border-radius: 4px 0 0 4px;
  }
  /* line 432, ../sass/perform.scss */
  .engage-header-graphics .content .try-it-form button {
    font-size: 18px;
    line-height: 19px;
    padding: 8px;
    width: 28%;
    border-radius: 0 4px 4px 0;
  }

  /* line 442, ../sass/perform.scss */
  .overview {
    display: none;
  }

  /* line 445, ../sass/perform.scss */
  .overview-desktop {
    display: block;
    font-size: 0px;
  }
  /* line 448, ../sass/perform.scss */
  .overview-desktop .overview-content {
    position: relative;
    height: 495px;
    border-bottom: 1px solid #DADADA;
  }
  /* line 453, ../sass/perform.scss */
  .overview-desktop .block-content {
    text-align: left;
    padding: 15px;
    width: 45%;
    display: inline-block;
    vertical-align: top;
  }
  /* line 460, ../sass/perform.scss */
  .overview-desktop .content-desc {
    font-size: 16px;
    font-family: "Lato-Light";
    line-height: 24px;
  }
  /* line 465, ../sass/perform.scss */
  .overview-desktop .title {
    font-size: 24px;
    font-family: "Lato-Regular";
    line-height: 29px;
    color: #1C94EE;
    margin-bottom: 15px;
  }
  /* line 472, ../sass/perform.scss */
  .overview-desktop .right-side {
    width: 48%;
    display: inline-block;
    float: right;
    right: 0;
    position: absolute;
    top: 0;
  }
  /* line 479, ../sass/perform.scss */
  .overview-desktop .right-side .overview-img {
    height: 495px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    display: none;
  }
  /* line 486, ../sass/perform.scss */
  .overview-desktop .right-side .img-1 {
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/perform/overview/overview-1.png);
  }
  /* line 489, ../sass/perform.scss */
  .overview-desktop .right-side .img-2 {
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/perform/overview/overview-2.png);
  }
  /* line 492, ../sass/perform.scss */
  .overview-desktop .right-side .img-3 {
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/perform/overview/overview-3.png);
  }
  /* line 496, ../sass/perform.scss */
  .overview-desktop .overview-default .block-content {
    margin-top: 30px;
  }
  /* line 500, ../sass/perform.scss */
  .overview-desktop .overview-content:hover .overview-block:hover .overview-img, .overview-desktop .overview-content .overview-default .overview-img {
    display: block;
    transition: all ease .5s;
  }
  /* line 504, ../sass/perform.scss */
  .overview-desktop .overview-content:hover .overview-block:hover .block-content, .overview-desktop .overview-content .overview-default .block-content {
    background-color: rgba(28, 148, 238, 0.1);
    transition: all .3s;
  }
  /* line 509, ../sass/perform.scss */
  .overview-desktop .overview-img, .overview-desktop .overview-content:hover .overview-img {
    display: none;
    transition: all ease .5s;
  }
  /* line 513, ../sass/perform.scss */
  .overview-desktop .block-content, .overview-desktop .overview-content:hover .block-content {
    background-color: #FFF;
    transition: all .3s;
  }

  /* line 518, ../sass/perform.scss */
  .features {
    font-size: 0;
  }
  /* line 520, ../sass/perform.scss */
  .features .feature:first-child {
    padding-bottom: 0;
  }
  /* line 523, ../sass/perform.scss */
  .features .icon {
    display: inline-block;
    width: 50%;
  }
  /* line 527, ../sass/perform.scss */
  .features .feature-desc {
    display: inline-block;
    width: 50%;
  }
  /* line 531, ../sass/perform.scss */
  .features .feature-1 {
    margin-bottom: 0;
    position: relative;
    top: 7px;
  }
  /* line 536, ../sass/perform.scss */
  .features .feature-2 {
    float: right;
    text-align: center;
  }
  /* line 539, ../sass/perform.scss */
  .features .feature-2 img {
    max-width: 380px;
  }
  /* line 543, ../sass/perform.scss */
  .features .feature-desc-1 {
    float: right;
    margin-top: 20px;
  }
  /* line 547, ../sass/perform.scss */
  .features .feature-desc-2 {
    border-top: 1px solid #DADADA;
  }
  /* line 549, ../sass/perform.scss */
  .features .feature-desc-2 .content-title {
    margin-top: 90px;
  }
  /* line 553, ../sass/perform.scss */
  .features .feature-3 img {
    margin-top: 110px;
  }
  /* line 556, ../sass/perform.scss */
  .features .feature-desc-3 {
    float: right;
    border-top: 1px solid #DADADA;
  }
  /* line 559, ../sass/perform.scss */
  .features .feature-desc-3 .content-title {
    margin-top: 120px;
  }
  /* line 563, ../sass/perform.scss */
  .features p {
    padding: 10px 15px;
  }
  /* line 566, ../sass/perform.scss */
  .features .download {
    text-align: left;
  }
  /* line 568, ../sass/perform.scss */
  .features .download span {
    display: inline-block;
    margin-right: 15px;
  }

  /* line 575, ../sass/perform.scss */
  .why .block-content {
    display: inline-block;
    width: 33%;
    text-align: center;
    font-size: 0;
  }
  /* line 581, ../sass/perform.scss */
  .why .speakers {
    text-align: center;
  }
  /* line 584, ../sass/perform.scss */
  .why .speakers .speaker .slide-icon {
    display: none;
  }
  /* line 587, ../sass/perform.scss */
  .why .speakers .speaker .speaker-img {
    display: inline-block;
  }
  /* line 590, ../sass/perform.scss */
  .why .speakers .speaker .speaker-desc {
    max-width: 500px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    position: relative;
    text-align: left;
  }
  /* line 597, ../sass/perform.scss */
  .why .speakers .speaker .speaker-desc .speaker-name {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  /* line 603, ../sass/perform.scss */
  .why .speakers .speaker .speaker-content {
    max-width: 800px;
    font-size: 0;
    height: 200px;
    display: inline-block;
  }
  /* line 608, ../sass/perform.scss */
  .why .speakers .speaker .speaker-content p {
    padding: 0 15px;
  }
  /* line 614, ../sass/perform.scss */
  .why .prev-speaker, .why .next-speaker {
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: 200px;
    top: 50%;
    transform: translate(0, 35%);
  }
  /* line 622, ../sass/perform.scss */
  .why .prev-speaker {
    margin-right: 15px;
  }
  /* line 625, ../sass/perform.scss */
  .why .next-speaker {
    margin-left: 15px;
  }
  /* line 628, ../sass/perform.scss */
  .why .read-more {
    margin-top: 50px;
  }
  /* line 631, ../sass/perform.scss */
  .why .control-button img {
    display: inline-block;
    max-width: 30px;
    cursor: pointer;
  }

  /* line 637, ../sass/perform.scss */
  .how-it-works {
    display: none;
  }

  /* line 640, ../sass/perform.scss */
  .how-it-works-desktop {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    height: 500px;
  }
  /* line 645, ../sass/perform.scss */
  .how-it-works-desktop .block-content {
    margin-bottom: 100px;
    margin-top: 60px;
    width: 900px;
    position: absolute;
    left: 0;
  }
  /* line 651, ../sass/perform.scss */
  .how-it-works-desktop .block-content .content-title {
    font-size: 20px;
    color: #1C94EE;
    font-family: "Lato-Regular";
    text-align: left;
    padding: 0 15px;
  }
  /* line 658, ../sass/perform.scss */
  .how-it-works-desktop .block-content p {
    text-align: left;
    padding: 0 15px;
    font-size: 16px;
    font-family: "Lato-Light";
    line-height: 24px;
  }
  /* line 666, ../sass/perform.scss */
  .how-it-works-desktop .hiw-icons {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 0px;
    position: relative;
  }
  /* line 672, ../sass/perform.scss */
  .how-it-works-desktop .hiw-icons .hiw-content {
    display: inline-block;
    width: 20%;
    vertical-align: top;
  }
  /* line 677, ../sass/perform.scss */
  .how-it-works-desktop .hiw-icons .hiw-icon {
    text-align: center;
    position: relative;
  }
  /* line 681, ../sass/perform.scss */
  .how-it-works-desktop .hiw-icons .icon {
    width: 63px;
    height: 94px;
    display: inline-block;
    background-image: url(http://www.tinypulse.com/hubfs/redesign_2016/perform/how-it-works/perform-hiw-small-sprite.png);
    background-repeat: no-repeat;
  }
  /* line 688, ../sass/perform.scss */
  .how-it-works-desktop .hiw-icons .hiw-1 {
    background-position: 0 0;
  }
  /* line 691, ../sass/perform.scss */
  .how-it-works-desktop .hiw-icons .hiw-2 {
    background-position: -83px 0;
  }
  /* line 694, ../sass/perform.scss */
  .how-it-works-desktop .hiw-icons .hiw-3 {
    background-position: -168px 0;
  }
  /* line 697, ../sass/perform.scss */
  .how-it-works-desktop .hiw-icons .hiw-4 {
    background-position: -253px 0;
  }
  /* line 700, ../sass/perform.scss */
  .how-it-works-desktop .hiw-icons .hiw-5 {
    background-position: -338px 0;
  }
  /* line 704, ../sass/perform.scss */
  .how-it-works-desktop .hiw-wrapper {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 18px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  /* line 715, ../sass/perform.scss */
  .how-it-works-desktop .hiw-icons:hover .hiw-content:hover .icon, .how-it-works-desktop .hiw-icons:focus .hiw-content:focus .icon, .how-it-works-desktop .hiw-icons .hiw-default .icon {
    background-position-y: -117px;
  }
  /* line 718, ../sass/perform.scss */
  .how-it-works-desktop .hiw-icons:hover .hiw-content:hover .block-content, .how-it-works-desktop .hiw-icons:focus .hiw-content:focus .block-content, .how-it-works-desktop .hiw-icons .hiw-default .block-content {
    display: block;
    transition: all .3s;
  }
  /* line 722, ../sass/perform.scss */
  .how-it-works-desktop .hiw-icons:hover .hiw-content:hover .hiw-wrapper, .how-it-works-desktop .hiw-icons:focus .hiw-content:focus .hiw-wrapper, .how-it-works-desktop .hiw-icons .hiw-default .hiw-wrapper {
    background-color: rgba(28, 148, 238, 0.1);
  }
  /* line 727, ../sass/perform.scss */
  .how-it-works-desktop .hiw-icon .icon, .how-it-works-desktop .hiw-icons:hover .hiw-icon .icon, .how-it-works-desktop .hiw-icons:focus .hiw-icon .icon {
    background-position-y: 2px;
  }
  /* line 730, ../sass/perform.scss */
  .how-it-works-desktop .hiw-icon .hiw-wrapper, .how-it-works-desktop .hiw-icons:hover .hiw-icon .hiw-wrapper, .how-it-works-desktop .hiw-icons:focus .hiw-icon .hiw-wrapper {
    background-color: transparent;
  }
  /* line 734, ../sass/perform.scss */
  .how-it-works-desktop .block-content, .how-it-works-desktop .hiw-icons:hover .block-content {
    display: none;
    transition: all .3s;
  }

  /* line 740, ../sass/perform.scss */
  .clients .container {
    max-width: 100%;
  }
  /* line 743, ../sass/perform.scss */
  .clients .block-title {
    width: 100%;
  }
  /* line 747, ../sass/perform.scss */
  .clients .brands img {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 100px;
    display: inline-block;
  }
  /* line 756, ../sass/perform.scss */
  .clients .try-it-form {
    max-width: 450px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  /* line 760, ../sass/perform.scss */
  .clients .try-it-form input {
    font-size: 14px;
    padding: 7px;
    width: 67%;
    border-radius: 4px 0 0 4px;
  }
  /* line 766, ../sass/perform.scss */
  .clients .try-it-form button {
    font-size: 14px;
    line-height: 19px;
    padding: 8px;
    width: 33%;
    border-radius: 0 4px 4px 0;
  }
}
