@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: 'SourceSansPro-Regular';
  font-size: 16px;
}

.container-fluid {
  max-width: 1280px;
  padding-left: 11px;
  padding-right: 11px;
}

.row {
  margin-left: -11px;
  margin-right: -11px;
}

.pd-lr-11 {
  padding-left: 11px;
  padding-right: 11px;
}

.mg-t-15 {
  margin-top: 15px;
}

.mg-b-15 {
  margin-bottom: 15px;
}

.top-menu {
  position: relative;
  width: 100%;
}
.top-menu .leftside {
  position: relative;
}
.top-menu .btn {
  padding: 6px 28px;
  font-family: "SourceSansPro-Regular";
  font-size: 16px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
}
.top-menu .btn-flat-gray {
  color: #4A4A4A;
  background-color: #DADADA;
  border-color: #DADADA;
}
.top-menu .btn-flat-gray:hover {
  background-color: #C1C1C1;
  border-color: #BBB;
}
.top-menu .btn-flat-gray .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.top-menu .dropdown-menu {
  position: absolute;
  z-index: 2;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 16px;
  text-align: left;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  left: initial;
  display: none;
}
.top-menu .dropdown-menu li {
  font-size: 16px;
}
.top-menu .dropdown-menu li:hover {
  background-color: #ebf7fe;
}
.top-menu .dropdown-menu li a {
  text-decoration: none;
  color: #262626;
  padding: 3px 20px;
  line-height: 1.5;
  font-family: "SourceSansPro-Regular";
}

.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.in .modal-dialog {
  transform: translate(0, 0);
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
}
.modal .modal-dialog {
  width: 600px;
  margin: 30px auto;
  position: relative;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.in {
  opacity: 0.5;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-content {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-clip: padding-box;
  outline: 0;
}

.modal-header {
  padding: 15px 15px 0 25px;
  border-bottom: 0;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-header h4 {
  font-size: 20px;
}
.modal-header button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
}
.modal-header button.close:hover, .modal-header button.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.pf-text-stronger {
  font-family: "SourceSansPro-Bold";
}

.modal-title {
  margin: 0;
  line-height: 1.42857;
}

.modal-body {
  padding: 0 25px 10px 25px;
  max-height: 500px;
  overflow: auto;
  position: relative;
}

.card-input {
  width: 100%;
  padding: 20px 0;
  position: relative;
}
.card-input input {
  border: 0;
  width: 100%;
  font-family: "SourceSansPro-Regular";
  font-size: 16px;
  overflow: hidden;
  border-bottom: 1px solid #DADADA;
  padding: 8px 0;
}
.card-input input:focus {
  outline: none;
  border-bottom: 2px solid #1C94EE;
}
.card-input input:focus ~ .card-character-count, .card-input input:focus ~ label {
  color: #1C94EE;
}
.card-input label {
  position: absolute;
  left: 0;
  pointer-events: none;
  transition: 0.2s ease all;
  color: #9B9B9B;
  font-weight: normal;
  margin: 0;
  top: 6px;
  opacity: 1;
  font-size: 12px;
}

.pf-mar-top {
  margin-top: 15px;
}

.card-character-count {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 18px;
  margin: auto;
  color: #9B9B9B;
  font-size: 12px;
}

.modal-footer {
  text-align: center;
  padding: 15px;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn-flat-green {
  color: #ffffff;
  background-color: #00C26B;
  border-color: #00C26B;
}
.modal-footer .btn-flat-green:hover {
  background-color: #008f4f;
  border-color: #008549;
  color: #FFFFFF;
}
.modal-footer .btn {
  padding: 6px 28px;
  font-family: "SourceSansPro-Regular";
  -webkit-appearance: button;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 2px;
  user-select: none;
  cursor: pointer;
  font-size: 16px;
}
.modal-footer .btn:focus {
  outline: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.goal-list img {
  width: 100%;
}
.goal-list .goal {
  cursor: pointer;
}

.top-img {
  position: relative;
}
.top-img img {
  width: 100%;
}

.goal-details [class^="icon-"]:before, .goal-details [class*=" icon-"]:before {
  font-family: "perform-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.goal-details .icon-members:before {
  content: "";
}
.goal-details .icon-tick:before {
  content: "";
}
.goal-details .icon-angle-left:before {
  content: '\e80b';
}
.goal-details .icon-angle-right:before {
  content: '\e817';
}
.goal-details .icon-members {
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.goal-details .icon-tick {
  display: none;
  color: #00C26B;
  font-size: 13px;
  vertical-align: middle;
  height: 13px;
  margin-left: 5px;
}
.goal-details .icon-tick.active {
  display: inline-block;
}
.goal-details .nav-pills li {
  text-align: center;
  margin-left: 11px;
  margin-right: 11px;
}
.goal-details .nav-pills li a {
  border: 1px solid #4861A0;
  font-size: 12px;
  color: #4861A0;
}
.goal-details .nav-pills li a:hover, .goal-details .nav-pills li a:focus {
  background-color: #4861A0;
  color: #FFFFFF;
}
.goal-details .nav-pills li.active a {
  background-color: #4861A0;
  color: #FFFFFF;
}
.goal-details .nav-pills li.active a:hover, .goal-details .nav-pills li.active a:focus {
  background-color: #4861A0;
  color: #FFFFFF;
}
.goal-details .row img {
  width: 100%;
}
.goal-details .tab-content {
  margin: 20px 11px 0px 11px;
  position: relative;
}
.goal-details img.rated {
  display: none;
}
.goal-details .wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px;
  height: 40px;
}
.goal-details .list {
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 3000px;
  margin-top: 0px;
}
.goal-details .list li {
  display: table-cell;
  position: relative;
  text-align: center;
  cursor: grab;
  cursor: -webkit-grab;
  color: #efefef;
  vertical-align: middle;
}
.goal-details .scroller {
  text-align: center;
  cursor: pointer;
  display: none;
  padding: 5px;
  padding-top: 11px;
  white-space: no-wrap;
  vertical-align: middle;
}
.goal-details .scroller-right {
  float: right;
}
.goal-details .scroller-left {
  float: left;
}
.goal-details .pf-icon-huge {
  width: 40px;
  height: 40px;
  padding: 7px;
  font-size: 24px;
  color: #4861A0;
  cursor: pointer;
  display: none;
  top: 45px;
}
.goal-details .pf-icon-huge:hover, .goal-details .pf-icon-huge:focus {
  text-decoration: none;
  color: #1C94EE;
}
.goal-details .next-goal {
  position: absolute;
  right: -30px;
}
.goal-details .previous-goal {
  position: absolute;
  left: -26px;
}

@media screen and (min-width: 481px) {
  .goal-details .tab-content {
    padding: 0 20px;
  }
  .goal-details .pf-icon-huge {
    top: 200px;
  }
  .goal-details .next-goal {
    right: -20px;
  }
  .goal-details .previous-goal {
    left: -20px;
  }
}
@media screen and (min-width: 769px) {
  .goal-details .tab-content {
    padding: 0 80px;
  }
  .goal-details .pf-icon-huge {
    top: 200px;
  }
  .goal-details .next-goal {
    right: -20px;
  }
  .goal-details .previous-goal {
    left: -20px;
  }
}
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("https://d1i5ulwvtra6uh.cloudfront.net/assets/fonts/SourceSansPro-Regular.eot");
  src: url("https://d1i5ulwvtra6uh.cloudfront.net/assets/fonts/SourceSansPro-Regular.woff2") format("woff2"), url("https://d1i5ulwvtra6uh.cloudfront.net/assets/fonts/SourceSansPro-Regular.woff") format("woff"), url("https://d1i5ulwvtra6uh.cloudfront.net/assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "perform-icon";
  src: url("https://d1i5ulwvtra6uh.cloudfront.net/assets/perform-icon.eot");
  src: url("https://d1i5ulwvtra6uh.cloudfront.net/assets/perform-icon.eot?#iefix") format("embedded-opentype"), url("https://d1i5ulwvtra6uh.cloudfront.net/assets/perform-icon.woff") format("woff"), url("https://d1i5ulwvtra6uh.cloudfront.net/assets/perform-icon.ttf") format("truetype"), url("https://d1i5ulwvtra6uh.cloudfront.net/assets/perform-icon.svg#perform-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body, .main-wrapper, .content-wrapper {
  height: 100%;
}

body {
  background: #EEF0F1 !important;
  font-family: "SourceSansPro-Regular";
}

a {
  text-decoration: none;
}

header {
  height: 60px;
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.06);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10;
}
header .container {
  padding: 0 10px;
  box-sizing: border-box;
  width: 100% !important;
}
header .logo {
  line-height: 80px;
  height: 60px;
}
header .logo img {
  width: 250px;
  height: auto;
  vertical-align: baseline;
}
header .content {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  left: 0;
  right: 0;
  padding: 20px;
}
header .content p {
  font-size: 16px;
  float: left;
}
header .content a {
  float: right;
  background: #00C26B;
  border-radius: 3px;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0px;
  padding: 10px 20px;
  margin-top: -8px;
}

nav {
  box-shadow: none;
  width: 50px;
  background-color: #49629E;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transition: all 0.3s;
}
nav ul {
  margin-top: 60px;
  padding-left: 0;
  list-style: none;
  width: 50px;
}
nav ul li {
  position: relative;
  display: block;
}
nav ul li.active, nav ul li:hover {
  background: #37465C;
}
nav ul li a {
  padding: 15px 0px 15px 15px;
  color: #fff;
  display: block;
  line-height: 23px;
  position: relative;
}
nav ul li a i {
  margin-right: 8px;
  display: inline-block;
  font-size: 24px;
  vertical-align: middle;
}
nav ul li a span {
  display: none;
  vertical-align: middle;
  font-family: "SourceSansPro-Regular";
}
nav ul li a:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
nav ul li a.not-viewed:after {
  display: inline-block;
}
nav ul li a.viewed:after {
  display: none;
}
nav ul li a:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background: #bb101c;
  line-height: 0;
  border-radius: 50%;
  vertical-align: top;
  transition: all 0.3s;
  display: none;
}
nav ul li .tooltip {
  font-size: 16px;
  padding: 10px;
  color: #fff;
  background: #4A4A4A;
  border-radius: 3px;
  position: absolute;
  left: 65px;
  top: 3px;
  z-index: 9;
  box-shadow: 2px 2px 3px #333;
  width: 300px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  text-align: left;
}
nav ul li .tooltip:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  border-color: transparent #4A4A4A transparent transparent;
  border-style: solid;
  border-width: 7px;
  top: 15px;
  left: -13px;
}
nav [class^="icon-"]:before, nav [class*=" icon-"]:before {
  font-family: "perform-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav .icon-add-member:before {
  content: "";
}
nav .icon-archive:before {
  content: "";
}
nav .icon-delete:before {
  content: "";
}
nav .icon-exclamation:before {
  content: "";
}
nav .icon-hamburger:before {
  content: "";
}
nav .icon-share:before {
  content: "";
}
nav .icon-more:before {
  content: "";
}
nav .icon-tick:before {
  content: "";
}
nav .icon-edit-o:before {
  content: "";
}
nav .icon-delete-o:before {
  content: "";
}
nav .icon-x:before {
  content: "";
}
nav .icon-angle-left:before {
  content: "";
}
nav .icon-calendar-o:before {
  content: "";
}
nav .icon-archive-o:before {
  content: "";
}
nav .icon-unarchive-o:before {
  content: "";
}
nav .icon-rate-below-o:before {
  content: "";
}
nav .icon-rate-at-o:before {
  content: "";
}
nav .icon-rate-above-o:before {
  content: "";
}
nav .icon-angle-up:before {
  content: "";
}
nav .icon-angle-down:before {
  content: "";
}
nav .icon-suitcase:before {
  content: "";
}
nav .icon-members:before {
  content: "";
}
nav .icon-paperclip:before {
  content: "";
}
nav .icon-angle-right:before {
  content: "";
}
nav .icon-lightbulb:before {
  content: "";
}
nav .icon-exclamation-triangle:before {
  content: "";
}
nav .icon-chrome:before {
  content: "";
}
nav .icon-snapshot:before {
  content: "";
}
nav .icon-speed:before {
  content: "";
}
nav .icon-arrow-up:before {
  content: "";
}
nav .icon-goal:before {
  content: "";
}
nav .icon-list:before {
  content: "";
}
nav .icon-plus:before {
  content: "";
}
nav .icon-setting:before {
  content: "";
}
nav .icon-help-circled:before {
  content: "";
}
nav .icon-tick2:before {
  content: "";
}
nav .icon-circle-dashed:before {
  content: "";
}
nav .icon-rate-above:before {
  content: "";
}
nav .icon-rate-at:before {
  content: "";
}
nav .icon-rate-below:before {
  content: "";
}
nav .icon-tick-o:before {
  content: "";
}
nav .icon-ic_chat_black:before {
  content: "";
}

.content-wrapper {
  transition: all 0.3s;
  margin-top: 60px;
  margin-left: 50px;
}

.main-content {
  padding: 20px 10px 40px;
}

.cols {
  width: 100%;
}
.cols .col {
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 991px) {
  .cols {
    width: 100%;
  }
  .cols .col {
    float: left;
    padding: 10px;
    box-sizing: border-box;
  }
  .cols .col-40 {
    width: 40%;
  }
  .cols .col-60 {
    width: 60%;
  }
}
.col img {
  width: 100%;
}

.insight-details {
  padding: 15px;
  min-height: 200px;
}

.flatten-card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 0 #DDDDDE;
  color: #4A4A4A;
  font-family: "SourceSansPro-Regular";
  position: relative;
  margin-top: 15px;
}
.flatten-card [class^="icon-"]:before, .flatten-card [class*=" icon-"]:before {
  font-family: "perform-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.flatten-card .card-title {
  padding: 15px 15px 0 15px;
  margin-bottom: 5px;
  font-family: "SourceSansPro-SemiBold";
  font-size: 18px;
  color: #4A4A4A;
  overflow: hidden;
}
.flatten-card .card-hint {
  color: #9B9B9B;
  font-size: 14px;
  width: auto;
  position: static;
  display: inline-block;
  margin-left: 15px;
  line-height: normal;
}
.flatten-card .card-corner {
  font-size: 14px;
  position: absolute;
  margin-top: 0;
  top: 20px;
  right: 15px;
  width: auto;
  margin-left: 15px;
}
.flatten-card .nav-tabs.fill-horizontal {
  display: table;
  border-bottom: 1px solid #DADADA;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "SourceSansPro-SemiBold";
}
.flatten-card .nav-tabs.fill-horizontal li {
  display: table-cell;
  float: none;
  width: 1000px;
  margin-bottom: -1px;
}
.flatten-card .nav-tabs.fill-horizontal li a {
  border: none;
  color: #9b9b9b;
  transition: color 300ms ease-in-out;
  margin: 0;
  position: relative;
  display: block;
  padding: 10px 15px;
}
.flatten-card .nav-tabs.fill-horizontal li a:hover {
  background-color: #ffffff;
  color: #4861a0;
}
.flatten-card .nav-tabs.fill-horizontal li.active a {
  cursor: default;
  color: #4861a0;
  border: none;
}
.flatten-card .nav-tabs.fill-horizontal li.active:after {
  width: 100%;
  background: #4861a0;
}
.flatten-card .nav-tabs.fill-horizontal li:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .3s ease, background-color .3s ease;
}
.flatten-card .nav {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}
.flatten-card .tab-content .tab-pane {
  display: none;
}
.flatten-card .tab-content .tab-pane.active {
  display: block;
}
.flatten-card .tab-content .fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}
.flatten-card .tab-content .fade.in {
  opacity: 1;
}
.flatten-card .panel {
  margin-bottom: 22px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.flatten-card .media-item {
  display: table;
  margin: 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
}
.flatten-card .media-item .media-icon {
  display: table-cell;
  vertical-align: top;
  padding: 11px 15px 15px;
  color: #DADADA;
  transition: color 300ms ease-in-out;
}
.flatten-card .media-item .media-icon .icon-2x {
  font-size: 35px;
  line-height: 0.7;
}
.flatten-card .media-item .media-icon .icon-members:before {
  content: '\e815';
}
.flatten-card .media-item .media-header-content {
  display: table-cell;
  vertical-align: top;
  padding: 15px 0;
  width: 40000px;
  border-top: 1px solid #DADADA;
  color: #4A4A4A;
  transition: color 300ms ease-in-out;
}
.flatten-card .media-item:first-child .media-header-content {
  border-top: none;
}
.flatten-card .media-item:hover .media-header-content, .flatten-card .media-item:hover .media-icon {
  color: #4861A0;
}

@media screen and (min-width: 991px) {
  nav {
    width: 170px;
  }
  nav ul {
    width: 170px;
  }
  nav ul li a span {
    display: inline-block;
  }
  nav ul li .tooltip {
    display: none;
  }

  .content-wrapper {
    margin-left: 170px;
  }
}
