/* line 1, ../sass/pricing.scss */
.main-content {
  margin-bottom: 0;
}

/* line 5, ../sass/pricing.scss */
.quote {
  background: none;
}

/* line 9, ../sass/pricing.scss */
.header-graphics .content {
  top: 10%;
}

/* line 12, ../sass/pricing.scss */
.content .author-avatar {
  display: none;
}

/* line 15, ../sass/pricing.scss */
.author .author-avatar {
  width: 54px;
  float: left;
  margin-right: 20px;
}

/* line 21, ../sass/pricing.scss */
.author .author-info .job-title {
  font-family: Lato-Regular;
  font-size: 16px;
  color: #9B9B9B;
  line-height: 20px;
  margin-bottom: 0;
}

/* line 29, ../sass/pricing.scss */
.author .author-info .author {
  font-family: Lato-Bold;
  font-size: 16px;
  color: #9B9B9B;
  line-height: 20px;
  margin-top: 0;
}

/* line 37, ../sass/pricing.scss */
.contact {
  padding: 15px 15px 40px 15px;
}

/* line 42, ../sass/pricing.scss */
.information p {
  font-family: Lato-Light;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0px;
  line-height: 24px;
  text-align: justify;
}
/* line 49, ../sass/pricing.scss */
.information p b {
  font-family: Lato-Bold;
}
/* line 54, ../sass/pricing.scss */
.information .separate-line {
  width: 100%;
  height: 2px;
  background: #F1F2F1;
}
/* line 60, ../sass/pricing.scss */
.information .quote {
  padding: 0;
}
/* line 62, ../sass/pricing.scss */
.information .quote .content {
  margin-top: 30px;
}
/* line 64, ../sass/pricing.scss */
.information .quote .content p {
  font-family: Lato-Bold;
  font-size: 16px;
  color: #000000;
  line-height: 27px;
}

/* line 74, ../sass/pricing.scss */
.press {
  display: none;
}

/* line 78, ../sass/pricing.scss */
.press-mobile {
  background-image: linear-gradient(-60deg, rgba(123, 32, 138, 0.82) 0%, #FF5C5C 100%);
  padding: 20px;
  text-align: center;
}
/* line 82, ../sass/pricing.scss */
.press-mobile .title {
  font-family: Lato-Regular;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 27px;
  text-align: center;
  margin: 0 20px 40px;
}
/* line 91, ../sass/pricing.scss */
.press-mobile .logos {
  height: 61px;
  margin-top: 20px;
}
/* line 97, ../sass/pricing.scss */
.press-mobile .logos a:hover {
  cursor: pointer;
}
/* line 101, ../sass/pricing.scss */
.press-mobile .logos img {
  margin-left: 10px;
  margin-right: 10px;
  width: 96px;
  max-height: 61px;
  vertical-align: middle;
}

/* line 112, ../sass/pricing.scss */
.hbspt-form {
  margin-top: 30px;
  margin-bottom: 50px;
}

/* line 117, ../sass/pricing.scss */
.hs-form input:not([type="image"]), .hs-form textarea {
  box-sizing: border-box !important;
}

/* line 120, ../sass/pricing.scss */
.hs-form.stacked .actions {
  margin: 0 0 30px 0 !important;
  padding: 0 !important;
}

/* line 125, ../sass/pricing.scss */
.hs-form-required {
  display: none;
}

/* line 129, ../sass/pricing.scss */
.hs-input {
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 3px 0px 0px 3px;
  font-family: Lato-Semibold;
  font-size: 14px;
  color: #9B9B9B;
  padding-left: 10px !important;
  height: 45px !important;
  width: 100% !important;
  max-width: 100% !important;
}

/* line 142, ../sass/pricing.scss */
.hs-button.primary.large {
  background: #00C26B;
  border-radius: 3px;
  font-family: Lato-Bold;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0.14px;
  width: 100%;
  height: 45px;
  border: 0;
  -webkit-appearance: none;
}

/* line 155, ../sass/pricing.scss */
.hs-form .hs-button:hover:not(.inactive), .hs-form .hs-button:focus:not(.inactive) {
  border: 0 !important;
  box-shadow: none !important;
}

/* line 160, ../sass/pricing.scss */
.hs-form .hs-button:active {
  background: #00C26B !important;
}

/* line 164, ../sass/pricing.scss */
.submitted-message {
  font-family: Lato-Regular;
  font-size: 18px;
  color: #9B9B9B;
  text-align: center;
  margin-bottom: 100px;
}
/* line 171, ../sass/pricing.scss */
.submitted-message:before {
  content: "Thank you!";
  font-family: Lato-Bold;
  font-size: 48px;
  color: #00C26B;
  text-align: center;
  margin-bottom: 40px;
  display: block;
}
/* line 181, ../sass/pricing.scss */
.submitted-message:after {
  content: "";
  font-size: 20px;
  background: url("http://www.tinypulse.com/hubfs/redesign_2016/thumb-up.png");
  width: 117px;
  height: 133px;
  display: block;
  margin: 50px auto 0;
}

/* line 192, ../sass/pricing.scss */
.hs-error-msgs li label {
  color: #FE2851;
}

@media screen and (min-width: 960px) {
  /* line 197, ../sass/pricing.scss */
  .header-graphics {
    height: 400px;
  }

  /* line 201, ../sass/pricing.scss */
  .main-content .contact {
    max-width: 960px;
    margin: auto;
    padding: 70px 0 0 0;
  }
  /* line 205, ../sass/pricing.scss */
  .main-content .contact:after {
    content: "";
    width: 100%;
    height: 1px;
    display: inline-block;
  }

  /* line 213, ../sass/pricing.scss */
  .contact .contact-form {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-right: 50px;
  }

  /* line 220, ../sass/pricing.scss */
  .information {
    width: 50%;
    float: right;
    box-sizing: border-box;
    padding-left: 50px;
  }
  /* line 225, ../sass/pricing.scss */
  .information p:first-child {
    margin-top: 0;
  }
  /* line 229, ../sass/pricing.scss */
  .information .quote .content p {
    width: calc(100% - 64px);
    margin-right: 10px;
    font-family: Lato-Bold;
    font-size: 16px;
    color: #000000;
    line-height: 27px;
    display: inline-block;
  }
  /* line 238, ../sass/pricing.scss */
  .information .quote .content .author-avatar {
    width: 54px;
    float: right;
    display: block;
    vertical-align: top;
  }
  /* line 245, ../sass/pricing.scss */
  .information .quote .author {
    font-size: 14px;
  }
  /* line 247, ../sass/pricing.scss */
  .information .quote .author .author-avatar {
    display: none;
  }

  /* line 254, ../sass/pricing.scss */
  .press-mobile {
    display: none;
  }

  /* line 258, ../sass/pricing.scss */
  .press {
    display: block;
    background-image: linear-gradient(-60deg, rgba(123, 32, 138, 0.82) 0%, #FF5C5C 100%);
    padding: 20px 190px 34px;
    margin-top: 64px;
  }
  /* line 263, ../sass/pricing.scss */
  .press .title {
    font-family: Lato-Regular;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
    text-align: center;
  }
  /* line 270, ../sass/pricing.scss */
  .press .logos {
    height: 61px;
    margin-top: 20px;
    text-align: center;
  }
  /* line 274, ../sass/pricing.scss */
  .press .logos a:hover {
    cursor: pointer;
  }
  /* line 277, ../sass/pricing.scss */
  .press .logos img {
    margin-left: 20px;
    margin-right: 20px;
    width: 110px;
    max-height: 61px;
    vertical-align: middle;
  }

  /* line 289, ../sass/pricing.scss */
  .hbspt-form {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* line 294, ../sass/pricing.scss */
  .hs-form-required {
    display: none;
  }

  /* line 298, ../sass/pricing.scss */
  .hs-input {
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 3px 0px 0px 3px;
    font-family: Lato-Semibold;
    font-size: 14px;
    color: #9B9B9B;
  }

  /* line 306, ../sass/pricing.scss */
  .hs_submit {
    margin-top: 50px;
  }
  /* line 308, ../sass/pricing.scss */
  .hs_submit .actions {
    text-align: center;
  }
  /* line 311, ../sass/pricing.scss */
  .hs_submit .actions .hs-button.primary.large {
    background: #00C26B;
    border-radius: 3px;
    font-family: Lato-Bold;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0.14px;
    height: 45px;
    border: 0;
    max-width: 250px;
  }

  /* line 325, ../sass/pricing.scss */
  .hs-form .hs-button:hover:not(.inactive), .hs-form .hs-button:focus:not(.inactive) {
    border: 0 !important;
    box-shadow: none !important;
  }

  /* line 330, ../sass/pricing.scss */
  .hs-form .hs-button:active {
    background: #00C26B !important;
  }

  /* line 334, ../sass/pricing.scss */
  .submitted-message {
    margin-bottom: 50px;
    padding-right: 100px;
  }
}
