body {
  background: #4B4EA0;
}

.main-wrapper {
  padding: 0;
  margin-top: -35px;
}

.main-content {
  background: none !important;
  margin-bottom: 0;
}

.content-block {
  font-size: 0;
}
.content-block.intro-block {
  text-align: center;
  padding-top: 0px;
}
.content-block.intro-block h1 {
  font-size: 50px;
}
.content-block.intro-block p {
  font-size: 24px;
}
.content-block.intro-block .container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.content-block.intro-block .container .logo {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.content-block.intro-block .container .logo img {
  max-width: 300px;
}
.content-block.intro-block .container .vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.content-block.intro-block .container .instruction {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 75px;
  cursor: pointer;
}
.content-block.intro-block .container .instruction img {
  width: 25px;
}
.content-block.centered-content .content {
  width: 100%;
}
.content-block.light-text h1, .content-block.light-text h2, .content-block.light-text p {
  color: #fff;
}
.content-block.dark-text h1, .content-block.dark-text h2, .content-block.dark-text p {
  color: #000;
}
.content-block.rtl {
  direction: rtl;
}
.content-block .content {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  direction: ltr;
}
.content-block .content .title {
  font-size: 32px;
}
.content-block .content p {
  font-size: 20px;
  margin: 25px 0;
}
.content-block .content img {
  max-width: 100%;
}

@media screen and (min-width: 990px) {
  .content-block {
    min-height: 800px;
  }
  .content-block .content {
    width: 50%;
  }
}
