@charset "UTF-8";
/* line 1, ../sass/redesignLandingpage2016.scss */
.main-content {
  margin-bottom: 0;
}

/* line 5, ../sass/redesignLandingpage2016.scss */
.new-features-page {
  margin-top: 0;
}
/* line 7, ../sass/redesignLandingpage2016.scss */
.new-features-page .tp-engage img {
  height: auto;
}

/* line 13, ../sass/redesignLandingpage2016.scss */
.module-1 .request-modal {
  display: none;
}
/* line 16, ../sass/redesignLandingpage2016.scss */
.module-1 .hero-area {
  padding-top: 90px;
  margin-top: -50px;
  background-repeat: no-repeat;
  background-position: top center;
  color: #FFF;
  letter-spacing: 0.6px;
}
/* line 24, ../sass/redesignLandingpage2016.scss */
.module-1 .custom-inner {
  padding: 0 2%;
  text-align: center;
}
/* line 27, ../sass/redesignLandingpage2016.scss */
.module-1 .custom-inner h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 12px 0 6px;
  padding-bottom: 0;
  line-height: 42px;
}
/* line 34, ../sass/redesignLandingpage2016.scss */
.module-1 .custom-inner h3 {
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  font-weight: 300;
}
/* line 44, ../sass/redesignLandingpage2016.scss */
.module-1 .benefit-section .leading-employee-content-container .leading-employee-content {
  padding: 25px 45px;
  background: rgba(28, 148, 238, 0.72);
  border-radius: 7px;
  text-align: left;
}
/* line 49, ../sass/redesignLandingpage2016.scss */
.module-1 .benefit-section .leading-employee-content-container .leading-employee-content h2 {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 10px;
}
/* line 54, ../sass/redesignLandingpage2016.scss */
.module-1 .benefit-section .leading-employee-content-container .leading-employee-content ul {
  padding-left: 0;
}
/* line 56, ../sass/redesignLandingpage2016.scss */
.module-1 .benefit-section .leading-employee-content-container .leading-employee-content ul li {
  font-size: 16px;
  line-height: 20px;
  padding: 4px 0;
  list-style: none;
}
/* line 61, ../sass/redesignLandingpage2016.scss */
.module-1 .benefit-section .leading-employee-content-container .leading-employee-content ul li:before {
  content: 'Γ£ö';
  margin-right: 15px;
  color: white;
}
/* line 74, ../sass/redesignLandingpage2016.scss */
.module-1 .subscribe .btn-request .request-demo-button {
  margin-top: 25px;
  width: auto;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background: #eb742c;
  color: #fff;
  border-width: 0;
  text-shadow: none;
  padding: 18px 24px;
  font-size: 24px;
  border-radius: 5px;
  display: block;
  letter-spacing: 1px;
}
/* line 89, ../sass/redesignLandingpage2016.scss */
.module-1 .subscribe .btn-request .request-demo-button:hover {
  background-color: #d37236;
}
/* line 94, ../sass/redesignLandingpage2016.scss */
.module-1 .subscribe .or-text {
  display: block;
  padding: 19px;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
}
/* line 101, ../sass/redesignLandingpage2016.scss */
.module-1 .subscribe .call-button {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background: transparent;
  border: 3px solid #eb742c;
  color: #fff;
  text-shadow: none;
  padding: 12px 45px;
  font-size: 24px;
  border-radius: 5px;
  display: block;
  letter-spacing: 1px;
  line-height: 30px;
}
/* line 115, ../sass/redesignLandingpage2016.scss */
.module-1 .subscribe .call-button:hover {
  background-color: rgba(255, 255, 255, 0.19);
}
/* line 120, ../sass/redesignLandingpage2016.scss */
.module-1 .logos {
  padding: 40px 0 55px;
}
/* line 122, ../sass/redesignLandingpage2016.scss */
.module-1 .logos .logo {
  padding: 10px;
  height: 55px;
  display: inline-block;
}
/* line 126, ../sass/redesignLandingpage2016.scss */
.module-1 .logos .logo img {
  vertical-align: middle;
}
/* line 134, ../sass/redesignLandingpage2016.scss */
.module-1 .popup-container .popup {
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  left: 0;
  top: 10%;
  min-height: 400px;
}
/* line 141, ../sass/redesignLandingpage2016.scss */
.module-1 .popup-container .popup .close-btn {
  top: 0px;
  right: 30px;
  font-size: 40px;
  font-family: "Lato-Bold";
  color: #4F4F51;
}
/* line 148, ../sass/redesignLandingpage2016.scss */
.module-1 .popup-container .popup .popup-content {
  border-top: 5px solid #eb742c;
  border-radius: 5px;
  font-size: inherit;
  background: #fff;
  direction: ltr;
  padding: 10px;
  margin: 0 20px;
  overflow: auto;
}
/* line 157, ../sass/redesignLandingpage2016.scss */
.module-1 .popup-container .popup .popup-content form {
  padding: 0 30px;
}
/* line 159, ../sass/redesignLandingpage2016.scss */
.module-1 .popup-container .popup .popup-content form input[type=text], .module-1 .popup-container .popup .popup-content form input[type=email], .module-1 .popup-container .popup .popup-content form input[type=number], .module-1 .popup-container .popup .popup-content form input[type=tel] {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: none;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  max-width: inherit;
  height: auto;
}
/* line 169, ../sass/redesignLandingpage2016.scss */
.module-1 .popup-container .popup .popup-content form .field.hs-form-field {
  position: relative;
  margin-bottom: 10px;
}
/* line 172, ../sass/redesignLandingpage2016.scss */
.module-1 .popup-container .popup .popup-content form .field.hs-form-field > label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: normal;
}
/* line 179, ../sass/redesignLandingpage2016.scss */
.module-1 .popup-container .popup .popup-content form .field.hs-form-field.focusing > label {
  display: none;
}
/* line 185, ../sass/redesignLandingpage2016.scss */
.module-1 .popup-container .popup .popup-content form .hs-error-msgs label {
  color: red;
}
/* line 189, ../sass/redesignLandingpage2016.scss */
.module-1 .popup-container .popup .popup-content form .hs-button.primary.large {
  background: #eb742c;
  box-shadow: none;
  text-shadow: 0;
  border: 0;
  border-radius: 0;
  padding: 17px;
  width: 100%;
  box-sizing: border-box;
}
/* line 199, ../sass/redesignLandingpage2016.scss */
.module-1 .popup-container .popup .popup-content form .actions {
  margin: 0;
  padding: 0;
}
/* line 204, ../sass/redesignLandingpage2016.scss */
.module-1 .popup-container .popup .popup-content .title {
  color: #eb742c;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

/* line 217, ../sass/redesignLandingpage2016.scss */
.module-2 .inner {
  padding: 0 2%;
  font-family: 'Open Sans',sans-serif;
}
/* line 220, ../sass/redesignLandingpage2016.scss */
.module-2 .inner h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
}
/* line 227, ../sass/redesignLandingpage2016.scss */
.module-2 .inner .sales-point {
  background-size: 78px 63px;
  padding-bottom: 40px;
  background-position: top left;
  padding-left: 95px;
  background-repeat: no-repeat;
}
/* line 233, ../sass/redesignLandingpage2016.scss */
.module-2 .inner .sales-point h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.67px;
  padding-bottom: 7px;
}
/* line 240, ../sass/redesignLandingpage2016.scss */
.module-2 .inner .sales-point p {
  line-height: 22px;
  letter-spacing: .45px;
  margin: 0 0 10px;
  font-size: 14px;
}
/* line 247, ../sass/redesignLandingpage2016.scss */
.module-2 .inner .video {
  width: 100%;
}
/* line 249, ../sass/redesignLandingpage2016.scss */
.module-2 .inner .video #video_home_page {
  width: 100%;
  height: auto;
}
/* line 254, ../sass/redesignLandingpage2016.scss */
.module-2 .inner .clear {
  text-align: center;
}
/* line 257, ../sass/redesignLandingpage2016.scss */
.module-2 .inner .read-more {
  background-repeat: no-repeat;
  background-image: url(//cdn2.hubspot.net/hubfs/443262/static-pages-images/new-static-pages/blue-arrow.png?t=1466141870599);
  background-size: 7px 11px;
  background-position: 100% 62%;
  padding-right: 15px;
  font-size: 16px;
  line-height: 40px;
  color: #1c94ee;
  text-decoration: none;
}

/* line 271, ../sass/redesignLandingpage2016.scss */
.section.delights-section {
  background-color: #fff;
  color: #25292a;
  text-align: center;
  font-family: Lato-Regular, Arial;
  font-size: 18px;
  line-height: 22px;
}

/* line 279, ../sass/redesignLandingpage2016.scss */
.delights-section .inner {
  padding: 65px 15px 80px;
  position: relative;
  margin: 0 auto;
  max-width: 960px;
}

/* line 285, ../sass/redesignLandingpage2016.scss */
.section.delights-section a.white-circle-button {
  background-image: url(//cdn2.hubspot.net/hubfs/443262/static-pages-images/new-static-pages/white-circle-button2x.png?t=1466141870599);
  background-repeat: no-repeat;
  background-size: 70px 70px;
  text-indent: -9999px;
  overflow: hidden;
  width: 70px;
  height: 70px;
  top: -35px;
  margin-left: -35px;
  display: block;
  position: absolute;
  left: 50%;
}

/* line 299, ../sass/redesignLandingpage2016.scss */
.delights-section a {
  color: #1c94ee;
  text-decoration: none;
  background-color: transparent;
}

/* line 304, ../sass/redesignLandingpage2016.scss */
.delights-section h2 {
  text-align: center;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  color: inherit;
}

/* line 313, ../sass/redesignLandingpage2016.scss */
.delights {
  overflow: auto;
}

/* line 316, ../sass/redesignLandingpage2016.scss */
.delight {
  width: 100%;
  margin-right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  float: left;
  font-size: 18px;
  text-align: left;
  box-sizing: border-box;
}

/* line 326, ../sass/redesignLandingpage2016.scss */
.delight .quote {
  min-height: initial;
  padding-bottom: 10px;
  color: #505455;
  line-height: 30px;
}

/* line 332, ../sass/redesignLandingpage2016.scss */
.delights-section p {
  margin: 0 0 10px;
}

/* line 335, ../sass/redesignLandingpage2016.scss */
.delight .source {
  position: relative;
  height: 70px;
}

/* line 339, ../sass/redesignLandingpage2016.scss */
.delight .source img {
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 1px;
  max-width: 100%;
  border: 0;
  vertical-align: bottom;
}

/* line 348, ../sass/redesignLandingpage2016.scss */
.delight .source h3 {
  font-size: 18px;
  bottom: 20px;
  font-weight: 600;
  letter-spacing: .6px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  color: inherit;
}

/* line 358, ../sass/redesignLandingpage2016.scss */
.delight .source h3, .delight .source p {
  line-height: 20px;
  position: absolute;
  left: 80px;
}

/* line 363, ../sass/redesignLandingpage2016.scss */
.delight .source p {
  bottom: 0;
}

/* line 366, ../sass/redesignLandingpage2016.scss */
.delights-section .read-more {
  background-image: url(//cdn2.hubspot.net/hubfs/443262/static-pages-images/new-static-pages/blue-arrow2x.png?t=1466141870599);
  background-repeat: no-repeat;
  background-size: 7px 11px;
  background-position: 100% 62%;
  padding-right: 15px;
  font-size: 20px;
  line-height: 40px;
}

@media screen and (min-width: 960px) {
  /* line 377, ../sass/redesignLandingpage2016.scss */
  .main-wrapper {
    padding-bottom: 57px;
  }

  /* line 381, ../sass/redesignLandingpage2016.scss */
  .new-features-page {
    margin-top: 0;
  }

  /* line 386, ../sass/redesignLandingpage2016.scss */
  .module-1 .custom-inner {
    padding: 0;
  }
  /* line 390, ../sass/redesignLandingpage2016.scss */
  .module-1 .benefit-section .leading-employee-content {
    width: calc(50% - 90px);
    float: left;
  }
  /* line 394, ../sass/redesignLandingpage2016.scss */
  .module-1 .benefit-section .form-signup-content {
    vertical-align: top;
    padding: 0 70px;
    width: calc(50% - 140px);
    float: right;
  }
  /* line 401, ../sass/redesignLandingpage2016.scss */
  .module-1 .logos {
    clear: both;
  }
  /* line 405, ../sass/redesignLandingpage2016.scss */
  .module-1 .popup-container {
    /*padding-top: 20%;*/
  }
  /* line 407, ../sass/redesignLandingpage2016.scss */
  .module-1 .popup-container .popup {
    width: 450px;
    left: 50%;
    margin-left: -225px;
    min-height: 480px;
  }
  /* line 414, ../sass/redesignLandingpage2016.scss */
  .module-1 .popup-container .popup .popup-content form .actions {
    margin-top: 20px;
  }

  /* line 424, ../sass/redesignLandingpage2016.scss */
  .module-2 .innner {
    padding: 0;
  }
  /* line 427, ../sass/redesignLandingpage2016.scss */
  .module-2 .wrapper {
    padding: 40px 0 25px;
  }
  /* line 429, ../sass/redesignLandingpage2016.scss */
  .module-2 .wrapper .sales-points {
    width: calc(50% - 25px);
    padding-right: 25px;
    float: left;
    text-align: left;
  }
  /* line 435, ../sass/redesignLandingpage2016.scss */
  .module-2 .wrapper .video {
    width: 50%;
    float: left;
    text-align: right;
  }
  /* line 441, ../sass/redesignLandingpage2016.scss */
  .module-2 .learn-more {
    clear: both;
    text-align: center;
  }
  /* line 445, ../sass/redesignLandingpage2016.scss */
  .module-2 .clear {
    clear: both;
    text-align: center;
  }

  /* line 450, ../sass/redesignLandingpage2016.scss */
  .delight {
    width: 33%;
    padding: 15px;
  }

  /* line 454, ../sass/redesignLandingpage2016.scss */
  .delight .quote {
    height: 190px;
  }
}
