body {
  background: #7ADFEF;
  font-family: "Lato-Regular", Arial;
}

.main-wrapper {
  padding: 0;
}

.main-content {
  /*background: none!important;*/
  margin-bottom: 0;
  padding: 10px 12px;
  background-color: #cacaca;
}

.content-block {
  padding: 30px 20px;
  min-height: 450px;
  overflow: hidden;
  background-color: transparent !important;
}
.content-block h1, .content-block h2, .content-block h3 {
  margin: 0;
  font-family: "Lato-Regular", Arial;
  font-size: 26px;
}
.content-block p {
  line-height: 20px;
  font-size: 15px;
}
.content-block p img {
  max-width: 300px;
  margin: 30px auto;
  display: block;
  font-size: 22px;
}

.bottom-waves {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 65px;
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: contain;
  background-image: url(../images/startup-culture-report/intro-wave-mobile.png);
}

.intro-block {
  background-color: #7ADFEF !important;
  padding-bottom: 0px;
  position: relative;
}
.intro-block .container {
  background-color: #7ADFEF;
  text-align: center;
  background-image: url(../images/startup-culture-report/intro-bg-no-waves.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  min-height: 445px;
  max-width: 360px;
}
.intro-block h1 {
  color: #fff;
  font-size: 57px;
  font-family: 'Lato-Bold';
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}
.intro-block h2 {
  color: #fff;
  font-size: 30px;
  font-family: 'Lato-Bold';
  text-transform: uppercase;
  letter-spacing: 1px;
}
.intro-block h3 {
  color: #115771;
  font-size: 15px;
  margin-top: 10px;
  font-family: 'Lato-Bold';
}

.block-2 {
  background-color: #22D0CF;
  position: relative;
  min-height: 420px;
}
.block-2 h2 {
  color: #fff;
}
.block-2 p {
  color: #115771;
  font-size: 17px;
  line-height: 22px;
}
.block-2 p img {
  max-width: 200px;
}
.block-2 .bottom-waves {
  min-height: 85px;
}

.block-3 {
  background-color: #2899B1;
  position: relative;
  overflow: hidden;
  min-height: 420px;
}
.block-3 .hero {
  margin: 0 auto;
  background-image: url(../images/startup-culture-report/block-3-hero.png);
  background-size: contain;
  max-height: 160px;
  height: 100%;
  display: block;
  position: absolute;
  max-width: 200px;
  top: auto;
  right: -200px;
  left: 0;
  bottom: -3px;
  background-repeat: no-repeat;
}
.block-3 h2 {
  color: #fff;
}
.block-3 p {
  color: #fff;
  font-family: "Lato-Regular", Arial;
  max-width: 880px;
  letter-spacing: 1px;
}
.block-3 p img {
  max-width: 65%;
  float: left;
  margin-top: 0;
  margin-bottom: 0px;
}

.block-4 {
  background-color: #0A5779;
  background-image: url(../images/startup-culture-report/block-4-bg.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 280px;
}
.block-4 h2 {
  color: #fff;
}
.block-4 p {
  color: #fff;
}
.block-4 p img {
  width: 80%;
  float: left;
  margin-top: 20px;
  max-width: 410px;
}

.block-5 {
  background-color: #9D5C9F;
  position: relative;
  min-height: 420px;
}
.block-5 .hero {
  margin: 0 auto;
  background-image: url(../images/startup-culture-report/block-5-hero.png);
  background-size: contain;
  max-height: 135px;
  height: 100%;
  display: block;
  position: absolute;
  max-width: 225px;
  top: auto;
  right: -152px;
  left: 0;
  bottom: -3px;
  background-repeat: no-repeat;
}
.block-5 h2 {
  color: #fff;
}
.block-5 p {
  color: #fff;
  font-family: "Lato-Regular", Arial;
  max-width: 880px;
  letter-spacing: 1px;
}
.block-5 p img {
  max-width: 75%;
  float: left;
  margin-top: 0;
  margin-bottom: 0px;
}

.block-6 {
  background-color: #6C4A87;
  position: relative;
}
.block-6 h2 {
  color: #fff;
}
.block-6 p {
  color: #fff;
}
.block-6 p img {
  width: 100%;
  margin-top: 40px;
  max-width: 410px;
}

.block-7 {
  background-color: #4B3660;
  position: relative;
  min-height: 420px;
}
.block-7 .hero {
  margin: 0 auto;
  background-image: url(../images/startup-culture-report/block-7-hero.png);
  background-size: contain;
  max-height: 195px;
  height: 100%;
  display: block;
  position: absolute;
  max-width: 225px;
  top: auto;
  right: -56%;
  left: 0;
  bottom: -3px;
  background-repeat: no-repeat;
}
.block-7 h2 {
  color: #fff;
}
.block-7 p {
  color: #fff;
}
.block-7 p img {
  width: 240px;
  float: left;
  margin-top: 10px;
  margin-bottom: 0;
}

.block-8 {
  background-color: #835433;
  background-image: url(../images/startup-culture-report/block-8-bg.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 280px;
}
.block-8 h2 {
  color: #fff;
}
.block-8 p {
  color: #fff;
}
.block-8 p img {
  width: 43%;
  float: left;
  margin-top: 0;
  max-width: 410px;
  max-height: 340px;
}

.block-9 {
  background-color: #FF931E;
  background-image: url(../images/startup-culture-report/block-9-bg.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 280px;
  padding-bottom: 100px;
}
.block-9 h2 {
  color: #fff;
}
.block-9 p {
  color: #fff;
}
.block-9 p img {
  width: 80%;
  max-width: 410px;
}

.block-10 {
  background-color: #FCC802;
  background-image: url(../images/startup-culture-report/block-10-bg.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 280px;
}
.block-10 h2 {
  color: #074D69;
}
.block-10 p {
  color: #074D69;
}
.block-10 p img {
  width: 100%;
  margin-top: 0;
  max-width: 410px;
}

.block-11 {
  background-image: url(../images/startup-culture-report/block-11-bg.jpg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
}
.block-11 h2 {
  text-align: center;
  color: #074D69;
}
.block-11 p {
  color: #074D69;
}
.block-11 p img {
  width: 100%;
  margin-top: 0;
  margin-bottom: 150px;
  max-width: 410px;
}

.signup-form {
  margin: 50px auto 10px;
  max-width: 450px;
  min-height: 120px;
}
.signup-form p {
  text-align: center;
}
.signup-form form {
  font-size: 0;
}
.signup-form form input {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
  transition: width 0.3s;
  box-sizing: border-box;
  height: 45px;
  padding: 0 10px;
  min-height: inherit;
  text-transform: none;
}
.signup-form form input[type=email] {
  border-radius: 3px 0 0 3px;
  width: 65%;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Lato-Regular", Arial;
  font-size: 15px;
}
.signup-form form input[type=submit] {
  border-radius: 0 3px 3px 0;
  width: 35%;
  background: #FD7E23;
  color: #fff;
  font-family: "Lato-Semibold", Arial;
  font-size: 16px;
  -webkit-appearance: none;
}

.logos {
  text-align: center;
  margin-bottom: 80px;
  margin-left: 65px;
}
.logos img {
  max-width: 70px;
  max-height: 50px;
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (min-width: 568px) {
  .block-3 .hero {
    max-height: 215px;
    max-width: 100%;
    right: -60%;
    width: 260px;
  }
  .block-3 p img {
    max-width: 320px;
  }

  .block-5 .hero {
    max-height: 215px;
    max-width: 100%;
    right: -50%;
    width: 350px;
  }
  .block-5 p img {
    max-width: 320px;
  }

  .block-6 p img {
    margin-top: 80px;
  }

  .block-7 {
    background-position: center;
    background-size: cover;
  }

  .block-8 p img {
    width: auto;
    max-width: inherit;
    margin: 0;
  }

  .block-10 p img {
    float: left;
  }
}
@media screen and (min-width: 660px) {
  .block-9 {
    background-size: cover;
    background-position: center;
  }

  .block-10 {
    background-size: cover;
    background-position: center;
  }

  .block-11 {
    background-image: url(../images/startup-culture-report/large/block-11-bg.jpg);
  }
}
@media screen and (min-width: 990px) {
  .content-block {
    min-height: 598px;
    margin: 100px 0;
  }
  .content-block.intro-block {
    margin: 0;
  }
  .content-block h2 {
    margin: 30px 0 20px 0;
    font-size: 40px;
    font-family: "Lato-Regular", Arial;
  }
  .content-block p {
    font-size: 20px;
    line-height: 30px;
    font-family: "Lato-Light", Arial;
  }
  .content-block .hero, .content-block .secondary-bg {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    max-width: 960px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .block-3 {
    background-image: none;
    position: relative;
  }
  .block-3 .container {
    position: relative;
  }
  .block-3 .hero {
    height: 100%;
    max-height: 465px;
    bottom: 0;
    left: 0;
    top: auto;
    right: -440px;
    max-width: 570px;
    width: 100%;
  }
  .block-3 p img {
    max-width: inherit;
    width: 650px;
    margin-top: 30px;
  }

  .block-4 {
    background-image: none;
    position: relative;
  }
  .block-4 .container {
    position: relative;
  }
  .block-4 .container h2 {
    max-width: 765px;
  }
  .block-4 .hero {
    background-image: url(../images/startup-culture-report/block-4-hero.png);
    background-size: 500px auto;
    background-position: right bottom;
  }
  .block-4 p img {
    width: 460px;
    max-width: inherit;
  }

  .block-5 {
    background-image: none;
    position: relative;
  }
  .block-5 .container {
    position: relative;
  }
  .block-5 .hero {
    height: 100%;
    max-height: 345px;
    bottom: 0;
    left: 0;
    top: auto;
    right: -440px;
    max-width: 570px;
    width: 100%;
    background-position: right bottom;
  }
  .block-5 p img {
    max-width: inherit;
    width: 500px;
    margin-top: 30px;
  }

  .block-6 p img {
    max-width: 500px;
  }
  .block-6 .bottom-waves {
    background-position: center 60px;
  }

  .block-7 {
    background-image: none;
    position: relative;
  }
  .block-7 .container {
    position: relative;
  }
  .block-7 .hero {
    height: 100%;
    max-height: 560px;
    bottom: 0;
    left: 0;
    top: auto;
    right: -415px;
    max-width: 645px;
    width: 100%;
    background-position: right bottom;
  }
  .block-7 h2 {
    max-width: 740px;
  }
  .block-7 h2 + p {
    max-width: 580px;
  }
  .block-7 p {
    max-width: 600px;
  }
  .block-7 p img {
    margin-left: 0;
    margin-top: 60px;
    float: none;
    max-width: 350px;
    width: 350px;
  }

  .block-8 {
    background-image: none;
    position: relative;
  }
  .block-8 .container {
    position: relative;
  }
  .block-8 .hero {
    background-image: url(../images/startup-culture-report/block-8-hero.png);
    background-size: 600px auto;
    background-position: right bottom;
    max-width: 1100px;
  }
  .block-8 p img {
    width: auto;
    max-width: inherit;
    max-height: 400px;
    margin: 0 0 0 40px;
  }

  .block-9 {
    min-height: 588px;
    padding-bottom: 40px;
    background-image: url(../images/startup-culture-report/wave3.png);
    background-position: center 125%;
    background-size: contain;
    position: relative;
  }
  .block-9 .container {
    position: relative;
  }
  .block-9 .hero {
    background-image: url(../images/startup-culture-report/block-9-chest.png);
    background-size: 490px auto;
    background-position: right bottom;
    margin-left: 24%;
    margin-top: -70px;
    top: 30px;
  }
  .block-9 .secondary-bg {
    background-image: url(../images/startup-culture-report/wave2.png);
    background-position: center 106%;
    background-size: contain;
    max-width: inherit;
    z-index: 1;
  }
  .block-9 h2 {
    text-align: center;
    max-width: 700px;
    margin: 30px auto 20px;
  }
  .block-9 h2 + p {
    max-width: 625px;
    margin: 0 auto;
    text-align: left;
  }
  .block-9 p {
    color: #fff;
    text-align: center;
  }
  .block-9 p img {
    width: 370px;
    max-width: inherit;
    float: left;
    margin: 0;
    margin-top: -70px;
  }

  .block-10 {
    height: 598px;
    background-image: url(../images/startup-culture-report/wave3.png);
    background-position: center 120%;
    background-size: contain;
    position: relative;
  }
  .block-10 .container {
    position: relative;
  }
  .block-10 .hero {
    background-image: url(../images/startup-culture-report/block-10-boat.png);
    background-size: 490px auto;
    background-position: right bottom;
    margin-left: 24%;
    margin-top: -20px;
  }
  .block-10 .secondary-bg {
    background-image: url(../images/startup-culture-report/wave2.png);
    background-position: center 110%;
    background-size: contain;
    max-width: inherit;
    z-index: 1;
  }
  .block-10 h2 {
    text-align: center;
  }
  .block-10 h2 + p {
    max-width: 500px;
    text-align: left;
  }
  .block-10 p {
    text-align: center;
    margin: 0 auto;
  }
  .block-10 p img {
    width: 520px;
    max-width: inherit;
    float: left;
    margin-top: -70px;
    margin-left: 40px;
  }

  .block-11 {
    background-position: center 120%;
    background-size: contain;
    margin-bottom: 0;
    padding-bottom: 80px;
    background-image: url(../images/startup-culture-report/intro-wave.png);
  }
  .block-11 p {
    max-width: 650px;
    margin: 0 auto;
    line-height: 30px;
    text-align: justify;
    font-size: 20px;
  }
  .block-11 h2 {
    font-size: 44px;
  }
  .block-11 .signup-form p {
    text-align: center;
    margin-bottom: 20px;
  }
  .block-11 .container {
    position: relative;
  }
  .block-11 .container:before, .block-11 .container:after {
    content: '';
    width: 300px;
    height: 300px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
  }
  .block-11 .container:before {
    background-image: url(../images/startup-culture-report/cloud.png);
    right: 72%;
    top: -30px;
  }
  .block-11 .container:after {
    background-image: url(../images/startup-culture-report/balloon.png);
    left: 80%;
  }

  .bottom-waves {
    min-height: 195px;
    background-image: url(../images/startup-culture-report/intro-wave.png);
  }

  .intro-block {
    min-height: 628px;
  }
  .intro-block .container {
    text-align: center;
    background-image: url(../images/startup-culture-report/intro-large-no-waves.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    position: relative;
    top: 0;
    left: 0;
    max-width: 1180px;
    min-height: 628px;
  }
  .intro-block .container .content {
    position: absolute;
    left: 44%;
    top: 160px;
  }
  .intro-block h1 {
    font-size: 100px;
  }
  .intro-block h2 {
    font-size: 50px;
    margin: 0;
  }
  .intro-block h3 {
    font-size: 27px;
    margin-top: 30px;
  }

  .block-2 .bottom-waves {
    min-height: 170px;
  }
  .block-2 p {
    font-size: 22px;
    line-height: 30px;
  }
  .block-2 p img {
    max-width: 300px;
  }

  .logos {
    margin-bottom: 90px;
  }
  .logos img {
    max-width: 100px;
    max-height: 45px;
    margin: 10px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .intro-block .container .content {
    left: 45%;
    top: 160px;
  }
}
@media screen and (max-width: 375px) {
  .block-10 p img {
    margin-bottom: 140px;
  }
}
