body {
  font-family: "Lato-Regular", Arial;
}

.main-wrapper {
  padding: 0;
}

.main-content {
  background: none !important;
  margin-bottom: 0;
}

.content-block {
  padding: 30px 20px;
  min-height: 450px;
}
.content-block h1, .content-block h2, .content-block h3 {
  margin: 0;
  font-family: "Lato-Regular", Arial;
}
.content-block p {
  line-height: 22px;
}
.content-block p img {
  max-width: 300px;
  margin: 30px auto;
  display: block;
}

.bottom-waves {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 65px;
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: contain;
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/intro-wave-mobile.png);
}

.intro-block {
  background-color: #7ADFEF;
  padding-bottom: 0px;
  position: relative;
}
.intro-block .container {
  background-color: #7ADFEF;
  text-align: center;
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/intro-bg-no-waves.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  min-height: 520px;
  max-width: 360px;
}
.intro-block h1 {
  color: #fff;
  font-size: 57px;
  font-family: 'Lato-Bold';
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}
.intro-block h2 {
  color: #fff;
  font-size: 30px;
  font-family: 'Lato-Bold';
  text-transform: uppercase;
  letter-spacing: 1px;
}
.intro-block h3 {
  color: #115771;
  font-size: 15px;
  margin-top: 10px;
  font-family: 'Lato-Bold';
}

.block-2 {
  background-color: #22D0CF;
  position: relative;
}
.block-2 h2 {
  color: #fff;
}
.block-2 p {
  color: #115771;
  line-height: 30px;
  font-size: 22px;
}
.block-2 p img {
  max-width: 350px;
}
.block-2 .bottom-waves {
  min-height: 85px;
}

.block-3 {
  background-color: #2899B1;
  min-height: 560px;
  position: relative;
  overflow: hidden;
}
.block-3 .hero {
  margin: 0 auto;
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-3-hero.png);
  background-size: contain;
  max-height: 290px;
  height: 100%;
  display: block;
  position: absolute;
  max-width: 355px;
  top: auto;
  right: -60px;
  left: 0;
  bottom: -3px;
  background-repeat: no-repeat;
}
.block-3 h2 {
  color: #fff;
}
.block-3 p {
  color: #fff;
  font-family: "Lato-Light", Arial;
  max-width: 760px;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 1px;
}
.block-3 p img {
  max-width: 58%;
  float: left;
  margin-top: 0;
}

.block-4 {
  background-color: #0A5779;
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-4-bg.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 280px;
}
.block-4 h2 {
  color: #fff;
}
.block-4 p {
  color: #fff;
}
.block-4 p img {
  width: 80%;
  float: left;
  margin-top: 20px;
  max-width: 410px;
}

.block-5 {
  background-color: #9D5C9F;
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-5-bg.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 280px;
}
.block-5 h2 {
  color: #fff;
}
.block-5 p {
  color: #fff;
}
.block-5 p img {
  width: 80%;
  float: left;
  margin-top: 20px;
  max-width: 410px;
}

.block-6 {
  background-color: #6C4A87;
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/waves.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}
.block-6 h2 {
  color: #fff;
}
.block-6 p {
  color: #fff;
}
.block-6 p img {
  width: 100%;
  margin-top: 40px;
  max-width: 410px;
}

.block-7 {
  background-color: #4B3660;
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-7-bg.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 280px;
}
.block-7 h2 {
  color: #fff;
}
.block-7 p {
  color: #fff;
}
.block-7 p img {
  width: 80%;
  float: left;
  margin-top: 40px;
  max-width: 410px;
}

.block-8 {
  background-color: #835433;
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-8-bg.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 280px;
}
.block-8 h2 {
  color: #fff;
}
.block-8 p {
  color: #fff;
}
.block-8 p img {
  width: 50%;
  float: left;
  margin-top: 0;
  max-width: 410px;
  max-height: 340px;
}

.block-9 {
  background-color: #FF931E;
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-9-bg.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 280px;
  padding-bottom: 100px;
}
.block-9 h2 {
  color: #fff;
}
.block-9 p {
  color: #fff;
}
.block-9 p img {
  width: 80%;
  max-width: 410px;
}

.block-10 {
  background-color: #FCC802;
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-10-bg.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 280px;
}
.block-10 h2 {
  color: #074D69;
}
.block-10 p {
  color: #074D69;
}
.block-10 p img {
  width: 100%;
  margin-top: 0;
  margin-bottom: 150px;
  max-width: 410px;
}

.block-11 {
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-11-bg.jpg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
}
.block-11 h2 {
  text-align: center;
  color: #074D69;
}
.block-11 p {
  color: #074D69;
}
.block-11 p img {
  width: 100%;
  margin-top: 0;
  margin-bottom: 150px;
  max-width: 410px;
}

.signup-form {
  margin: 50px auto;
  max-width: 400px;
}
.signup-form p {
  text-align: center;
}
.signup-form form {
  font-size: 0;
}
.signup-form form input, .signup-form form button {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
  transition: width 0.3s;
  box-sizing: border-box;
  height: 45px;
  padding: 0 10px;
  min-height: inherit;
  text-transform: none;
}
.signup-form form input {
  border-radius: 3px 0 0 3px;
  width: 70%;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Lato-Regular", Arial;
  font-size: 15px;
}
.signup-form form button {
  border-radius: 0 3px 3px 0;
  width: 30%;
  background: #00C26B;
  color: #fff;
  font-family: "Lato-Semibold", Arial;
  font-size: 16px;
}

.logos {
  text-align: center;
  margin-bottom: 50px;
}
.logos img {
  max-width: 60px;
  max-height: 50px;
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (min-width: 568px) {
  .block-3 {
    min-height: 700px;
  }
  .block-3 .hero {
    max-height: 460px;
    max-width: 100%;
    right: -20%;
  }

  .block-6 p img {
    margin-top: 80px;
  }

  .block-7 {
    background-position: center;
    background-size: cover;
  }

  .block-8 p img {
    width: auto;
    max-width: inherit;
    margin: 0;
  }

  .block-10 p img {
    float: left;
  }
}
@media screen and (min-width: 660px) {
  .block-3 {
    min-height: 700px;
  }
  .block-3 .hero {
    max-height: 460px;
    max-width: 100%;
    right: -50%;
  }

  .block-9 {
    background-size: cover;
    background-position: center;
  }

  .block-10 {
    background-size: cover;
    background-position: center;
  }

  .block-11 {
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/large/block-11-bg.jpg);
  }
}
@media screen and (min-width: 990px) {
  .content-block {
    min-height: 680px;
  }
  .content-block h2 {
    margin: 30px 0 20px 0;
    font-size: 40px;
  }
  .content-block .hero, .content-block .secondary-bg {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    max-width: 960px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .block-3 {
    background-image: none;
    position: relative;
  }
  .block-3 .container {
    position: relative;
  }
  .block-3 .hero {
    max-height: 550px;
    height: 100%;
    bottom: -5px;
    left: 0;
    top: auto;
    right: -375px;
    max-width: 670px;
  }
  .block-3 p img {
    max-width: inherit;
    width: 435px;
    margin-top: 95px;
  }

  .block-4 {
    background-image: none;
    position: relative;
  }
  .block-4 .container {
    position: relative;
  }
  .block-4 .hero {
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-4-bg.jpg);
  }
  .block-4 p img {
    width: 450px;
    max-width: inherit;
    margin-left: 40px;
  }

  .block-5 {
    background-image: none;
    position: relative;
  }
  .block-5 .container {
    position: relative;
  }
  .block-5 .hero {
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-5-bg.jpg);
  }
  .block-5 p {
    max-width: 600px;
  }
  .block-5 p img {
    width: 500px;
    max-width: inherit;
    margin-left: 40px;
    margin-top: 40px;
  }

  .block-7 {
    background-image: none;
    position: relative;
  }
  .block-7 .container {
    position: relative;
  }
  .block-7 .hero {
    background-image: url(../images/startup-culture-report/block-7-hero.png);
    background-size: 600px auto;
    background-position: right bottom;
  }
  .block-7 h2 {
    max-width: 670px;
  }
  .block-7 p {
    max-width: 600px;
  }
  .block-7 p img {
    margin-left: 40px;
    float: none;
  }

  .block-8 {
    background-image: none;
    position: relative;
  }
  .block-8 .container {
    position: relative;
  }
  .block-8 .hero {
    background-image: url(../images/startup-culture-report/block-8-hero.png);
    background-size: 600px auto;
    background-position: right bottom;
  }
  .block-8 p img {
    width: auto;
    max-width: inherit;
    max-height: 400px;
    margin: 0 0 0 40px;
  }

  .block-9 {
    background-image: url(../images/startup-culture-report/wave3.png);
    background-position: center bottom;
    background-size: contain;
    position: relative;
  }
  .block-9 .container {
    position: relative;
  }
  .block-9 .hero {
    background-image: url(../images/startup-culture-report/block-9-chest.png);
    background-size: 490px auto;
    background-position: right bottom;
    margin-left: 24%;
    margin-top: -70px;
  }
  .block-9 .secondary-bg {
    background-image: url(../images/startup-culture-report/wave2.png);
    background-position: center bottom;
    background-size: contain;
    max-width: inherit;
    z-index: 1;
  }
  .block-9 h2 {
    text-align: center;
  }
  .block-9 p {
    color: #074D69;
    text-align: center;
  }
  .block-9 p img {
    width: 400px;
    max-width: inherit;
    float: left;
    margin: 0 0 0 40px;
  }

  .block-10 {
    height: 750px;
    background-image: url(../images/startup-culture-report/wave3.png);
    background-position: center bottom;
    background-size: contain;
    position: relative;
  }
  .block-10 .container {
    position: relative;
  }
  .block-10 .hero {
    background-image: url(../images/startup-culture-report/block-10-boat.png);
    background-size: 490px auto;
    background-position: right bottom;
    margin-left: 24%;
    margin-top: -70px;
  }
  .block-10 .secondary-bg {
    background-image: url(../images/startup-culture-report/wave2.png);
    background-position: center bottom;
    background-size: contain;
    max-width: inherit;
    z-index: 1;
  }
  .block-10 h2 {
    text-align: center;
  }
  .block-10 p {
    text-align: center;
  }
  .block-10 p img {
    width: 550px;
    max-width: inherit;
    float: left;
  }

  .block-11 {
    background-position: center;
  }
  .block-11 p {
    font-size: 21px;
    line-height: 30px;
  }

  .bottom-waves {
    min-height: 195px;
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/intro-wave.png);
  }

  .intro-block .container {
    background-color: #7ADFEF;
    text-align: center;
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/intro-large-no-waves.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    max-width: 1180px;
    min-height: 680px;
  }
  .intro-block .container .content {
    position: absolute;
    left: 44%;
    top: 175px;
  }
  .intro-block h1 {
    font-size: 100px;
  }
  .intro-block h2 {
    font-size: 50px;
    margin: 0;
  }
  .intro-block h3 {
    font-size: 27px;
    margin-top: 30px;
  }

  .block-2 .bottom-waves {
    min-height: 170px;
  }
  .block-2 p img {
    max-width: 420px;
  }
}
@media screen and (min-width: 1200px) {
  .intro-block .container .content {
    left: 45%;
    top: 140px;
  }
}
