@font-face {
  font-family: 'Lato-Regular';
  src: url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Regular.eot");
  src: url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Regular.woff2") format("woff2"), url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Regular.woff") format("woff"), url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Light';
  src: url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Light.eot");
  src: url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Light.woff2") format("woff2"), url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Light.woff") format("woff"), url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Semibold';
  src: url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Semibold.eot");
  src: url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Semibold.woff2") format("woff2"), url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Semibold.woff") format("woff"), url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Bold';
  src: url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Bold.eot");
  src: url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Bold.woff2") format("woff2"), url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Bold.woff") format("woff"), url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Thin';
  src: url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Thin.eot");
  src: url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Thin.woff2") format("woff2"), url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Thin.woff") format("woff"), url("http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/Lato-Thin.ttf") format("truetype");
}
body {
  font-family: "Lato-Regular", Arial;
  padding: 0;
  margin: 0;
}

.row-fluid [class*="span"] {
  min-height: inherit;
}

a {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.main-nav-container {
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid #DADADA;
}

.main-nav {
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px 10px 0;
  position: relative;
  background: white;
}
.main-nav:after {
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
}
.main-nav .logo {
  display: inline-block;
  width: 120px;
  height: 20px;
  z-index: 10;
  position: relative;
}
.main-nav .logo img {
  transition: all 0.3s;
  width: 100%;
  height: auto;
  position: absolute;
  top: 2px;
}

.body-container-wrapper {
  position: relative;
  z-index: 2;
  background: transparent;
}

.main-wrapper {
  transition: all 0.5s;
}

.main-content {
  background: #fff;
  margin-top: 70px;
  padding: 0px 20px;
}
.main-content .signup-instruction {
  width: 100%;
  position: relative;
  margin-bottom: 130px;
}
.main-content .signup-instruction .instruction-header h2.page-title {
  font-size: 33px;
  color: #9B9B9B;
  margin: 0;
  font-weight: bold;
}
.main-content .signup-instruction .instruction-header hr {
  height: 2px;
  background-color: #9B9B9B;
  width: 120px;
  margin: 15px 0;
}
.main-content .signup-instruction .instruction-desc {
  display: none;
}
.main-content .signup-instruction .instruction-content {
  margin-bottom: 120px;
}
.main-content .signup-instruction .instruction-content .instruction-block h1 {
  font-size: 36px;
  color: #E16F02;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
}
.main-content .signup-instruction .instruction-content .instruction-block p {
  font-size: 18px;
  color: #000;
  font-weight: 300;
  line-height: 23px;
}
.main-content .signup-instruction .instruction-content .instruction-block button {
  padding: 12px 35px;
  background-color: #64C26B;
  color: #FFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  box-shadow: none;
  border: 0;
  border-radius: 8px;
}
.main-content .signup-instruction .instruction-content .instruction-block button:hover {
  opacity: 0.9;
}
.main-content .signup-instruction .instruction-content .instruction-block a {
  color: #0090F5;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
}
.main-content .signup-instruction .instruction-content .instruction-block a i {
  font-size: 20px;
  margin-right: 10px;
}

@media screen and (min-width: 960px) {
  .main-nav-container {
    height: 76px;
    display: block;
    background: #fff;
    height: auto;
  }

  .main-nav .logo {
    width: 150px;
    height: 28px;
    margin-top: 0;
    position: relative;
  }
  .main-nav .logo img {
    transition: all 0.3s;
    position: absolute;
  }

  .main-content {
    margin-top: 130px;
  }
  .main-content .signup-instruction {
    max-width: 960px;
    margin: 0 auto;
    font-size: 0px;
    position: relative;
  }
  .main-content .signup-instruction .instruction-content {
    display: inline-block;
    width: 50%;
  }
  .main-content .signup-instruction .instruction-content .instruction-block {
    padding-right: 30px;
  }
  .main-content .signup-instruction .instruction-desc {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-top: 70px;
  }
  .main-content .signup-instruction .instruction-desc img {
    width: 100%;
  }
  .main-content .signup-instruction .instruction-desc .percentage {
    padding-left: 80px;
  }
  .main-content .signup-instruction .instruction-desc .chart {
    position: absolute;
    right: -150px;
    bottom: 50px;
    max-width: 800px;
  }
}
