@font-face {
  font-family: 'Lato-Regular';
  src: url("fonts/Lato-Regular.eot");
  src: url("fonts/Lato-Regular.woff2") format("woff2"), url("fonts/Lato-Regular.woff") format("woff"), url("fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Light';
  src: url("fonts/Lato-Light.eot");
  src: url("fonts/Lato-Light.woff2") format("woff2"), url("fonts/Lato-Light.woff") format("woff"), url("fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Semibold';
  src: url("fonts/Lato-Semibold.eot");
  src: url("fonts/Lato-Semibold.woff2") format("woff2"), url("fonts/Lato-Semibold.woff") format("woff"), url("fonts/Lato-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Bold';
  src: url("fonts/Lato-Bold.eot");
  src: url("fonts/Lato-Bold.woff2") format("woff2"), url("fonts/Lato-Bold.woff") format("woff"), url("fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Thin';
  src: url("fonts/Lato-Thin.eot");
  src: url("fonts/Lato-Thin.woff2") format("woff2"), url("fonts/Lato-Thin.woff") format("woff"), url("fonts/Lato-Thin.ttf") format("truetype");
}
h2 {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 50px;
}

.content-block {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  font-family: "Lato-Regular", Arial;
  font-size: 14px;
  line-height: 24px;
  padding: 19px;
  border: 1px solid #e3e3e3;
  /* -webkit-border-radius: 4px; */
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.content p {
  margin: 0 0 10px;
}
.content a {
  color: #08c;
}
.content ul.terms {
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 25px;
}
.content ul.terms li {
  margin-bottom: 5px;
  line-height: 20px;
}
.content .has-indent {
  margin-left: 25px;
}

strong {
  font-family: "Lato-Bold", Arial;
}

#privacy-policy h2 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #636466;
  text-align: left;
  font-family: "Lato-Bold", Arial;
}
#privacy-policy ul, #privacy-policy ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
#privacy-policy li {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 20px;
}
