body {
  transition: all 0.3s;
}

.tiny-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #0085F6;
  box-sizing: border-box;
  transition: all 0.21s;
  transform: translateY(-300px);
}
.tiny-banner > div {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 10px 15px 10px;
  vertical-align: middle;
}
.tiny-banner > div p, .tiny-banner > div a {
  color: #fff;
  margin: 0;
}
.tiny-banner .logo {
  width: 20%;
}
.tiny-banner .logo p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.tiny-banner .content {
  width: 60%;
}
.tiny-banner .content p {
  font-family: Lato-Light;
}
.tiny-banner .buttons {
  width: 20%;
  text-align: right;
}
.tiny-banner .buttons a {
  font-family: Lato-Light;
}
.tiny-banner .buttons .explore {
  padding: 5px 15px 7px 15px;
  color: #fff;
  background: #00C26B;
  text-align: center;
  border-radius: 3px;
  margin-right: 20px;
}
.tiny-banner .buttons .hide-banner {
  margin-left: 30px;
  color: #005DB5;
  font-family: Lato-Thin;
}
