.clearfix {
  clear: both;
}

.subnav li.top-companies {
  display: inline-block;
  font-family: "Lato-Bold";
}

.top-overview {
  border-bottom: 1px solid #DADADA;
}
.top-overview .block-title {
  width: 260px;
  margin: 0px auto 40px;
}
.top-overview .top-companies-logo {
  width: 200px;
  margin: 0 auto;
}
.top-overview .top-companies-logo img {
  width: 100%;
}
.top-overview .content-desc {
  text-align: left;
  font-size: 18px;
  font-family: "Lato-Light";
  color: #000;
  line-height: 26px;
  padding: 20px;
  margin-bottom: 40px;
}
.top-overview .overview-recognition {
  font-family: "Lato-Semibold";
  color: #1C94EE;
}

.customers {
  padding-bottom: 20px;
  padding-top: 10px;
  border-bottom: 1px solid #DADADA;
  display: inline-block;
  width: 100%;
}
.customers .logos {
  font-size: 0;
}
.customers .logos .row-fluid-wrapper {
  display: inline-block;
}
.customers .customers-logo {
  width: 135px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  padding: 15px;
  text-align: center;
  border: 1px solid #DADADA;
  vertical-align: middle;
  margin: 0px 10px 20px;
  transition: all 0.3s;
  cursor: pointer;
}
.customers .customers-logo.active {
  background: #E8F4FD;
}
.customers .customers-logo img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  cursor: pointer;
}

.recognition {
  font-size: 18px;
  color: #000;
  padding-bottom: 30px;
}
.recognition .block-title {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 29px;
}
.recognition .block-content {
  padding: 0 20px;
  margin-bottom: 50px;
}
.recognition .content-title {
  line-height: 26px;
  font-family: "Lato-Semibold";
  text-align: left;
}
.recognition .content-desc {
  line-height: 30px;
  font-family: "Lato-Light";
}
.recognition .content-desc li {
  text-align: left;
  font-size: 36px;
  margin-bottom: 20px;
}
.recognition .content-desc li span {
  font-size: 18px;
  vertical-align: top;
}
.recognition .content-desc li a {
  color: #1C94EE;
  font-family: "Lato-Semibold";
  vertical-align: top;
}

.customer .customer-logo {
  width: 250px;
  margin: 40px auto 40px;
}
.customer .customer-logo img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.customer .customer-logo img.big-img {
  max-width: 130px;
}
.customer .customer-video {
  margin: 0 auto 50px;
  text-align: center;
}
.customer .customer-video iframe, .customer .customer-video video {
  max-width: 350px;
  width: 100%;
}
.customer hr {
  color: #979797;
  width: 130px;
}
.customer .customer-quote {
  text-align: center;
  padding: 30px 0px;
  max-width: 800px;
  margin: 0 auto;
}
.customer .customer-quote .content {
  font-size: 24px;
  line-height: 29px;
  font-family: "Lato-Light";
  margin-bottom: 20px;
}
.customer .customer-quote .author {
  font-size: 18px;
  line-height: 22px;
  color: #9B9B9B;
  font-family: "Lato-Regular";
}
.customer .employees-quotes {
  line-height: 26px;
  font-family: "Lato-Light";
  margin-top: 50px;
  font-size: 0;
}
.customer .employees-quotes .employee-quote {
  font-size: 18px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 26px;
}
.customer .employees-quotes .employee-quote .employee-name {
  font-family: "Lato-Semibold";
  margin-bottom: 30px;
}
.customer .employees-quotes .employee-quote .content {
  font-family: "Lato-Light";
}

.customer-content {
  border-top: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
}
.customer-content.active {
  transition: max-height 1s;
  padding: 0 20px 40px;
  max-height: 100%;
  border-bottom: 1px solid #dadada;
}

.other-customers {
  margin-top: 30px;
}
.other-customers a {
  color: #1C94EE;
}

@media screen and (min-width: 960px) {
  .subnav li.top-companies:before {
    transform: scaleX(1);
  }

  .top-overview .block-title {
    width: 100%;
  }
  .top-overview .content-desc {
    padding-top: 30px;
    font-size: 16px;
    line-height: 24px;
  }

  .customers {
    border-bottom: 1px solid #DADADA;
    padding-bottom: 40px;
  }
  .customers .block-desc {
    font-size: 24px;
  }
  .customers .logos {
    font-size: 0;
  }
  .customers .customers-logo {
    width: 180px;
    height: 110px;
    line-height: 110px;
  }

  .recognition {
    font-size: 16px;
    line-height: 24px;
  }
  .recognition .content-desc li {
    font-size: 32px;
  }
  .recognition .content-desc li span {
    font-size: 16px;
  }

  .customer .customer-video iframe, .customer .customer-video video {
    max-width: 720px;
    height: 405px;
  }
  .customer .employees-quotes .employee-quote {
    display: inline-block;
    width: 29%;
    margin: 18px;
    vertical-align: top;
  }
  .customer .employees-quotes .employee-quote .employee-name {
    height: 50px;
  }
  .customer .two-columns .employee-quote {
    width: 45%;
  }

  .other-customers {
    margin: 18px;
  }
}
