/* line 5, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url("fonts/Lato-Regular.eot");
  src: url("fonts/Lato-Regular.woff2") format("woff2"), url("fonts/Lato-Regular.woff") format("woff"), url("fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Light';
  src: url("fonts/Lato-Light.eot");
  src: url("fonts/Lato-Light.woff2") format("woff2"), url("fonts/Lato-Light.woff") format("woff"), url("fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Semibold';
  src: url("fonts/Lato-Semibold.eot");
  src: url("fonts/Lato-Semibold.woff2") format("woff2"), url("fonts/Lato-Semibold.woff") format("woff"), url("fonts/Lato-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Bold';
  src: url("fonts/Lato-Bold.eot");
  src: url("fonts/Lato-Bold.woff2") format("woff2"), url("fonts/Lato-Bold.woff") format("woff"), url("fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato-Thin';
  src: url("fonts/Lato-Thin.eot");
  src: url("fonts/Lato-Thin.woff2") format("woff2"), url("fonts/Lato-Thin.woff") format("woff"), url("fonts/Lato-Thin.ttf") format("truetype");
}
@font-face {
  font-family: 'tinyicon';
  src: url("http://assets-reskinning-tinypulse.s3.amazonaws.com/assets/fonts/fontello.eot?6869025");
  src: url("http://assets-reskinning-tinypulse.s3.amazonaws.com/assets/fonts/fontello.eot?6869025#iefix") format("embedded-opentype"), url("http://assets-reskinning-tinypulse.s3.amazonaws.com/assets/fonts/fontello.woff2?6869025") format("woff2"), url("http://assets-reskinning-tinypulse.s3.amazonaws.com/assets/fonts/fontello.woff?6869025") format("woff"), url("http://assets-reskinning-tinypulse.s3.amazonaws.com/assets/fonts/fontello.ttf?6869025") format("truetype"), url("http://assets-reskinning-tinypulse.s3.amazonaws.com/assets/fonts/fontello.svg?6869025#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 37, ../sass/tour-guide.scss */
html, body, .main-wrapper, .content-wrapper {
  height: 100%;
}

/* line 41, ../sass/tour-guide.scss */
body {
  background: #F3F3F4;
  font-family: Lato-Regular;
}

/* line 46, ../sass/tour-guide.scss */
a {
  text-decoration: none;
}

/* line 50, ../sass/tour-guide.scss */
header {
  height: 60px;
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.06);
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 10;
}
/* line 58, ../sass/tour-guide.scss */
header .container {
  padding: 0 10px;
  box-sizing: border-box;
}
/* line 62, ../sass/tour-guide.scss */
header .logo {
  line-height: 80px;
  height: 60px;
}
/* line 65, ../sass/tour-guide.scss */
header .logo img {
  width: 250px;
  height: auto;
}
/* line 70, ../sass/tour-guide.scss */
header .content {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  left: 0;
  right: 0;
  padding: 20px;
}
/* line 79, ../sass/tour-guide.scss */
header .content p {
  font-size: 16px;
  float: left;
}
/* line 83, ../sass/tour-guide.scss */
header .content a {
  float: right;
  background: #00C26B;
  border-radius: 3px;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0px;
  padding: 10px 20px;
  margin-top: -8px;
}

/* line 96, ../sass/tour-guide.scss */
nav {
  box-shadow: none;
  width: 60px;
  background-color: #f17131;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
/* line 106, ../sass/tour-guide.scss */
nav ul {
  margin-top: 60px;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
/* line 111, ../sass/tour-guide.scss */
nav ul li {
  position: relative;
  display: block;
}
/* line 114, ../sass/tour-guide.scss */
nav ul li.active, nav ul li:hover {
  background: #d26128;
}
/* line 117, ../sass/tour-guide.scss */
nav ul li a {
  padding: 14px 0px 14px 5px;
  color: #fff;
  display: block;
  line-height: 23px;
}
/* line 122, ../sass/tour-guide.scss */
nav ul li a i {
  margin-right: 6px;
}
/* line 125, ../sass/tour-guide.scss */
nav ul li a span {
  display: none;
}
/* line 131, ../sass/tour-guide.scss */
nav [class^="icon-"]:before, nav [class*=" icon-"]:before {
  font-size: 16px;
  font-family: tinyicon;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 149, ../sass/tour-guide.scss */
nav .icon-gause:before {
  content: '\e800';
}
/* line 152, ../sass/tour-guide.scss */
nav .icon-pulse:before {
  content: '\e802';
}
/* line 155, ../sass/tour-guide.scss */
nav .icon-share:before {
  content: '\e803';
}
/* line 158, ../sass/tour-guide.scss */
nav .icon-users:before {
  content: '\e804';
}
/* line 161, ../sass/tour-guide.scss */
nav .icon-setting:before {
  content: '\e801';
}

/* line 166, ../sass/tour-guide.scss */
.content-wrapper {
  margin-top: 60px;
  margin-left: 75px;
}
/* line 169, ../sass/tour-guide.scss */
.content-wrapper .main-content {
  max-width: 1160px;
  min-width: 1160px;
  margin: 0 auto;
}
/* line 173, ../sass/tour-guide.scss */
.content-wrapper .main-content .content {
  font-size: 0;
}
/* line 176, ../sass/tour-guide.scss */
.content-wrapper .main-content .block {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  vertical-align: top;
  margin-bottom: 20px;
}
/* line 182, ../sass/tour-guide.scss */
.content-wrapper .main-content .block:nth-child(2n+1) {
  padding-right: 10px;
}
/* line 185, ../sass/tour-guide.scss */
.content-wrapper .main-content .block:nth-child(2n) {
  padding-left: 10px;
}
/* line 188, ../sass/tour-guide.scss */
.content-wrapper .main-content .block img {
  max-width: 100%;
  margin-bottom: 20px;
  transition: all 0.3s;
  cursor: pointer;
}
/* line 194, ../sass/tour-guide.scss */
.content-wrapper .main-content .block .container {
  position: relative;
}
/* line 196, ../sass/tour-guide.scss */
.content-wrapper .main-content .block .container:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
/* line 200, ../sass/tour-guide.scss */
.content-wrapper .main-content .block .container:hover img {
  border-radius: 8px;
  box-shadow: 2px 2px 10px #333;
}
/* line 205, ../sass/tour-guide.scss */
.content-wrapper .main-content .block .container .tooltip {
  font-size: 16px;
  padding: 10px;
  color: #fff;
  background: #4A4A4A;
  border-radius: 3px;
  position: absolute;
  top: -20px;
  box-shadow: 2px 2px 8px #333;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
/* line 217, ../sass/tour-guide.scss */
.content-wrapper .main-content .block .container .tooltip:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  border-color: #4A4A4A transparent transparent transparent;
  border-style: solid;
  border-width: 10px 7px;
  bottom: -20px;
  left: 46%;
}
/* line 232, ../sass/tour-guide.scss */
.content-wrapper .main-content .fullwidth {
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/* line 239, ../sass/tour-guide.scss */
.content-wrapper .overview .content-1 .tooltip {
  left: 83px;
}
/* line 242, ../sass/tour-guide.scss */
.content-wrapper .overview .content-2 .tooltip {
  left: 27px;
}
/* line 245, ../sass/tour-guide.scss */
.content-wrapper .overview .content-3 .tooltip {
  left: 105px;
}
/* line 248, ../sass/tour-guide.scss */
.content-wrapper .overview .content-4 .tooltip {
  left: -18px;
}
/* line 251, ../sass/tour-guide.scss */
.content-wrapper .overview .content-5 .tooltip {
  left: 58px;
}

/* line 258, ../sass/tour-guide.scss */
.cheers .content-left {
  display: inline-block;
  vertical-align: top;
}
/* line 261, ../sass/tour-guide.scss */
.cheers .content-left img {
  max-width: 368px;
  display: block;
  margin-right: 27px;
  margin-bottom: 30px;
}
/* line 268, ../sass/tour-guide.scss */
.cheers .content-right {
  display: inline-block;
}
/* line 270, ../sass/tour-guide.scss */
.cheers .content-right img {
  max-width: 765px;
}

/* line 278, ../sass/tour-guide.scss */
.response img {
  max-width: 1160px;
}

/* line 283, ../sass/tour-guide.scss */
.vertical-menu {
  background: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.06);
}
/* line 289, ../sass/tour-guide.scss */
.vertical-menu a {
  display: inline;
  margin-right: 20px;
  color: #9b9b9b;
}
/* line 293, ../sass/tour-guide.scss */
.vertical-menu a:hover, .vertical-menu a.active {
  color: #4A4A4A;
}
/* line 296, ../sass/tour-guide.scss */
.vertical-menu a i {
  position: relative;
  top: -5px;
}
/* line 301, ../sass/tour-guide.scss */
.vertical-menu a:hover + .dropdown-menu {
  display: block;
}
/* line 306, ../sass/tour-guide.scss */
.vertical-menu .dropdown {
  position: relative;
}
/* line 309, ../sass/tour-guide.scss */
.vertical-menu .dropdown-menu {
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
  display: none;
  left: 0;
  top: 30px;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  max-width: 450px;
  min-width: 180px;
  background: #fff;
}
/* line 322, ../sass/tour-guide.scss */
.vertical-menu .dropdown-menu li a {
  line-height: 25px;
  margin: 4px;
  font-weight: normal;
  border-radius: 3px;
  display: block;
  padding: 5px 10px;
}

/* line 333, ../sass/tour-guide.scss */
.main-content {
  padding: 20px 10px 40px;
}

/* line 337, ../sass/tour-guide.scss */
.nav-panel {
  width: 350px;
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 20px;
  max-height: 50px;
  overflow: hidden;
  transition: max-height 0.3s;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
/* line 348, ../sass/tour-guide.scss */
.nav-panel:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(0deg, #1C94EE 0%, #00C26B 94%);
  z-index: -1;
  opacity: 0.9;
}
/* line 360, ../sass/tour-guide.scss */
.nav-panel .nav-panel-trigger:after {
  content: "\2199";
  float: right;
  margin-top: -5px;
  margin-right: -3px;
  transform: rotate(180deg);
  transition: all 0.75s;
}
/* line 369, ../sass/tour-guide.scss */
.nav-panel a {
  color: #fff;
  font-size: 16px;
  padding: 20px 20px;
  display: block;
}
/* line 377, ../sass/tour-guide.scss */
.nav-panel ul li > a {
  padding: 0;
  margin: 0 20px;
}
/* line 381, ../sass/tour-guide.scss */
.nav-panel ul li .no {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 392, ../sass/tour-guide.scss */
.nav-panel ul li p {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
  line-height: normal;
}
/* line 398, ../sass/tour-guide.scss */
.nav-panel ul li.active {
  margin-bottom: 20px;
}
/* line 400, ../sass/tour-guide.scss */
.nav-panel ul li.active a {
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}
/* line 404, ../sass/tour-guide.scss */
.nav-panel ul li.active p {
  max-height: 100px;
}
/* line 406, ../sass/tour-guide.scss */
.nav-panel ul li.active p span {
  display: block;
  margin-top: 10px;
}
/* line 411, ../sass/tour-guide.scss */
.nav-panel ul li.active .no {
  background: #fff;
  color: #00C26B;
}
/* line 417, ../sass/tour-guide.scss */
.nav-panel ul li.checked-step .no {
  background: #fff;
  color: #00C26B;
}
/* line 424, ../sass/tour-guide.scss */
.nav-panel .exit-tour {
  float: left;
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
}
/* line 430, ../sass/tour-guide.scss */
.nav-panel .next-step {
  float: right;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 438, ../sass/tour-guide.scss */
.nav-panel-opened .nav-panel {
  max-height: 500px;
}
/* line 442, ../sass/tour-guide.scss */
.nav-panel-opened .nav-panel-trigger:after {
  transform: rotate(0);
}
