body{
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: $font_regular;
}
.row-fluid [class*="span"]{
	min-height: inherit;
}
a{
	text-decoration: none;
}
.clearfix {
  clear: both;
}
.body-container-wrapper{
  position: relative;
  z-index: 2;
  background: transparent;
}
.footer-container-wrapper{
  position: relative;
  z-index: 0;
}
.main-wrapper{
	transition: all 0.5s;
}
.main-content{
  background: #fff;
  box-shadow: 0 0 10px #666;
  margin-bottom: 10px;
}
.brands{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c5c+0,982c81+100&1+0,0.86+100 */
	background: -moz-linear-gradient(45deg,  rgba(255,92,92,1) 0%, rgba(152,44,129,0.86) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(255,92,92,1) 0%,rgba(152,44,129,0.86) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(255,92,92,1) 0%,rgba(152,44,129,0.86) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 30px 10px 20px 10px;
	text-align: center;
	img{
    display: inline-block;
    vertical-align: middle;
    width: 110px;
    height: auto;
    margin: 10px;
	}
}

.content-block{
	padding-top: 30px;
	.container{
	    max-width: 960px;
	    margin: 0 auto;
	    box-sizing: border-box;
	  }
	.block-title{
		text-align: center;
		margin: 0 0 10px 0;
		padding: 0 30px;
		font-weight: normal;
		font-family: $font_regular;
		font-size: 24px;
		color: #000000;
		letter-spacing: 0.75px;
		text-align: center;
		font-weight: normal;
	}
	.block-desc{
		margin: 0 0 40px 0;
		padding: 0 30px;
		font-family: $font_regular;
		font-size:18px;
		font-weight: normal;
		color:#9b9b9b;
		letter-spacing:0px;
		text-align:center;
	}
	.block-content{
		text-align: center;
	}
}
.content-block-no-hero {
  padding-top: 70px;
}

.features{
	.tile{
		display: inline-block;
		max-width: 320px;
		text-align: center;
		margin-bottom: 30px;
		a{
			display: block;
			cursor: default;	
			transition: all 0.3s;
			padding: 0 15px;	
		}
		.title{
			font-family: $font_regular;
			color: #000;
			margin-bottom: 20px;
		}
		.icon{
			width: 59px;
			height: 65px;
			display: inline-block;
			background-image: url(http://www.tinypulse.com/hubfs/feature-icons-sprite.png);
			background-repeat: no-repeat;
			background-position: 0 0;
		}
		.feature-2{
			background-position: -99px 0;
		}
		.feature-3{
			background-position:-99*2px 0;
		}
		.feature-4{
			background-position: -99*3px 0;
		}
		.feature-5{
			background-position: -99*4px 0;
		}
		.feature-6{
			background-position: -99*5px 0;
		}
		p{
			font-family: $font_thin;
			font-size:18px;
			color:#9b9b9b;
			letter-spacing:0px;
			text-align:center;
		}
	}
}

.products-desktop{
  display: none;
}

.products-mobile{
  display: block;
  .content{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 0px 15px;
    position: relative;
  }
  .mask-1{
  	padding: 30px 15px;
    background-image: url(//www.tinypulse.com/hubfs/redesign_2016/engage-bg-small.png);
  }
  .mask-2{
  	padding: 30px 15px;
    background-image: url(//www.tinypulse.com/hubfs/redesign_2016/Perform_mobile.png);
  }
  .text{
    color: #FFF;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    .title{
      font-size: 24px;
      line-height: 32px;
      width: 300px;
      text-shadow: 0 2px 10px #333;
      letter-spacing: 0.75px;
      margin: 0;
    }
    .desc{
      font-size: 17px;
      text-shadow: 0 2px 10px #333;
      width: 290px;
      font-family: 'Lato-Light';
    }
    a{
      margin-top: 20px;
      display: inline-block;
      padding: 10px 30px;
      border: 2px solid #fff;
      border-radius: 2px;
      color: #fff;
      transition: all .3s;
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      max-width: 300px;
      &:hover {
        background: #fff;
        color: #333;
      }
    }
  }
}


.success-stories{
	.story{
		display: inline-block;
		max-width: 320px;
		text-align: center;
		margin-bottom: 50px;
		vertical-align: top;
		padding: 0 20px;
		p, span{
			font-size: 14px;
			color: #9B9B9B;
			display: block;
			text-align: left;
			font-family: $font_regular;
		}
		p{
			color: #000;
			font-size:20px;
			line-height:30px;
		}
		span{
			font-size:18px;
			color:#9b9b9b;
			line-height:24px;
			text-align:left;
		}
		strong{
			display: block;
			font-family: $font_bold;	
		}
		.icon{
			img{
				width: 180px;
				height: 180px;
			}
		}
	}
	.more-stories{
		text-align: center;
		margin: 40px 0 80px;
		a{
			padding: 5px 20px 7px;
			border: 1px solid #dadada;
			border-radius: 2px;
			display: inline-block;
			color: #9B9B9B;
			transition: all 0.3s;
			&:hover{
				background: #dadada;
				color: #fff;
			}
		}
	}
}

.ctas{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c5c+0,982c81+100&1+0,0.86+100 */
	background: -moz-linear-gradient(45deg,  rgba(255,92,92,1) 0%, rgba(152,44,129,0.86) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(255,92,92,1) 0%,rgba(152,44,129,0.86) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(255,92,92,1) 0%,rgba(152,44,129,0.86) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 30px 10px;
	.block-title{
		color: #fff;
		padding: 0 20px;
	}
	div{
		text-align: center;
		padding: 0 15px;
		margin: 50px 0 30px 0;
	}
	a{
		display: inline-block;
		color: #fff;
		padding: 10px 0;
		border: 1px solid #fff;
		border-radius: 2px;
		transition: all 0.3s;
		margin: 10px 0;
		width: 100%;

		font-family: $font_semibold;
		font-size:20px;
		color:#ffffff;
		letter-spacing:0.14px;
		text-align:center;

		&:hover{
			background: #fff;
			color: #333;
		}
	}
}

.quote{
	padding: 20px 0;
	background: -moz-linear-gradient(45deg,  rgba(255,92,92,1) 0%, rgba(152,44,129,0.86) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(255,92,92,1) 0%,rgba(152,44,129,0.86) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(255,92,92,1) 0%,rgba(152,44,129,0.86) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	.block-title{
		font-family: $font_regular;
		color: #fff;
		font-size: 20px;
		padding: 0 10px;
	}
	.block-desc{
		font-family: $font_regular;
		color: #fff;
		margin: 0;
		font-size: 16px;
	}
}
.press{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5c5c+0,982c81+100&1+0,0.86+100 */
	background: -moz-linear-gradient(45deg,  rgba(255,92,92,1) 0%, rgba(152,44,129,0.86) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(255,92,92,1) 0%,rgba(152,44,129,0.86) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(255,92,92,1) 0%,rgba(152,44,129,0.86) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 30px 10px 20px 10px;
	text-align: center;
  .title {
    font-family: $font_regular;
    font-size:18px;
    color:#ffffff;
    letter-spacing:0px;
    line-height:30px;
    text-align:center;
  }
	img{
    display: inline-block;
    vertical-align: middle;
    width: 110px;
    height: auto;
    margin: 10px;
	}
}

.new-features-page{
  margin-top: 40px;
	.content-block{
		padding-bottom: 50px;
		border-bottom: 1px solid #DADADA;
		.block-title{
      margin-bottom: 20px;
			.super{
				font-family: $font_light;
				color: #FE2851;
				font-size: 12px;
				position: relative;
				top: -13px;
				left: 3px;
			}
		}
		.block-desc{
			margin-bottom: 10px;
		}
		.block-content{
			padding: 0 15px;
			img{
				max-width: 100%;
				margin: 40px 0;
			}
			p{
				text-align: left;
				font-family: $font_light;
				line-height: 26px;
        font-size: 18px;
			}
		}
	}
  .tp-engage {
    img {
      width: 496px;
      max-width: 496px;
    }
  }
	.download{
    text-align: center;
    margin-top: 30px;
    span{
      display: block;
      margin-bottom: 10px;
      color: #9B9B9B;
    }
    a{
      display: inline-block;
      clear: both;
      vertical-align: middle;
      img {
        max-width: 150px !important;
        margin: 10px 0 !important;
      }
    }
    a.apple-store {
      margin-right: 20px;
    }
    .store{
      width: 100px;
      height: 34px;
      font-size: 0;
      margin-right: 8px;
      background: url(http://www.tinypulse.com/hubfs/redesign_2016/stores.png) no-repeat;
    }
    .google-store{
      background-position: -110px 0;
    }
  }
  .try-it-now{
  	border: 1px solid #dadada;
  	margin: 30px 0;
  	padding: 20px;
  	p{
  		margin: 0 0 20px 0;
  	}
  	a{
			background: #00C26B;
			border-radius: 3px;
			width: 100%;
			text-align: center;
			height: 40px;
			line-height: 40px;
			display: block;
			color: #fff;
			font-size: 16px;
      max-width: 320px;
      margin: 0 auto;
  	}
  }
}

@media screen and (min-width: 960px){
	.header-graphics, .main-content{
		position: relative;
		z-index: 1;
	}
	.main-wrapper{
		padding-bottom: 266px;
	}
  .brands{
  	img{
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 10px;
			margin-top: 0;
			width: 100px;
			display: inline-block;
  	}
  }
  .content-block{
  	padding-top: 50px;
  	.block-title{
  		font-size: 36px;
  	}  	
  }
  .content-block-no-hero {
    padding-top: 90px;
  }
  .features{
  	.tile{
  		max-width: 300px;
  		a{
  			padding: 30px 15px;
				cursor: pointer;	
  			&:hover{
					background: #E8F4FD;
					.icon{
						background-position-y: -90px;
					}
				}
  		}
  		p{
  			font-size: 14px;
  		}
  	}
  }
  .products-mobile{
  	display: none;
  }
  .products-desktop{
  	display: block;
  	height: 1620px;
    background-color: #A39D66;
    overflow: hidden;
    position: relative;
    transition: background-color 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  	.content{
      height: 810px;
      width: 100%;
      overflow: hidden;
      position: relative;
      z-index: 2;
      .container{
      	max-width: 920px;
      	margin: 0 auto;
      	height: 100%;
      	position: relative;
      }
      .text{
        top: 0;
        left: 0;
        color: #fff;
        position: absolute;
	      width: 400px;
	      top: 50%;
  			margin-top: -150px;
	      .title{
	      	font-size: 36px;
        	line-height: 48px;
          text-shadow: 0 2px 10px #333;
	      }
	      .desc{
	      	font-size: 20px;
	      	text-shadow: 0 0 10px #333;
	      }
	      a{
	      	margin-top: 20px;
	      	display: inline-block;
	      	padding: 10px 30px;
	      	border: 2px solid #fff;
	      	border-radius: 2px;
	      	color: #fff;
	      	transition: all 0.3s;
	      	&:hover{
	      		background: #fff;
	      		color: #333;
	      	}
	      }
      }
      .text-1{
      	left: 0;
      }
    }
  	.masked-images{
      position: absolute;
      top: 0;
      left: 0;
      transform: matrix(1, 0, 0, 1, 0, 0);
      width: 100%;
      .masked-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        height: 810px;
        div{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          -webkit-transform: translate3d(0,0,0);
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          height: 810px;
        }
      }
      .masked-image-1{
      	div{
      		background-image: url(//www.tinypulse.com/hubfs/Client_logo/Perform.png);
      	}
      }
      .masked-image-2{
      	div{
      		background-image: url(//www.tinypulse.com/hubfs/redesign_2016/engage-bg.png);
      	}
      }
    }
  }
  .success-stories{
  	.story{
  		max-width: 300px;
  		padding: 0 20px;
  		box-sizing: border-box;
  		.icon{
  			margin: 10px 0 50px 0;
  		}
  		p, span{
  			text-align: left;
  			display: block;
  			font-size: 14px;
  			line-height: 20px;
  		}
  	}
  }
  .ctas{
  	.block-title{
			font-size: 30px;
			color: #fff;
		}
  	a{
  		padding: 7px 30px;
  		font-size: 14px;
  		width: auto;
  		&:nth-child(2){
  			margin-left: 50px;
  			margin-right: 50px;
  		}
  	}
  	div{
  		margin: 0;
  		padding: 0;
  	}
  }
  .quote{
  	padding: 30px;
  	.block-title{
  		font-size: 26px;
  	}
  }
  .press img {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    width: 100px;
    display: inline-block;
  }

  .new-features-page{
    margin-top: 70px;
  	.content-block{
  		.block-content{
  			&.image-right{
  				direction: rtl;
  			}
  			.column{
  				display: inline-block;
					width: 49%;
					box-sizing: border-box;
					/*padding: 20px;*/
					/*vertical-align: middle;*/
          vertical-align: top
          img {
            margin-top: 0px;
          }
				}
				p{
					direction: ltr;
          font-size: 16px;
          line-height: 24px;
				}
				// &:after{
				// 	content: "";
				// 	display: inline-block;
				// 	width: 100%;
				// }
  		}
  	}
    .left-side {
      text-align: left;
      float: left;
      padding-right: 5px;
    }
    .right-side {
      float: right;
      padding-left: 5px;
    }
    .livepulse-content {
      margin-top: 18px;
    }
    .admin-dashboard {
      margin-top: 15%;
    }
    .smartpulse {
      margin-top: 10%;
    }
  	.try-it-now{
  		display: inline-block;
  		width: 100%;
  		direction: ltr;
      padding: 30px 15px;
      box-sizing: border-box;
  		p{
  			vertical-align: middle;
  			width: 720px;
  			display: inline-block;
  			margin: 0 20px 0 0;
  			line-height: 24px;
  			span{
  				display: block;
  			}
  		}
  		a{
  			vertical-align: middle;
  			width: 152px;
  			display: inline-block;
  		}
  	}
  	.download{
      text-align: left;
      span{
        display: inline-block;
        margin-right: 15px;
      }
    }
  }
}
