$font_regular: 'Lato-Regular', Arial;
$font_semibold: 'Lato-Semibold', Arial;
$font_bold: 'Lato-Bold', Arial;
$font_light: 'Lato-Light', Arial;
$font_thin: 'Lato-Thin', Arial;

$font-url: 'http://cdn2.hubspot.net/hubfs/443262/redesign_2016/fonts/';
@font-face {
  font-family: 'Lato-Regular';
  src: url($font-url + 'Lato-Regular.eot');
  src: url($font-url + 'Lato-Regular.woff2') format('woff2'),
  url($font-url + 'Lato-Regular.woff') format('woff'),
  url($font-url + 'Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Light';
  src: url($font-url + 'Lato-Light.eot');
  src: url($font-url + 'Lato-Light.woff2') format('woff2'),
  url($font-url + 'Lato-Light.woff') format('woff'),
  url($font-url + 'Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Semibold';
  src: url($font-url + 'Lato-Semibold.eot');
  src: url($font-url + 'Lato-Semibold.woff2') format('woff2'),
  url($font-url + 'Lato-Semibold.woff') format('woff'),
  url($font-url + 'Lato-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url($font-url + 'Lato-Bold.eot');
  src: url($font-url + 'Lato-Bold.woff2') format('woff2'),
  url($font-url + 'Lato-Bold.woff') format('woff'),
  url($font-url + 'Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Thin';
  src: url($font-url + 'Lato-Thin.eot');
  src: url($font-url + 'Lato-Thin.woff2') format('woff2'),
  url($font-url + 'Lato-Thin.woff') format('woff'),
  url($font-url + 'Lato-Thin.ttf') format('truetype');
}


