.cover {
    height: 350px;
    text-align: center;
    background-size: cover;
}

.company-logo {
    max-width: 300px;
    margin-top: 130px;
}

.company-info {
    text-align: center;
    margin-top: 50px !important;
    .info-group {
        width: 32%;
        display: inline-block;
        vertical-align: top;
        img {
            max-height: 39px;
        }
        .info-title {
            font-family: Lato-Light;
            font-size: 9px;
            line-height: 18px;
        }
        .info-content {
            font-family: Lato-Regular;
            margin-bottom: 50px;
            font-size: 12px;
            line-height: 19px;
        }
    }
}

.company-stats {
    padding-bottom: 50px;
    border-top: 1px solid #DADADA;

    .recognition, .response-feedback{
        max-width: 85%;
        padding-top: 50px;
        text-align: center;
        margin: auto;
        .title {
            font-size: 23px;
            font-weight: 400;
        }
        .label {
            font-size: 14px;
            margin-top: 30px;
        }
    }
    .response-feedback {
        font-size: 0;
        vertical-align: top;
        .response {
            width: 50% !important;
            display: inline-block;
            text-align: center;
        }
        .feedback {
            width: 50% !important;
            display: inline-block;
            text-align: center;
        }
    }
    #recognition, #response, #feedback {
        margin-top: 40px;
    }
     
}

.cs-quote {
    background-image: linear-gradient(0deg, #1C94EE 0%, #00C26B 100%);
    border: 1px solid #DADADA;
    .container {
        max-width: 85% !important;
        margin: 100px auto !important;
        font-size: 30px;
        color: #f37122;
        font-style: italic;
        line-height: 40px;
        text-align: center;
        font-family: Lato-LightItalic;
        font-size: 24px;
        color: #FFFFFF;
    }
}

.ceo {
    background-color: #F2F2F2;
    padding: 30px 5%;
    text-align: center;
    .avatar {
        max-width: 175px;
        margin-bottom: 40px;
    }
    .info {
        text-align: left;
        .name, .position {
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
        }
        .description {
            text-align: left;
            line-height: 30px;
            font-size: 18px;
            margin-top: 20px;
        }
    }
}

.specification {
    padding: 20px 5% 40px;
    .spec {
        .title {
            font-size: 18px;
            line-height: 25px;
            margin: 30px 0 10px;
            text-align: center;
            font-weight: 700;
            line-height: 24px;
        }
        p {
            font-size: 20px;
            line-height: 28px;
            margin-top: 30px;
            font-family: Lato-Light;
        }
    }
}

svg {
    path {
        &.color0 {
            fill: #65adc7;
        }
        &.color1 {
            fill: #dae5e8;
        }
    }
    text {
        font-size: 25px;
        font-weight: 300;
        line-height: 38px;
        fill: #25292a;
    }
}

hr {
    width: 126px;
    margin: 40px auto;
}
@media screen and (min-width: 960px){  
    .company-info {
        img {
            max-height: 70px;
        }
        .info-title {
            font-size: 14px;
            font-weight: bold;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .info-content {
            margin-bottom: 50px;
            font-size: 21px;
            font-weight: bold;
        }
    }
    .cs-quote .container {
        max-width: 960px !important;
    }
    .company-stats {
        .recognition {
            width: 33%;
            display: inline-block;
        }

        .response-feedback {
            width: 66%;
            display: inline-block;
            font-size: 0;
            vertical-align: top;
            .response {
                width: calc(50% - 1px) !important;
                border-left: 1px solid #dad9db;
                display: inline-block;
                text-align: center;
            }
            .feedback {
                width: 50% !important;
                display: inline-block;
                text-align: center;
            }
        }
    }
    .ceo {
        font-size: 0;
        .container {
            .avatar {
                max-width: 175px;
                display: inline-block;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .info {
                width: calc(100% - 330px);
                display: inline-block;
                text-align: left;
                padding-left: 155px;
                vertical-align: top;
                .name {
                    font-size: 20px;
                    font-weight: bold;
                }
                .position {
                    font-size: 20px;
                }
                .description {
                    font-size: 16px;
                }
            }
        }
    }

    .specification {
        padding-left: 0;
        padding-right: 0;
    }
    .insight-result {
        font-size: 0;
        .spec {
            width: calc(50% - 35px);
            display: inline-block;
            vertical-align: top;
        }
        .insight {
            margin-right: 35px;
        }
        .result {
            margin-left: 35px;
        }
        hr {
            display: none;
        }
    }
}

