@import "_typography";

.clearfix {
  clear: both;
}
.header-graphics {
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/engage-header-mobile-bg.png);
  .content {
    h1 {
      margin-top: 80px;
    }
    .try-it-form {
      margin: 35px auto 50px;
    }
  }
}
.list-items {
  padding: 30px;
  text-align: center;
  .block-container{
    border: 1px solid #DADADA;
    margin: 0 auto 20px;
    transition: all .2s ease-in-out;
    max-width: 315px;
  }
  .cs-logo {
    height: 100px;
    padding: 20px;
    line-height: 100px;
    img {
      max-width: 100%;
      max-height: 100%;
      vertical-align: middle;
    }
  }
  .cs-content {
    padding: 20px;
    background-color: #e1e1e1;
    color: #000;
    text-align: left;
    position: relative;
    .title {
      font-size: 16px;
      font-family: $font_regular;
      line-height: 24px;
    }
    .desc {
      font-size: 14px;
      font-family: $font_light;
      line-height: 24px;
      margin-top: 5px;
      .video {
        float: right;
        img {
          vertical-align: bottom;
        }
      }
    }
    .tooltip {
      position: absolute;
      top: -32px;
      left: 13px;
      width: 85%;
      color: #000;
      font-size: 12px;
      background-color: #FFF;
      border: 1px solid #000;
      padding: 7px;
      border-radius: 5px;
      display: none;
      text-align: center;
      transition: all 0.2 ease-in-out;
      &:before {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        content: '';
        left: 50%;
        position: absolute;
        border-top: 9px solid #000;
        bottom: -9px;
        margin-left: -7px;
      }
      &:after {
        margin-left: -7px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 9px solid #FFF;
        bottom: -7px;
        content: '';
        left: 50%;
        position: absolute;
      }
    }
  }
}
li.active-tab {
  display: inline-block;
  font-family: $font_bold;
}
@media screen and (min-width: 960px) {
  .subnav ul li.active-tab:before {
    transform: scaleX(1);
  }
  .content-block .block-title {
    margin-bottom: 30px;
  }
  .list-items {
    padding: 15px;
    font-size: 0;
    text-align: left;
    .block-container {
      margin-bottom: 30px;
      &:hover {
        transform: scale(1.1);
      }
    }
    .block-content {
      width: 30%;
      display: inline-block;
      vertical-align: top;
      margin: 0 15px;
    }
    .cs-content {
      .title {
        height: 48px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
