@import "compass/reset";

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("fonts/SourceSansPro-Regular.eot");
  src: url("fonts/SourceSansPro-Regular.woff2") format("woff2"), url("fonts/SourceSansPro-Regular.woff") format("woff"), url("fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "perform-icon";
    src: url("https://d1i5ulwvtra6uh.cloudfront.net/assets/perform-icon-bcbde06e780b7143b030df929d7f7d76.eot");
    src: url("https://d1i5ulwvtra6uh.cloudfront.net/assets/perform-icon-bcbde06e780b7143b030df929d7f7d76.eot?#iefix") format("embedded-opentype"), url("https://d1i5ulwvtra6uh.cloudfront.net/assets/perform-icon-25b9039addfa26ce2d9dd621debc4b3c.woff") format("woff"), url("https://d1i5ulwvtra6uh.cloudfront.net/assets/perform-icon-99a597adc44949b396324998eb0090ab.ttf") format("truetype"), url("https://d1i5ulwvtra6uh.cloudfront.net/assets/perform-icon-9bef96aae9a917d9fd24f7bfcc891104.svg#perform-icon") format("svg");
    font-weight: normal;
    font-style: normal
}

html, body, .main-wrapper, .content-wrapper{
	height: 100%;
}

body{
	background: #F3F3F4;
	font-family: "SourceSansPro-Regular";
}

a{
	text-decoration: none;
}

header{
	height: 60px;
	box-shadow: 0 3px 0px 0 rgba(0,0,0,0.06);
	position: fixed;
	width: 100%;
	top: 0;
	background: #fff;
	z-index: 10;
	.container{
		padding: 0 10px;
		box-sizing: border-box;
	}
	.logo{
    line-height: 80px;
    height: 60px;
		img{
			width: 250px;
			height: auto;
		}
	}
  .content{
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    left: 0;
    right: 0;
    padding: 20px;
    p{
      font-size: 16px;
      float: left;
    }
    a{
      float: right;
      background: #00C26B;
      border-radius: 3px;
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: 0px;
      padding: 10px 20px;
      margin-top: -8px;
    }
  }
}

nav{
	box-shadow: none;
  width: 50px;
  background-color: #49629E;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  // overflow: hidden;
  transition: all 0.3s;

	ul{
		margin-top: 60px;
    padding-left: 0;
    list-style: none;
    width: 50px;
    li{
      position: relative;
      display: block;
			&.active, &:hover{
				background: #37465C;
			}
			a{
				padding: 15px 0px 15px 15px;
		    color: #fff;
		    display: block;
		    line-height: 23px;
        position: relative;
		    i{
		    	margin-right: 8px;
          display: inline-block;
          font-size: 24px;
          vertical-align: middle;
		    }
		    span{
          display: none;
          vertical-align: middle;
		    }
        &:hover{
          .tooltip{
            opacity: 1;
            visibility: visible;
          }
        }
        &.not-viewed{
          &:after{
            display: inline-block;
          }
        }
        &.viewed{
          &:after{
            display: none;
          }
        }
        &:after{
          position: absolute;
          content: "";
          width: 5px;
          height: 5px;
          background: #bb101c;
          line-height: 0;
          border-radius: 50%;
          vertical-align: top;
          transition: all 0.3s;
          display: none;
        }
			}
      .tooltip{
        font-size: 16px;
        padding: 10px;
        color: #fff;
        background: #4A4A4A;
        border-radius: 3px;
        position: absolute;
        left: 65px;
        top: 3px;
        z-index: 9;
        box-shadow: 2px 2px 3px #333;
        width: 300px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        text-align: left;
        &:before{
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          bottom: 0;
          border-color: transparent #4A4A4A transparent transparent;
          border-style: solid;
          border-width: 7px;
          top: 15px;
          left: -13px;
        }
      }
    }
	}
	[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "perform-icon" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }
  .icon-add-member:before {
      content: '\e800'
  }

  .icon-archive:before {
      content: '\e801'
  }

  .icon-delete:before {
      content: '\e802'
  }

  .icon-exclamation:before {
      content: '\e803'
  }

  .icon-hamburger:before {
      content: '\e804'
  }

  .icon-share:before {
      content: '\e805'
  }

  .icon-more:before {
      content: '\e806'
  }

  .icon-tick:before {
      content: '\e807'
  }

  .icon-edit-o:before {
      content: '\e808'
  }

  .icon-delete-o:before {
      content: '\e809'
  }

  .icon-x:before {
      content: '\e80a'
  }

  .icon-angle-left:before {
      content: '\e80b'
  }

  .icon-calendar-o:before {
      content: '\e80c'
  }

  .icon-archive-o:before {
      content: '\e80d'
  }

  .icon-unarchive-o:before {
      content: '\e80e'
  }

  .icon-rate-below-o:before {
      content: '\e80f'
  }

  .icon-rate-at-o:before {
      content: '\e810'
  }

  .icon-rate-above-o:before {
      content: '\e811'
  }

  .icon-angle-up:before {
      content: '\e812'
  }

  .icon-angle-down:before {
      content: '\e813'
  }

  .icon-suitcase:before {
      content: '\e814'
  }

  .icon-members:before {
      content: '\e815'
  }

  .icon-paperclip:before {
      content: '\e816'
  }

  .icon-angle-right:before {
      content: '\e817'
  }

  .icon-lightbulb:before {
      content: '\e818'
  }

  .icon-exclamation-triangle:before {
      content: '\e819'
  }

  .icon-chrome:before {
      content: '\e81a'
  }

  .icon-snapshot:before {
      content: '\e81b'
  }

  .icon-speed:before {
      content: '\e81c'
  }

  .icon-arrow-up:before {
      content: '\e81d'
  }

  .icon-goal:before {
      content: '\e81e'
  }

  .icon-list:before {
      content: '\e81f'
  }

  .icon-plus:before {
      content: '\e820'
  }

  .icon-setting:before {
      content: '\e821'
  }

  .icon-help-circled:before {
      content: '\e822'
  }

  .icon-tick2:before {
      content: '\e823'
  }

  .icon-circle-dashed:before {
      content: '\e824'
  }

  .icon-rate-above:before {
      content: '\e825'
  }

  .icon-rate-at:before {
      content: '\e826'
  }

  .icon-rate-below:before {
      content: '\e827'
  }

  .icon-tick-o:before {
      content: '\e828'
  }

  .icon-ic_chat_black:before {
      content: '\e82a'
  }
}

.content-wrapper{
  transition: all 0.3s;
	margin-top: 60px;
	margin-left: 75px;
  .main-content{
    max-width: 1160px;
    min-width: 1160px;
    margin: 0 auto;
    .content{
      font-size: 0;
    }
    .block{
      display: inline-block;
      width: 50%;
      box-sizing: border-box;
      vertical-align: top;
      margin-bottom: 20px;
      &:nth-child(2n+1){
        padding-right: 10px;
      }
      &:nth-child(2n){
        padding-left: 10px;
      }
      img{
        max-width: 100%;
        margin-bottom: 20px;
        transition: all 0.3s;
        cursor: pointer;
      }
      .container{
        position: relative;
        &:hover .tooltip{
          opacity: 1;
          visibility: visible;
        }
        &:hover img{
          // border: 1px solid #4CC1FC;
          border-radius: 8px;
          box-shadow: 2px 2px 10px #333;
        }
        .tooltip{
          font-size: 16px;
          padding: 10px;
          color: #fff;
          background: #4A4A4A;
          border-radius: 3px;
          position: absolute;
          bottom: calc(100% - 10px);
          left: 10px;
          right: 10px;
          box-shadow: 2px 2px 8px #333;
          opacity: 0;
          visibility: hidden;
          line-height: normal;
          transition: all 0.3s;
          &:before{
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            bottom: 0;
            border-color: #4A4A4A transparent transparent transparent;
            border-style: solid;
            border-width: 10px 7px;
            bottom: -20px;
          }
        }
      }
    }
    .fullwidth {
      width: 100%;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
  .overview{
    .content-1 .tooltip:before{
      left: 402px;
    }
    .content-2 .tooltip:before{
      left: 178px;
    }
    .content-3 .tooltip:before{
      left: 256px;
    }
    .content-4 .tooltip:before{
      left: 174px;
    }
    .content-5 .tooltip:before{
      left: 210px;
    }
  }
}

.cheers {
  .content-left {
    display: inline-block;
    vertical-align: top;
    img {
      max-width: 368px;
      display: block;
      margin-right: 27px;
      margin-bottom: 30px;
    }    
  }
  .content-right {
    display: inline-block;
    img {
      max-width: 765px;
    }
  }

}

.response, .compare {
  img {
    max-width: 1160px;
  }
}

.vertical-menu{
  background: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 3px 2px 0 rgba(0,0,0,0.06);
  .supper{
    font-size: 12px;
    vertical-align: top;
    line-height: 5px;
    padding-left: 5px;
    opacity: 0.6;
  }
  a{
    display: inline;
    margin-right: 20px;
    color: #9b9b9b;
    position: relative;
    &:hover, &.active{    	
    	color: #4A4A4A;
    }
    i{
    	position: relative;
    	top: -5px;
    }
    &:hover{
    	&+.dropdown-menu{
    		display: block;
    	}
      .tooltip{
        opacity: 1;
        visibility: visible;
      }
    }
    .tooltip{
      font-size: 16px;
      line-height: normal;      
      padding: 10px;
      color: #fff;
      background: #4A4A4A;
      border-radius: 3px;
      position: absolute;
      top: 35px;
      left: 0;
      z-index: 9;
      box-shadow: 2px 2px 3px #333;
      width: 300px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
      &:before{
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        border-color: transparent transparent #4A4A4A transparent;
        border-style: solid;
        border-width: 10px 7px;
        top: -20px;
        left: 25px;
      }
    }
    &.not-viewed{
      &:after{
        display: inline-block;
      }
    }
    &.viewed{
      &:after{
        display: none;
      }
    }
    &:after{
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      background: #EA5661;
      line-height: 0;
      border-radius: 50%;
      vertical-align: top;
      transition: all 0.3s;
      display: none;
    }
  }
  .dropdown{
  	position: relative;
  }
  .dropdown-menu{
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86,96,117,0.7);
    display: none;
    left: 0;
    top: 30px;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    max-width: 450px;
    min-width: 180px;
    background: #fff;
    li{
    	a{
		    line-height: 25px;
		    margin: 4px;
		    font-weight: normal;
    		border-radius: 3px;
    		display: block;
    		padding: 5px 10px;
    	}
    }
  }
}
.main-content{
	padding: 20px 10px 40px;
}

.nav-panel{
  width: 350px;
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 20px;
  max-height: 50px;
  overflow: hidden;
  transition: max-height 0.3s;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(0deg, #1C94EE 0%, #00C26B 94%);
    z-index: -1;
    opacity: 0.9;
  }
  a p span i{
    margin: 0 3px;
    padding: 0;
    height: auto;
    vertical-align: middle;
    position: relative;
    top: 2px;
  }
  .nav-panel-trigger{
    &:after{
      content: "\2199";
      float: right;
      margin-top: -5px;
      margin-right: -3px;
      transform: rotate(180deg);
      transition: all 0.75s;
    }
  }
  a{
    color: #fff;
    font-size: 16px;
    padding: 20px 20px;
    display: block;
  }
  ul{
    height: 320px;
    li{   
      > a{
        padding: 0;
        margin: 0 20px;
      }
      .no{
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 1px solid;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        .fa{
          display: none;
        }
      }
      p{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s;
        line-height: normal;
      }
      &.active{
        margin-bottom: 20px;
        a{
          border-bottom: 1px solid #fff;
          padding-bottom: 20px;
        }
        p{
          max-height: 100px;
          span{
            display: block;
            margin-top: 10px;
          }
        }
        .no{
          background: #fff;
          color: #00C26B;
        }
      }
      &.passed{
        .no{
          background: #fff;
          color: #00C26B;
          i{
            display: none;
          }
          .fa{
            display: inline-block;
          }
        }
      }
      &.checked-step {
        .no {
          background: #fff;
          color: #00C26B;
        }
      }
    }
  }
  .exit-tour{
    float: left;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
  }
  .next-step{
    float: right;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.nav-panel-opened{
  .nav-panel{
    max-height: 500px;
  }
  .nav-panel-trigger{
    &:after{
      transform: rotate(0);
    }
  }
}

.content-wrapper {
  .main-content{
    position: relative;
    .content{
      position: relative;
      opacity: 0;
      visibility: hidden;
      left: 50px;
      transition: all 0.75s;
      width: 0;
      height: 0;
      overflow: hidden;
      left: 50px;
      &.active{
        visibility: visible;
        opacity: 1;
        left: 0;
        width: auto;
        height: auto;
        overflow: visible;
      }
    }
    .non-interactive {
      .block{
        width: 100%;
        padding: 0;
        .container{
          .tooltip{
            left: 0;
            right: 0;
            background: rgba(0,0,0, 0.8);
            padding: 20px;
            width: 330px;
            margin: 0 auto;
            top: 20%;
            bottom: auto;
            font-size: 16px;
            line-height: normal;
            &:before{
              display: none;
            }
          }
          &:hover{
            img{
              box-shadow: none;
            }
            .tooltip{
              opacity: 0;
              visibility: hidden;
              transition: all 0.5s;
            }
          }
          &.clicked{
            .tooltip{
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 991px){
  nav{
    width: 170px;
    ul{
      width: 170px;
      li{
        a{
          span{
            display: inline-block;
          }
        }
      }
    }
  }
  .content-wrapper{
    margin-left: 180px;
  }
}