@import "_typography";

.main-content {
  margin-bottom: 0;
}

.quote {
  background: none;
}

.header-graphics .content { 
  top: 10%;
}
.content .author-avatar {
  display: none;
}
.author .author-avatar {
  width: 54px;
  float: left;
  margin-right: 20px;
}

.author .author-info .job-title {
  font-family: Lato-Regular;
  font-size: 16px;
  color: #9B9B9B;
  line-height: 20px;
  margin-bottom: 0;
}

.author .author-info .author {
  font-family: Lato-Bold;
  font-size: 16px;
  color: #9B9B9B;
  line-height: 20px;
  margin-top: 0;
}

.contact {
  h2 {
    font-size: 24px;
    text-align: center;
  }
}

.information {
  p {
    font-family: Lato-Light;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0px;
    line-height: 24px;
    text-align: justify;
    b {
      font-family: Lato-Bold;
    }
  }

  .separate-line {
    width: 100%;
    height: 2px;
    background: #F1F2F1;
  }

  .quote {
    padding: 0;
    .content {
      margin-top: 30px;
      p {
        font-family: Lato-Bold;
        font-size: 16px;
        color: #000000;
        line-height: 27px;
      }
    }
  }
}
.contact-form, .information {
  padding: 0 20px;
}
.press {
	background: -moz-linear-gradient(45deg,  rgba(255,92,92,1) 0%, rgba(152,44,129,0.86) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(255,92,92,1) 0%,rgba(152,44,129,0.86) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(255,92,92,1) 0%,rgba(152,44,129,0.86) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#db982c81',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  font-size: 0;
  padding: 30px 10px 20px 10px;
  margin-top: 50px;
  .container {
    max-width: 100%;
  }
  .block-title {
    color: #FFF;
    font-size: 18px;
    line-height: 27px;
    font-family: $font_regular;
    margin-bottom: 7px;
    padding: 0px;
  }
  .press-logos {
    padding: 30px 0px;
    text-align: center;
  }
  img {
    margin: 10px 15px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
  }
}

// Hubspot form styling
.hbspt-form {
  margin-top: 30px;
  margin-bottom: 50px;
}

.hs-form input:not([type="image"]), .hs-form textarea{
  box-sizing: border-box!important;
}
.hs-form.stacked .actions{
  margin: 0 0 30px 0!important;
  padding: 0!important;
  text-align: center;
}

.hs-form-required {
  display: none;
}
.input {
  text-align: center;
}
.hs-input {
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 3px 0px 0px 3px;
  font-family: Lato-Semibold !important;
  font-size: 14px;
  color: #9B9B9B;
  padding-left: 10px !important;
  height: 45px !important;
  width: 100% !important;
  max-width: 400px !important;
}

.hs-button.primary.large {
  background: #00C26B;
  border-radius: 3px;
  font-family: Lato-SemiBold !important;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0.14px;
  width: 300px;
  height: 45px;
  border: 0;
  -webkit-appearance: none;
}

.hs-form .hs-button:hover:not(.inactive), .hs-form .hs-button:focus:not(.inactive) {
  border: 0 !important;
  box-shadow: none !important;
}

.hs-form .hs-button:active {
  background: #00C26B !important;
}

.submitted-message {
  font-family: Lato-Regular !important;
  font-size: 18px;
  color: #9B9B9B;
  text-align: center;
  margin-bottom: 100px;

  &:before {
    content: "Thank you!";
    font-family: Lato-Bold !important;
    font-size: 48px;
    color: #00C26B;
    text-align: center;
    margin-bottom: 40px;
    display: block;
  }
  
  &:after {
    content: "";
    font-size: 20px;
    background: url('http://www.tinypulse.com/hubfs/redesign_2016/thumb-up.png');
    width: 117px;
    height: 133px;
    display: block;
    margin: 50px auto 0;
  }
}

ul.hs-error-msgs {
  width: 100% !important;
  max-width: 400px !important;
  margin: 0 auto !important;
}
.hs-error-msgs li label {
  color: #FE2851;
  font-family: $font_regular !important;
}
// For desktop
@media screen and (min-width: 960px){
  .header-graphics {
    height: 400px;
  }

  .main-content .contact {
    max-width: 960px;
    margin: auto;
    &:after{
      content: "";
      width: 100%;
      height: 1px;
      display: inline-block;
    }
  }
  .contact h2 {
    font-size: 36px;
    line-height: 44px;
  }

  .contact .contact-form {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-right: 50px;
  }

  .information {
    width: 50%;
    float: right;
    box-sizing: border-box;
    padding-left: 50px;
    p:first-child{
      margin-top: 0;
    }
    .quote .content {
      p {
        width: calc(100% - 64px);
        margin-right: 10px;
        font-family: Lato-Bold;
        font-size: 16px;
        color: #000000;
        line-height: 27px;
        display: inline-block;
      }  
      .author-avatar {
        width: 54px;
        float: right;
        display: block;
        vertical-align: top;
      }
    }
    .quote .author {
      font-size: 14px;
      .author-avatar {
        display: none;
      }
    }
  }
  .press {
    .container {
      max-width: 960px;
    }
    .press-logos {
      text-align: center;
      padding-bottom: 0px;
    }
    .block-title {
      font-size: 20px;
      line-height: 24px;
    }
    img {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 30px;
      margin-top: 0;
      width: 100px;
      display: inline-block;
    }
  }

  // Hubspot form styling

  .hbspt-form {
    margin-top: 0;
    margin-bottom: 0;
  }

  .hs-form-required {
    display: none;
  }

  .hs-input {
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 3px 0px 0px 3px;
    font-family: Lato-Semibold;
    font-size: 14px;
    color: #9B9B9B;
  }
  .hs_submit {
    margin-top: 50px;
    .actions {
      text-align: center;

      .hs-button.primary.large {
        background: #00C26B;
        border-radius: 3px;
        font-family: Lato-Bold;
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: 0.14px;
        height: 45px;
        border: 0;
        max-width: 250px;
      }
    }
  }

  .hs-form .hs-button:hover:not(.inactive), .hs-form .hs-button:focus:not(.inactive) {
    border: 0 !important;
    box-shadow: none !important;
  }

  .hs-form .hs-button:active {
    background: #00C26B !important;
  }

  .submitted-message {
    margin-bottom: 50px;
    padding-right: 100px;
  }
}

