@import "_typography";
@import "_header";
@import "_content";
@import "_footer";

body {
  font-family: $font_regular;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header-graphics {
  height: 400px;
}

.header-graphics .content {
  top: auto;
  margin-top: 116px;
}

.header-graphics .content h1 {
  margin-bottom: 15px;
}

.header-graphics .sub-headline {
  font-family: Lato-Bold;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0px;
  text-align: center;
}

.main-content .contact {
  margin: 60px 160px;
}

.contact .contact-form {
  width: 50%;
}

.information {
  width: 50%;
  float: right;
}

.information p {
  font-family: Lato-Light;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0px;
  line-height: 24px;
}

.information p b {
  font-family: Lato-Bold;
}

.information .separate-line {
  width: 100%;
  height: 2px;
  background: #F1F2F1;
}

.information .quote {
  padding: 0;
}

.information .quote .content p {
  font-family: Lato-Bold;
  font-size: 16px;
  color: #000000;
  line-height: 27px;
  width: 85%;
  display: inline-block;
}

.information .quote .content img {
  float: right;
  margin-top: 30px;
}

.information .quote .job-title {
  font-family: Lato-Regular;
  font-size: 14px;
  color: #9B9B9B;
  line-height: 20px;
}

.information .quote .author {
  font-family: Lato-Bold;
  font-size: 14px;
  color: #9B9B9B;
  line-height: 20px;
}

.clear {
  clear: both;
}

.press {
  background-image: linear-gradient(-60deg, rgba(123,32,138,0.82) 0%, #FF5C5C 100%);
  padding: 20px 190px 34px;
  margin-top: 64px;
}

.press .title {
  font-family: Lato-Regular;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.press .logos {
  height: 61px;
  margin-top: 20px;
}

.press .logos a:hover {
  cursor: pointer;
}

.press .logos img {
  margin-left: 20px;
  margin-right: 20px; 
  width: 110px;
  max-height: 61px;
  vertical-align: middle;
}
