body{
	background: #4B4EA0;
}
.main-wrapper{
	padding: 0;
  margin-top: -35px;
}
.main-content{
	background: none!important;
	margin-bottom: 0;
}
.content-block{
	font-size: 0;
	&.intro-block{
		text-align: center;
    padding-top: 0px;
		h1{
			font-size: 50px;
		}
		p{
			font-size: 24px;
		}
    .container {
      width: 100vw;
      height: 100vh;
      position: relative;
      .logo {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        img{
          max-width: 300px;
        }
      }
      .vertical-center {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      .instruction {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        bottom: 75px;
        cursor: pointer;
        img {
          width: 25px;
        }
      }
    }
	}
	&.centered-content{
		.content{
			width: 100%;
		}
	}
	&.light-text{
		h1, h2, p{
			color: #fff;
		}
	}
	&.dark-text{
		h1, h2, p{
			color: #000;
		}
	}
	&.rtl{
		direction: rtl;
	}
	.content{
		display: inline-block;
		width: 100%;
		vertical-align: top;
		direction: ltr;
		.title{
			font-size: 32px;
		}
		p{
			font-size: 20px;
      margin: 25px 0;
		}
		img{
			max-width: 100%;
		}
	}
}

@media screen and (min-width: 990px){
	.content-block{
		min-height: 800px;
		.content{
			width: 50%;
		}
	}
}
