$font_regular: 'Lato-Regular', Arial;
$font_semibold: 'Lato-Semibold', Arial;
$font_bold: 'Lato-Bold', Arial;
$font_light: 'Lato-Light', Arial;
$font_thin: 'Lato-Thin', Arial;

body{
	// background: #4B4EA0;
	font-family: $font_regular;
}
.main-wrapper{
	padding: 0;
}
.main-content{
	/*background: none!important;*/
	margin-bottom: 0;
  padding: 10px 12px;
  background-color: #cacaca;
}
.content-block{
	padding: 30px 20px;
	min-height: 450px;
  box-shadow: 0px 0px 5px 1px #888888;
  overflow: hidden;
  background: none!important;
	h1, h2, h3{
		margin: 0;
		font-family: $font_regular;
    font-size: 26px;
	}
	p{
		line-height: 20px;
		font-size: 15px;
		img{
			max-width: 300px;
			margin: 30px auto;
			display: block;
      font-size: 22px;
		}
	}
}
.bottom-waves {
  position: absolute;
  left:0;
  bottom: 0;
  width: 100%;
  min-height: 65px;
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: contain;
  background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/intro-wave-mobile.png);
}
.break-slide {
  width: 100%;
  height: 10px;
  background-color: #cacaca;
}
.intro-block{
	background-color: #7ADFEF;
  padding-bottom: 0px;
  position: relative;
  .container {
    background-color: #7ADFEF;
    text-align: center;
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/intro-bg-no-waves.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    min-height: 445px;
    max-width: 360px;
  }
	h1{
		color: #fff;
		font-size: 57px;
    font-family: 'Lato-Bold';
		text-transform: uppercase;
		letter-spacing: 1px;
		text-shadow: 4px 4px 5px rgba(0,0,0,0.2);
	}
	h2{
		color: #fff;
		font-size: 30px;
    font-family: 'Lato-Bold';
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	h3{
		color: #115771;
		font-size: 15px;
    margin-top: 10px;
    font-family: 'Lato-Bold';
	}
}

.block-2{
	background-color: #22D0CF;
  position: relative;
  min-height: 420px;
	h2{
		color: #fff;
	}
	p{
		color: #115771;
    font-size: 17px;
    line-height: 22px;
    img {
      max-width: 200px;
    }
	}
  .bottom-waves {
    min-height: 85px;
  }
}

.block-3{
	background-color: #2899B1;
  position: relative;
  overflow: hidden;
  min-height: 420px;
  .hero{
    margin: 0 auto;
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-3-hero.png);
    background-size: contain;
    max-height: 160px;
    height: 100%;
    display: block;
    position: absolute;
    max-width: 200px;
    top: auto;
    right: -200px;
    left: 0;
    bottom: -3px;
    background-repeat: no-repeat;
  }
	h2{
		color: #fff;
	}
	p{
		color: #fff;
    font-family: $font_regular;
    max-width: 880px;
    letter-spacing: 1px;
		img{
			max-width: 65%;
	    float: left;
	    margin-top: 0;
      margin-bottom: 0px;
		}
	}
}

.block-4{
	background-color: #0A5779;
	background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-4-bg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: auto 280px;
	h2{
		color: #fff;
	}
	p{
		color: #fff;
		img{
			width: 80%;
	    float: left;
	    margin-top: 20px;
	    max-width: 410px;
		}
	}
}

.block-5{
	background-color: #9D5C9F;
  position: relative;
  min-height: 420px;
  .hero{
    margin: 0 auto;
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-5-hero.png);
    background-size: contain;
    max-height: 135px;
    height: 100%;
    display: block;
    position: absolute;
    max-width: 225px;
    top: auto;
    right: -152px;
    left: 0;
    bottom: -3px;
    background-repeat: no-repeat;
  }
	h2{
		color: #fff;
	}
	p{
		color: #fff;
    font-family: $font_regular;
    max-width: 880px;
    letter-spacing: 1px;
		img{
			max-width: 75%;
	    float: left;
	    margin-top: 0;
      margin-bottom: 0px;
		}
	}
}

.block-6{
	background-color: #6C4A87;
  position: relative;
	h2{
		color: #fff;
	}
	p{
		color: #fff;
		img{
			width: 100%;
	    margin-top: 40px;
	    max-width: 410px;
		}
	}
}

.block-7{
	background-color: #4B3660;
  position: relative;
  min-height: 420px;
  .hero{
    margin: 0 auto;
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-7-hero.png);
    background-size: contain;
    max-height: 195px;
    height: 100%;
    display: block;
    position: absolute;
    max-width: 225px;
    top: auto;
    right: -56%;
    left: 0;
    bottom: -3px;
    background-repeat: no-repeat;
  }
	h2{
		color: #fff;
	}
	p{
		color: #fff;
		img{
      width: 240px;
      float: left;
      margin-top: 10px;
      margin-bottom: 0;
		}
	}
}

.block-8{
	background-color: #835433;
	background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-8-bg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: auto 280px;
	h2{
		color: #fff;
	}
	p{
		color: #fff;
		img{
			width: 43%;
			float: left;
	    margin-top: 0;
	    max-width: 410px;
	    max-height: 340px;
		}
	}
}

.block-9{
	background-color: #FF931E;
	background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-9-bg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: auto 280px;
	padding-bottom: 100px;
	h2{
		color: #074D69;
	}
	p{
		color: #074D69;
		img{
			width: 80%;
	    max-width: 410px;
		}
	}
}

.block-10{
	background-color: #FCC802;
	background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-10-bg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: auto 280px;
	h2{
		color: #074D69;
	}
	p{
		color: #074D69;
		img{
			width: 100%;
	    margin-top: 0;
	    max-width: 410px;
		}
	}
}

.block-11{
	background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-11-bg.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: cover;
	h2{
		text-align: center;
		color: #074D69;
	}
	p{
		color: #074D69;
		img{
			width: 100%;
	    margin-top: 0;
	    margin-bottom: 150px;
	    max-width: 410px;
		}
	}
}

.signup-form{
	margin: 50px auto 10px;
	max-width: 450px;
	min-height: 120px;
	p{
		text-align: center;
	}
	form{
		font-size: 0;
		input{
			display: inline-block;
	    vertical-align: top;
	    padding: 0;
	    margin: 0;
	    border: 0;
	    transition: width 0.3s;
	    box-sizing: border-box;
	    height: 45px;
	    padding: 0 10px;
	    min-height: inherit;
	    text-transform: none;
		}
		input[type=email]{
			border-radius: 3px 0 0 3px;
			width: 65%;
	    color: #000;
	    text-align: center;
	    margin-bottom: 10px;
	    font-family: "Lato-Regular", Arial;
	    font-size: 15px;
		}
		input[type=submit]{
			border-radius: 0 3px 3px 0;
			width: 35%;
			background: #FD7E23;
			color: #fff;
			font-family: "Lato-Semibold", Arial;
			font-size: 16px;
			-webkit-appearance: none;
		}
	}
}

.logos{
	text-align: center;
	margin-bottom: 80px;
	img{
		max-width: 60px;
		max-height: 50px;
		margin: 10px;
		display: inline-block;
		vertical-align: middle;
	}
}
@media screen and (min-width: 568px){
  .block-3 {
    .hero {
      max-height: 215px;
      max-width: 100%;
      right: -60%;
      width: 260px;
    }
    p {
      img {
        max-width: 320px;
      }
    }
  }
  .block-5 {
    .hero {
      max-height: 215px;
      max-width: 100%;
      right: -50%;
      width: 350px;
    }
    p {
      img {
        max-width: 320px;
      }
    }
  }
  .block-6{
  	p{
  		img{
  			margin-top: 80px;
  		}
  	}
  }
  .block-7{
  	background-position: center;
  	background-size: cover;
  }
  .block-8{
  	p{
			img{
				width: auto;
		    max-width: inherit;
		    margin: 0;
			}
		}
  }
  .block-10{
  	p{
  		img{
  			float: left;
  		}
  	}
  }
}

@media screen and (min-width: 660px){
	.block-9{
		background-size: cover;
		background-position: center;
	}
	.block-10{
		background-size: cover;
		background-position: center;
	}
	.block-11{
		background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/large/block-11-bg.jpg);
	}
}

@media screen and (min-width: 990px){
	.content-block{
    min-height: 598px;
		h2{
			margin: 30px 0 20px 0;
			font-size: 40px;
			font-family: $font_regular;
			// font-weight: normal;
		}
		p{
			font-size: 20px;
      line-height: 30px;
			font-family: $font_regular;
		}
		.hero, .secondary-bg{
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			max-width: 960px;
			margin: 0 auto;
			background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
		}
	}
	.block-3{
		background-image: none;
		position: relative;
		.container{
			position: relative;
		}
    .hero {
      height: 100%;
      max-height: 465px;
      bottom: -5px;
      left: 0;
      top: auto;
      right: -440px;
      max-width: 570px;
      width: 100%;
    }
    p{
      img{
        max-width: inherit;
        width: 390px;
        margin-top: 30px;
      }
    }
  }
  .block-4{
    background-image: none;
    position: relative;
    .container{
      position: relative;
      h2 {
        max-width: 765px;
      }
    }
    .hero{
      background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-4-hero.png);
      background-size: 500px auto;
      background-position: right bottom;
    }
    p{
      img{
        width: 460px;
        max-width: inherit;
      }
    }
  }
	.block-5{
		background-image: none;
		position: relative;
		.container{
			position: relative;
		}
    .hero {
      height: 100%;
      max-height: 345px;
      bottom: -5px;
      left: 0;
      top: auto;
      right: -440px;
      max-width: 570px;
      width: 100%;
    }
    p{
      img{
        max-width: inherit;
        width: 500px;
        margin-top: 30px;
      }
    }
  }
  .block-6 {
    p {
      img {
        max-width: 500px;
      }
    }
    .bottom-waves{
    	background-position: center 60px;
    }
  }
	.block-7{
		background-image: none;
		position: relative;
		.container{
			position: relative;
		}
		.hero{
      height: 100%;
      max-height: 550px;
      bottom: -5px;
      left: 0;
      top: auto;
      right: -350px;
      max-width: 610px;
      width: 100%;
		}
		h2{
			max-width: 740px;
			&+p{
				max-width: 580px
			}
		}
		p{
			max-width: 600px;
			img{
				margin-left: 0;
				margin-top: 60px;
				float: none;
        max-width: 350px;
        width: 350px;
			}
		}
	}
	.block-8{
		background-image: none;
		position: relative;
		.container{
			position: relative;
		}
		.hero{
			background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-8-hero.png);
			background-size: 600px auto;
			background-position: right bottom;
			max-width: 1100px;
		}
		p{
			img{
				width: auto;
		    max-width: inherit;
		    max-height: 400px;
		    margin: 0 0 0 40px; 
			}
		}
	}
	.block-9{
		min-height: 588px;
		padding-bottom: 40px;
		background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/wave3.png);
		background-position: center 125%;
		background-size: contain;
		position: relative;
		.container{
			position: relative;
		}
		.hero{
			background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-9-chest.png);
			background-size: 490px auto;
			background-position: right bottom;
			margin-left: 24%;
			margin-top: -70px;
			top: 30px;
		}
		.secondary-bg{
			background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/wave2.png);
			background-position: center 106%;
			background-size: contain;
			max-width: inherit;
			z-index: 1;
		}
		h2{
			text-align: center;
			max-width: 700px;
			margin: 30px auto 20px;
			&+p{
				max-width: 625px;
				margin: 0 auto;
				text-align: left;
			}
		}
		p{
			color: #074D69;
			text-align: center;
			img{
				width: 370px;
				max-width: inherit;
				float: left;
		    margin: 0; 
		    margin-top: -70px;
			}
		}
	}
	.block-10{
		height: 598px;
		background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/wave3.png);
		background-position: center 120%;
		background-size: contain;
		position: relative;
		.container{
			position: relative;
		}
		.hero{
			background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/block-10-boat.png);
			background-size: 490px auto;
			background-position: right bottom;
			margin-left: 24%;
			margin-top: -20px;
		}
		.secondary-bg{
			background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/wave2.png);
			background-position: center 110%;
			background-size: contain;
			max-width: inherit;
			z-index: 1;
		}
		h2{
			text-align: center;
			&+p{
				max-width: 500px;
				text-align: left;
			}
		}
		p{
			text-align: center;
			margin: 0 auto;
			img{
				width: 520px;
				max-width: inherit;
				float: left;
				margin-top: -70px;
				margin-left: 40px;
			}
		}
	}
	.block-11{
		background-position: center bottom;
		p{
			max-width: 550px;
			margin: 0 auto;
			line-height: 30px;
			text-align: justify;
			font-size: 22px;
		}
		h2{
			font-size: 44px;
		}
		.signup-form{
			p{
				text-align: center;
				margin-bottom: 20px;
			}
		}
	}
  .bottom-waves {
    min-height: 195px;
    background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/intro-wave.png);
  }
  .intro-block {
    min-height: 628px;
    .container {
      background-color: #7ADFEF;
      text-align: center;
      background-image: url(https://www.tinypulse.com/hubfs/redesign_2016/startup-culture-report/intro-large-no-waves.jpg);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: contain;
      position: relative;
      top: 0;
      left: 0;
      max-width: 1180px;
      min-height: 628px;
      .content {
        position: absolute;
        left: 44%;
        top: 160px;
      }
    }
    h1 {
      font-size: 100px;
    }
    h2 {
      font-size: 50px;
      margin: 0;
    }
    h3 {
      font-size: 27px;
      margin-top: 30px;
    }
  }
  .block-2 {
    .bottom-waves {
      min-height: 170px;
    }
    p {
      font-size: 22px;
      line-height: 30px;
      img {
        max-width: 300px;
      }
    }
  }
}
@media screen and (min-width: 1200px){
  .intro-block {
    .container {
      .content {
        left: 45%;
        top: 160px;
      }
    }
  }
}

@media screen and (max-width: 375px){
	.block-10 p img{
		margin-bottom: 140px;
	}
}