.module-2 .inner {
  padding: 0 2%;
  font-family: 'Open Sans',sans-serif;
}
.module-2 .inner h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
}
.module-2 .inner .sales-point {
  background-size: 78px 63px;
  padding-bottom: 40px;
  background-position: top left;
  padding-left: 95px;
  background-repeat: no-repeat;
}
.module-2 .inner .sales-point h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.67px;
  padding-bottom: 7px;
}
.module-2 .inner .sales-point p {
  line-height: 22px;
  letter-spacing: .45px;
  margin: 0 0 10px;
  font-size: 14px;
}
.module-2 .inner .video {
  width: 100%;
}
.module-2 .inner .video #video_home_page {
  width: 100%;
  height: auto;
}
.module-2 .inner .clear {
  text-align: center;
}
.module-2 .inner .read-more {
  background-repeat: no-repeat;
  background-image: url(//cdn2.hubspot.net/hubfs/443262/static-pages-images/new-static-pages/blue-arrow.png?t=1466141870599);
  background-size: 7px 11px;
  background-position: 100% 62%;
  padding-right: 15px;
  font-size: 16px;
  line-height: 40px;
  color: #1c94ee;
  text-decoration: none;
}

@media screen and (min-width: 960px) {
  .module-2 .innner {
    padding: 0;
  }
  .module-2 .wrapper {
    padding: 40px 0 25px;
  }
  .module-2 .wrapper .sales-points {
    width: calc(50% - 25px);
    padding-right: 25px;
    float: left;
    text-align: left;
  }
  .module-2 .wrapper .video {
    width: 50%;
    float: left;
    text-align: right;
  }
  .module-2 .learn-more {
    clear: both;
    text-align: center;
  }
  .module-2 .clear {
    clear: both;
    text-align: center;
  }
}
